<template>
    <div>
        <Dialog  header="Добавить новую колонку" v-model:visible="display" :modal="true">
            <div class="label">Название</div>
            <div>
                <InputText type="text" v-model="name" />
            </div>

            <div class="m-t-20"><div class="label">Короткое название</div>
                <InputText type="text" v-model="alias" />
            </div>

            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
                <Button label="Добавить" icon="pi pi-check" autofocus @click="addStroke"/>
            </template>
        </Dialog>
    </div>
</template>

<script>
    import Dialog from 'primevue/dialog';
    import Button from 'primevue/button';
    import InputText from 'primevue/inputtext';
    import {mapGetters, mapActions} from 'vuex';


    export default {
        name: 'AddNewColumn',
        props: ['isparent', 'column'],
        data() {
            return {
                display: false,
                name: '',
                alias: '',
            }
        },
        components: {
            Dialog,
            Button,
            InputText, 
        },
        mounted() {    
        },
        computed: {
           ...mapGetters([
             'YEAR'
           ]),
        },
        methods: {
           ...mapActions([
             'ADD_NEW_COLUMN_TO_API',
           ]),
           openDialog() {
            this.name = '';
            this.alias = '';
            this.display = true;
           },
           closeModal() {
            this.display = false;
           },
           addStroke() {
            if (this.name.length > 0) {
               let parent_id = null;
               if (this.isparent) {
                parent_id = this.column.id;
               } 

               this.ADD_NEW_COLUMN_TO_API({year: this.YEAR,
                                           faculty: localStorage.getItem('faculty'),
                                           name: this.name,
                                           alias: this.alias,
                                           parent_id: parent_id})
               .then(()=> {
                    this.display = false;
               })             
            }
           }
        }   


    }
</script>

<style lang="scss">
    .label {
        padding-bottom: 5px;
        font-weight: bold;
    }

    label {
        padding-left: 5px;
    }
</style>