<template>
    <div>
        <Dialog  header="Добавить новую строку" v-model:visible="display" :modal="true">
            <div class="label">Курс</div>
            <div><Dropdown v-model="selectedCourse" :options="courses" optionLabel="name" placeholder="Выберите курс" :class="{'p-invalid': invalidCourse}"/></div>

            <div class="m-t-20"><div class="label">Семестр</div><Dropdown v-model="selectedSem" :options="sems" optionLabel="name" placeholder="Выберите семестр" :class="{'p-invalid': invalidSem}"/></div>
            <div class="m-t-20"><div class="label">Кафедра</div><Dropdown v-model="selectedDep" :options="deps" optionLabel="name" placeholder="Выберите кафедру" :class="{'p-invalid': invalidDep}"/></div>
            <div class="m-t-20"><div class="label">Тип строки</div><Dropdown v-model="selectedType" :options="STROKE_OBJECT_TYPES" optionLabel="name" placeholder="Выберите тип" @change="onChangeType" :class="{'p-invalid': invalidType}"/></div>
            <div class="m-t-20" v-if="showdop"><div class="label">Дополнительный параметр</div>
                <InputText type="text" v-model="dop" :placeholder="placeholder" :class="{'p-invalid': invalidDop}"/>
            </div>
            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
                <Button label="Добавить" icon="pi pi-check" autofocus @click="addStroke"/>
            </template>
        </Dialog>
    </div>
</template>

<script>
    import Dropdown from 'primevue/dropdown';
    import Dialog from 'primevue/dialog';
    import Button from 'primevue/button';
    import InputText from 'primevue/inputtext';
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: 'AddOwnStroke',
        props: ['deps', 'profile'],
        data() {
            return {
                display: false,
                selectedDep: {},
                selectedSem: {},
                selectedCourse: {},
                selectedType: {},
                sems: [{name: "1"}, {name: "2"}],
                courses: [{name: "1"}, {name: "2"}, {name: "3"}, {name: "4"}, {name: "5"}],
                dop: null,
                placeholder: "",
                showdop: false, 
                invalidSem: false, 
                invalidCourse: false, 
                invalidDep: false, 
                invalidType: false, 
                invalidDop: false, 
            }
        },
        components: {
            Dropdown,
            Dialog,
            Button,
            InputText
        },
        mounted() {    
        },
        computed: {
           ...mapGetters([
             'STROKE_OBJECT_TYPES'
           ]),
        },
        methods: {
           ...mapActions([
             'GET_STROKE_OBJECT_TYPES_FROM_API',
             'ADD_NEW_OWN_STROKE_TO_API'
           ]),
           openDialog() {
            this.GET_STROKE_OBJECT_TYPES_FROM_API().then(()=>{
                console.log(this.STROKE_OBJECT_TYPES)
            })
            this.selectedType = {};
            this.selectedDep = {};
            this.selectedCourse = {};
            this.selectedSem = {};
            this.placeholder = "";
            this.showdop = false;
            this.dop = null;

            this.display = true;
           },
           onChangeType() {
            if (this.selectedType.add_inf_type) {
                this.placeholder = this.selectedType.add_inf_type;
                this.showdop = true;
            }
           },
           closeModal() {
            this.display = false;
           },
           addStroke() {
            if (Object.keys(this.selectedSem).length == 0) {
                this.invalidSem = true;
            }
            else this.invalidSem = false;

            if (Object.keys(this.selectedCourse).length == 0) {
                this.invalidCourse = true;
            }
            else this.invalidCourse = false;

            if (Object.keys(this.selectedDep).length == 0) {
                this.invalidDep = true;
            }
            else this.invalidDep = false;

            if (Object.keys(this.selectedType).length == 0) {
                this.invalidType = true;
            }
            else {
                this.invalidType = false;
                if (this.placeholder != "") {
                    if (!this.dop) {
                        this.invalidDop = true;
                    }
                    else this.invalidDop = false;
                }
                else {
                    this.invalidDop = false;
                }
            } 

            if (!(this.invalidSem || this.invalidCourse || this.invalidType ||
                 this.invalidDop || this.invalidDep)) {
                this.ADD_NEW_OWN_STROKE_TO_API({version: this.$route.params.version,
                                                profile: this.profile,
                                                course: this.selectedCourse.name,
                                                sem: this.selectedSem.name,
                                                type_id: this.selectedType.id,
                                                add_inf: this.dop,
                                                department: this.selectedDep.code})
                .then(()=> {
                    this.display = false;
                })
            }  
           }
        }   


    }
</script>

<style lang="scss">
    .label {
        padding-bottom: 5px;
        font-weight: bold;
    }
</style>