<template>
    <div>
        <Dialog  header="Изменить значение колонки" v-model:visible="display" :modal="true">
            <div class="label">Колонка</div>
            <div><Dropdown v-model="selectedColumn" :options="COLUMNS_FOR_CHANGE" optionLabel="name" placeholder="Выберите колонку" @change="onChangeType"/></div>

            <div class="m-t-20" v-if="!checked"><div class="label">Значение</div>
                <InputNumber  v-model="value"  mode="decimal" :minFractionDigits="2" :maxFractionDigits="4"/>
            </div>
            <div class="field-checkbox m-t-20">
                    <Checkbox id="binary" v-model="checked" :binary="true" />
                    <label for="binary">Вернуть к автоматическому расчету</label>
            </div>

            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
                <Button label="Изменить" icon="pi pi-check" autofocus @click="addStroke"/>
            </template>
        </Dialog>
    </div>
</template>

<script>
    import Dropdown from 'primevue/dropdown';
    import Dialog from 'primevue/dialog';
    import Button from 'primevue/button';
    import InputNumber from 'primevue/inputnumber';
    import {mapGetters, mapActions} from 'vuex';
    import Checkbox from 'primevue/checkbox';

    export default {
        name: 'ChangeColumnValue',
        props: ['stroke', 'profile'],
        data() {
            return {
                display: false,
                selectedColumn: {},
                value: 0,
                checked: false
            }
        },
        components: {
            Dropdown,
            Dialog,
            Button,
            InputNumber, 
            Checkbox
        },
        mounted() {    
        },
        computed: {
           ...mapGetters([
             'COLUMNS_FOR_CHANGE'
           ]),
        },
        methods: {
           ...mapActions([
             'GET_COLUMNS_FOR_CHANGE_FROM_API',
             'CHANGE_COLUMN_VALUE_IN_API',
             'RETURN_COLUMN_VALUE_IN_API'
           ]),
           openDialog() {
            this.GET_COLUMNS_FOR_CHANGE_FROM_API({version: this.$route.params.version,
                                                 faculty: localStorage.getItem('faculty')})
            .then(()=>{
                console.log(this.COLUMNS_FOR_CHANGE)
            })

            this.checked = false;
            this.value = 0;
            this.display = true;
            this.selectedColumn = {};
           },
           onChangeType() {
            let id = this.selectedColumn.id;

            console.log(this.stroke)
            console.log(this.selectedColumn)

            for (let col of this.stroke.columns) {
                if (col.c_id == id) {
                    this.value = col.val;
                    break;
                }
            }
           },
           closeModal() {
            this.display = false;
           },
           addStroke() {
            if (Object.keys(this.selectedColumn).length != 0) {

                if (this.checked) {
                    this.RETURN_COLUMN_VALUE_IN_API({version: this.$route.params.version,
                                                     profile: this.profile,
                                                     uuid: this.stroke.uuid,
                                                     budzhet: this.stroke.budzhet,
                                                     column_id: this.selectedColumn.id,
                                                     dep: this.stroke.department})
                   .then(()=> {
                        this.display = false;
                   }) 

                }
                else {
                   this.CHANGE_COLUMN_VALUE_IN_API({version: this.$route.params.version,
                                                    profile: this.profile,
                                                    uuid: this.stroke.uuid,
                                                    budzhet: this.stroke.budzhet,
                                                    column_id: this.selectedColumn.id,
                                                    value: this.value,
                                                    dep: this.stroke.department})
                   .then(()=> {
                        this.display = false;
                   }) 
                }
                
            }
           }
        }   


    }
</script>

<style lang="scss">
    .label {
        padding-bottom: 5px;
        font-weight: bold;
    }

    label {
        padding-left: 5px;
    }
</style>