<template>
    <div>
        <Dialog  header="Изменить колонку" v-model:visible="display" :modal="true">
            <div class="label">Название</div>
            <div>
                <InputText type="text" v-model="name" />
            </div>

            <div class="m-t-20"><div class="label">Короткое название</div>
                <InputText type="text" v-model="alias" />
            </div>

            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
                <Button label="Изменить" icon="pi pi-check" autofocus @click="addStroke"/>
            </template>
        </Dialog>
    </div>
</template>

<script>
    import Dialog from 'primevue/dialog';
    import Button from 'primevue/button';
    import InputText from 'primevue/inputtext';
    import {mapGetters, mapActions} from 'vuex';


    export default {
        name: 'EditColumn',
        props: ['column'],
        data() {
            return {
                display: false,
                name: '',
                alias: ''
            }
        },
        components: {
            Dialog,
            Button,
            InputText, 
        },
        mounted() {    
        },
        computed: {
           ...mapGetters([
             'YEAR'
           ]),
        },
        methods: {
           ...mapActions([
             'EDIT_COLUMN_IN_API',
           ]),
           openDialog() {
            this.name = this.column.name;
            this.alias = this.column.alias;
            this.display = true;
           },
           closeModal() {
            this.display = false;
           },
           addStroke() {
            if (this.name.length > 0) {
               this.EDIT_COLUMN_IN_API({column_id: this.column.id,
                                        name: this.name,
                                        alias: this.alias})
               .then(()=> {
                    this.display = false;
               })             
            }
           }
        }   


    }
</script>

<style lang="scss">
    .label {
        padding-bottom: 5px;
        font-weight: bold;
    }

    label {
        padding-left: 5px;
    }
</style>