<template>
    <div>
        <Dialog  header="Формула" v-model:visible="display" :modal="true" class="m-w-60">
            <div v-if="invalid" class="invalid">
                        Формула некорректна (скобки не парны либо заканчивается на оператор). 
            </div>
            <div class="all_container">
                <div class="formuls__container">
                    <div class="formula">
                     <template v-for="(c, i) in components" :key="i">
                         <Chip v-if="i === (components.length - 1)" :label="c.name" class="f-name" removable @remove="removeComp"/>
                         <Chip v-else :label="c.name" class="f-name"/> 
                     </template>   
                    </div>
                    <div class="properties__top">
                      <div class="properties__top__left">
                          <div class="properties__top__left-name name-property-block">Операторы</div>
                          <div class="properties__top__left__list"> 
                              <span @click="addOp('+')" class="js-operation" v-bind:class="{block: isOpBlock}">+</span>
                              <span @click="addOp('-')" class="js-operation" v-bind:class="{block: isOpBlock}">-</span>
                              <span @click="addOp('*')" class="js-operation" v-bind:class="{block: isOpBlock}">*</span>
                              <span @click="addOp('/')" class="js-operation" v-bind:class="{block: isOpBlock}">/</span> 
                          </div>
                      </div>
                      <div class="properties__top__left">
                          <div class="properties__top__left-name name-property-block">Скобки</div>
                          <div class="properties__top__left__list"> 
                              <span @click="addLeftS" class="js-operation" v-bind:class="{block: isLeftSBlock}">(</span>
                              <span @click="addRightS" class="js-operation" v-bind:class="{block: isRightSBlock}">)</span>
                          </div>
                      </div>
                      <div class="properties__top__right">
                          <div class="properties__top__right-name name-property-block text">Константы</div>
                          <div class="properties__top__right__input"><input type="number" v-bind:class="{block: isVarBlock}" step="any" pattern="\d+(\.\d)?" v-model="constadded"/><div class="js-const" v-bind:class="{block: isVarBlock}" @click="addConst"></div></div>
                      </div>
                       <Button label="Очистить" class="p-button-raised p-button-text p-button-sm" @click="clear"/>
                  </div>
                  <div class="properties__bottom">
                      <div class="properties__bottom-name name-property-block text"> Переменные </div>
                      <div class="properties__bottom__list js-list-variables">
                        <div class="js-var" @click="addVar(v.value, v.label)" v-bind:class="{block: isVarBlock}" 
                        v-for="v in FORMULS_VARIABLES" :key="v.value">
                           <span>{{v.label}}</span>
                        </div>
                      </div>
                  </div>
                  
                  </div>
                  <div class="constrs-container">
                      <div class="name">Тип объекта</div>
                      <div class="constrs">
                        <div v-for="t in FORMULS_CONSTRS.object_type" :key="t.id" class="box">
                          <Checkbox :id="t.id" name="object_type" :value="t.value" v-model="object_types" />
                          <label :for="t.id">{{t.name}}</label>
                        </div>
                      </div>
                      <div class="name">Квалификация</div>
                      <div class="constrs">
                        <div v-for="t in FORMULS_CONSTRS.qualification" :key="t.id" class="box">
                          <Checkbox :id="t.id" name="qual" :value="t.value" v-model="quals" />
                          <label :for="t.id">{{t.name}}</label>
                        </div>
                      </div>
                      <div class="name">Форма обучения</div>
                      <div class="constrs">
                        <div v-for="t in FORMULS_CONSTRS.forma" :key="t.id" class="box">
                          <Checkbox :id="t.id" name="forma" :value="t.value" v-model="forms" />
                          <label :for="t.id">{{t.name}}</label>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="right">
              <Button label="Сохранить" icon="pi pi-check" autofocus @click="onConfirmCalc"/>
              <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="display = false"/>
            </div>
        </Dialog>   
    </div>
</template>

<script>
    import Dialog from 'primevue/dialog';
    import Button from 'primevue/button';
    import {mapGetters, mapActions} from 'vuex';
    import Chip from 'primevue/chip';
    import Checkbox from 'primevue/checkbox';

    export default {
        name: 'FormulaEditor',
        components: {
            Dialog,
            Button,
            Chip,
            Checkbox
        },
        props: ['formul', 'add', 'column'],
        data() {
            return {
                components: [],
                isOpBlock: false,
                isVarBlock: false,
                isLeftSBlock: false,
                isRightSBlock: false,
                display: false,
                vars: [],
                colS: 0,
                constadded: '',
                showAlert: false,
                object_types: [],
                quals: [],
                forms: [],
                invalid: false
            }
        },
        mounted() {
            this.GET_FORMULS_VARIABLES_FROM_API();
            this.GET_FORMULS_CONSTRS_FROM_API().then(()=>{console.log(this.FORMULS_CONSTRS)})
        },
        computed: {
            ...mapGetters([
             'FORMULS_VARIABLES',
             'FORMULS_CONSTRS'
           ]),
        },
        methods: {
            ...mapActions([
             'GET_FORMULS_VARIABLES_FROM_API',
             'GET_FORMULS_CONSTRS_FROM_API',
             'ADD_FORMULA_TO_API',
             'EDIT_FORMULA_IN_API'
            ]),
            openDialog() {
                this.display = true;
                this.invalid = false;
                
                if (!this.add) {
                    this.components = [];
                    let f = [];
                    let ops = ['+', '-', '*', '/'];
                    this.colS = 0;  
                    if (this.formul.formula)
                      f = this.formul.formula.split('|');  
                    for (let i=0; i<f.length; i++) {
                      if (f[i].includes('_')) {
                        let p = this.FORMULS_VARIABLES[f[i]]
                        this.components.push({'name': p.label, 'value': f[i]});
                      }
                      else {
                        this.components.push({'name': f[i], 'value': f[i]});
                      }
                    }  
                    if (f.length > 0) {
                      let op = f[f.length-1];
                      if (ops.includes(op) || op=='(') {
                        this.isOpBlock = true;
                        this.isVarBlock = false;
                        this.isLeftSBlock = false;
                        this.isRightSBlock = true;
                      }
                      else {
                        this.isOpBlock = false;
                        this.isVarBlock = true;
                        this.isLeftSBlock = true;
                        this.isRightSBlock = true;
                      }
                    }
                    else {
                      this.clear()
                    }

                    this.forms = this.formul.constrs.forma || [];
                    this.object_types = this.formul.constrs.object_type || [];
                    this.quals = this.formul.constrs.qualification || [];
                }
                else this.clear();             

            },
            onConfirmCalc() {
              let len = this.components.length;
              let ops = ['+', '-', '*', '/'];
              let f = '';
              let f_text = '';

              if (len > 0) {
                if (this.colS > 0 || ops.includes(this.components[len-1].name)) {
                  this.invalid = true;
                }
                else {
                  this.invalid = false;
                  for (let i=0; i<len-1; i++) {
                    f += this.components[i].value + '|'
                    f_text += this.components[i].name;
                  }
                  f += this.components[len-1].value;
                  f_text += this.components[len-1].name;

                }
              }

              if (!this.invalid) {
                let constrs = []

                for (let c of this.object_types) {
                  constrs.push({"name": "object_type", "value": c})
                }
                for (let c of this.quals) {
                  constrs.push({"name": "qualification", "value": c})
                }
                for (let c of this.forms) {
                  constrs.push({"name": "forma", "value": c})
                }  

                if (this.add) {
                 this.ADD_FORMULA_TO_API({column_id: this.column, 
                                         data: {"formula": f,
                                                "formula_text": f_text,
                                                "constrs": constrs}})
                     .then(()=> {this.display = false})
                }
                else {
                  this.EDIT_FORMULA_IN_API({column_id: this.column,
                                            formul_id: this.formul.id,
                                            data: {"formula": f,
                                                  "formula_text": f_text,
                                                  "constrs": constrs}})
                      .then(()=> {this.display = false})
                }
              }
            },
            clear() {
              this.isOpBlock = true;
              this.isVarBlock = false;
              this.isLeftSBlock = false;
              this.isRightSBlock = true;
              this.colS = 0;
              this.components = [];
            },
            addOp(op) {
              this.components.push({'name': op, 'value': op});
              this.isOpBlock = true;
              this.isVarBlock = false;
              this.isLeftSBlock = false;
              this.isRightSBlock = true;
            },
            addLeftS() {
              this.components.push({'name': '(', 'value': '('});
              this.isOpBlock = true;
              this.isVarBlock = false;
              this.isLeftSBlock = false;
              this.isRightSBlock = true;
              this.colS += 1;
            },
            addRightS() {
              this.components.push({'name': ')', 'value': ')'});
              this.isOpBlock = false;
              this.isVarBlock = true;
              this.isLeftSBlock = true;
              this.colS -= 1;
              this.isRightSBlock = (this.colS > 0) ? false : true;
            },
            addVar(vId, vName) {
              let val = vName;
              this.components.push({'name': val, 'value': vId});
              this.isOpBlock = false;
              this.isVarBlock = true;
              this.isLeftSBlock = true;
              this.isRightSBlock = (this.colS > 0) ? false : true;
            },
            addConst() {
              if (!Number.isNaN(this.constadded) && !(Number.isNaN(parseFloat(this.constadded)))) {
                this.components.push({'name': this.constadded.toString(), 'value': this.constadded.toString()});
                this.isOpBlock = false;
                this.isVarBlock = true;
                this.isLeftSBlock = true;
                this.isRightSBlock = (this.colS > 0) ? false : true;
              }
            },
            removeComp() {
                this.components.pop();
                if (this.components.length > 0) {
                    let ops = ['+', '-', '*', '/'];
                    let op = this.components[this.components.length-1];
                    console.log(op)
                        if (ops.includes(op.value) || op.value=='(') {
                            this.isOpBlock = true;
                            this.isVarBlock = false;
                            this.isLeftSBlock = false;
                            this.isRightSBlock = true;
                        }
                        else {
                          this.isOpBlock = false;
                          this.isVarBlock = true;
                          this.isLeftSBlock = true;
                          this.isRightSBlock = true;
                        }
                }
                else {
                      this.clear()
                }
           } 
        }      
    }

</script>

<style lang="scss">
    .formuls__container {
        border-right: solid 2px rgba(62, 67, 92, 0.09);
        padding: 0.5em;
        // width: 60%;

        .formula {
          // display: flex;
          flex-wrap: wrap;
          margin-bottom: .3em;
          padding: .5em .2em .5em  .5em ;
          box-sizing: border-box;
          width: 100%;
          // min-width: 600px;
          min-height: 150px;
          border: solid 1px rgba(88, 88, 121, 0.8);
          // box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          border-radius: 2px;
          max-height: 90px;
          overflow: auto;

          .js-name{
            padding: 2px 6px;
            margin: 3px;
            border: 2px solid #3F51B5;
            border-radius: 5px;
            height: fit-content;
           }

           .f-name {
            margin: 3px;
            border: 2px solid #3F51B5;
            padding: 2px;
            background-color: white;
            border-radius: 5px;

            .p-chip-text {
                margin: 2px;
            }
           }
        }

        .block {
          pointer-events: none;
          background-color: #eee !important;
          border-color: #ccc !important;
        }

        .properties__top{
          display: flex;
          justify-content: space-between;
          margin-bottom: .5em;
          margin-top: 20px;
          align-items: flex-end;
            
          .properties__top__left{
            .properties__top__left__list{
              display: flex;
              flex-wrap: wrap;
              .js-operation{
                padding: 2px 6px;
                margin-right: 3px;
                border: 2px solid #3F51B5;
                cursor: pointer;
                border-radius: 5px;
                &:active{
                    transform: scale(.97);
                }
              }
            }
          }
          
          .properties__top__right{
            position: relative;
            height: 100%;
            
            .properties__top__right__input{
              display: flex;
              position: relative;
            }
            input {
              margin: 0;
              border-radius: 5px;
              border: 2px solid #3F51B5;
              outline: none;
            }
            input:focus {
              outline: none;
            }
            .js-const{
                position: absolute;
                background-color: #3F51B5;
                border-radius: 5px;
                right: 1px;
                width: 15%;
                top: 0;
                bottom: 0;
                height: auto;
                background-image: url("../../assets/images/add-const.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: .7em;
                cursor: default;
                &::selection{
                    background-color: transparent;
                }
                &:active{
                    transform: scale(.97);
                }
            }
          }
        }
        .properties__bottom{
            margin-bottom: 2em;
            margin-top: 20px;
            .properties__bottom__list{
                display: flex;
                flex-wrap: wrap;
                font-size: 87%;

                .js-var{
                  padding: 2px 6px;
                  margin: 3px;
                  border: 2px solid #3F51B5;
                  cursor: pointer;
                  border-radius: 5px;
                  &:active{
                      transform: scale(.97);
                  }
                }
            }
        }
    }

    .m-w-60 {
        max-width: 70%;
    }

    .all_container {
        display: flex;
        border-top: solid 2px rgba(62, 67, 92, 0.09);
        border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    }

    .constrs-container {
        width: 300px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        padding: 7px;

        .name {
            color: #54516d;
        }

        .constrs {
            padding-bottom: 7px;
            padding-top: 7px;
        }

        .box {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }

    .invalid {
        color: red;
    }

    .right {
        display: flex;
        margin-top: 7px;
        justify-content: flex-end;
        margin-bottom: 7px;
    }
</style>    