<template>
	<div class="sidebar">
		<div class="top">
			<Button type="button" class="p-button-sm" icon="pi pi-plus" label="Развернуть все" @click="expandAll" />
			<Button type="button" class="p-button-sm" icon="pi pi-minus" label="Свернуть все" @click="collapseAll" />
		</div>
		<Tree class="my-tree" :loading="loading" :value="PROFILES_TREE.tree" selectionMode="single" :expandedKeys="expandedKeys" v-model:selectionKeys="selectedKey" @node-select="onNodeSelect"></Tree>
	</div>
</template>

<script>
	import {mapGetters, mapActions} from 'vuex';
	import Tree from 'primevue/tree';
	import Button from 'primevue/button';
	export default {
		name: 'sidebar',
		components: {
			Tree,
			Button
		},
		data() {
			return {
				expandedKeys: {},
				selectedKey: {},
				loading: false
			}
		},
		watch: {
			$route() {
				let id = this.$route.query.id;
				this.expandedKeys = {}
				this.selectedKey = {}

				for (let n of this.PROFILES_TREE.tree) {
					this.expandedKeys[n.key] = true;
				}

				if (id) {
						this.expandedKeys[this.PROFILES_TREE.keys[id]] = true;
						this.selectedKey[this.PROFILES_TREE.keys[id]+"-"+id] = true;
						this.GET_GROUPS_CONTINGENT_FROM_API({year: this.YEAR,
                                               profile_id: id})
						.then(()=>{})
				}
				else {
					this.CLEAR_GROUPS_CONTINGENT();
				}
			}
		},
		mounted() {
			this.loading = true;
			this.GET_PROFILES_TREE_FROM_API({faculty: localStorage.getItem('faculty')})
			.then(()=>{
				this.loading = false;
				for (let n of this.PROFILES_TREE.tree) {
					this.expandedKeys[n.key] = true;
				}

				let id = this.$route.query.id;
				if (id) {
					this.expandedKeys[this.PROFILES_TREE.keys[id]] = true;
					this.selectedKey[this.PROFILES_TREE.keys[id]+"-"+id] = true;
				}
			})	
		},
		computed: {
			...mapGetters([
			'PROFILES_TREE',
			'GROUPS_CONTINGENT',
			'YEAR'
			]),
		},
		methods: {
			...mapActions([
				'GET_PROFILES_TREE_FROM_API',
				'GET_GROUPS_CONTINGENT_FROM_API',
				'CLEAR_GROUPS_CONTINGENT'
			]),
			expandAll() {
			for (let node of this.PROFILES_TREE.tree) {
				this.expandNode(node);
			}

			this.expandedKeys = {...this.expandedKeys};
			},
			collapseAll() {
				this.expandedKeys = {};
			},
			expandNode(node) {
			this.expandedKeys[node.key] = true;
				if (node.children && node.children.length) {
					for (let child of node.children) {
						this.expandNode(child);
					}
				}
			},
			onNodeSelect(node) {
				this.$router.push({ name: 'Contingent', query: {id: node.id}})
			},
		}
	}
</script>

<style lang="scss">
  .sidebar {
    // display: flex;
    height: calc(100% - 55px);
    overflow-y: scroll;
    position: fixed;
    top: 55px;
    left: 0;
    width: 350px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  }
  .my-tree {
    height: 100%;
    &.p-tree {
        border: none;
    }
    &.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
        flex-grow: 0;
        flex-shrink: 0;
    }
  }
  .top {
    margin: 20px 7px 0px 20px;
    .p-button-sm {
        margin-right:10px;
    }
  }
</style>  