<template>
    <div>
        <table class="cont-table">
              <thead>
                <tr>
                  <th>Всего студентов</th>
                  <th>Из них бюджет</th>
                  <th>Из них внебюджет</th>
                  <th>Из них бюджет (иностранные)</th>
                  <th>Из них внебюджет (иностранные)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{(bc+vc)}}</td>
                  <td>{{bc}}</td>
                  <td>{{vc}}</td>
                  <td>{{bf}}</td>
                  <td>{{vf}}</td>
                </tr>  
              </tbody>
        </table>
    </div>
</template>

<script>
	export default {
		name: "tableCont",
		props: ['bc', 'vc', 'bf', 'vf']
	}
</script>