<template>
    <div>
        <Dialog  header="Выберите контингент" v-model:visible="display" :modal="true">
            <div class="label">Бюджет</div>
            <div>
                <InputNumber type="text" v-model="bc" />
            </div>

            <div class="m-t-20"><div class="label">Внебюджет</div>
                <InputNumber type="text" v-model="vc" />
            </div>

            <ProgressSpinner v-if="activeProgress" class="m-t-20"/> 

            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
                <Button label="Добавить" icon="pi pi-check" autofocus @click="addStroke"/>
            </template>
        </Dialog>
    </div>
</template>

<script>
    import Dialog from 'primevue/dialog';
    import Button from 'primevue/button';
    import InputNumber from 'primevue/inputnumber';
    import {mapGetters, mapActions} from 'vuex';
    import ProgressSpinner from 'primevue/progressspinner';


    export default {
        name: 'ShowStrCont',
        props: ['data', 'activeTeacher', 'activeKey'],
        data() {
            return {
                display: false,
                vc: 0,
                bc: 0,
                activeProgress: false
            }
        },
        components: {
            Dialog,
            Button,
            InputNumber, 
            ProgressSpinner
        },
        mounted() {    
        },
        computed: {
           ...mapGetters([
             'DEP_TEACHERS'
           ]),
        },
        methods: {
           ...mapActions([
             'SET_TEACHER_TO_PRACT_STROKE',
           ]),
           openDialog() {
            if (this.data) {
                this.bc = this.data.bc;
                this.vc = this.data.vbc;
            }

            this.display = true;
           },
           closeModal() {
            this.display = false;
           },
           addStroke() {
            this.activeProgress = true;
            if (this.bc <= this.data.bc && this.vc <= this.data.vbc) {
                    this.SET_TEACHER_TO_PRACT_STROKE({"uuid": this.data.uuid,
                                                 "group_type": this.data.group_type,
                                                 "group_id": this.data.group_id,
                                                 "teacher_id": this.activeTeacher.id,
                                                 "load_version": this.data.load_version,
                                                 "department": this.$route.query.dep,
                                                 "key": this.activeKey,
                                                 "bc": this.bc,
                                                 "vc": this.vc})
                    .then(()=>{
                        this.$emit('setActiveTeacher');
                        this.display = false;
                        this.activeProgress = false;
                    }) 
            }

           }
        }   


    }
</script>

<style lang="scss">
    .label {
        padding-bottom: 5px;
        font-weight: bold;
    }

    label {
        padding-left: 5px;
    }

    .m-t-20 {
        margin-top: 20px;
    }
</style>