<template>
    <div>
        <Dialog  header="Утвердить версию" v-model:visible="display" :modal="true">  
            <div class="fl-s-b">
                <div class="label">{{version.name}} (Для этого факультета)</div>
                <div class="field-checkbox">
                    <Checkbox id="own" v-model="checkedOwn" :binary="true" />
                    <label for="own">Утвердить?</label>
                </div>
            </div>

            <div class="fl-s-b m-t-20">
                <div class="label">{{version.name}} (Передаваемая на другие факультеты)</div>
                <div class="field-checkbox">
                    <Checkbox id="other" v-model="checkedOther" :binary="true" />
                    <label for="other">Утвердить?</label>
                </div>
            </div>

            <div class="m-t-20">
                <div class="label">Комментарий</div>
            </div>

            <Textarea  v-model="comment" :autoResize="true" rows="5" cols="50" />

            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
                <Button label="Сохранить" icon="pi pi-check" autofocus @click="addStroke"/>
            </template>
        </Dialog>
    </div>
</template>


<script>
    import Dialog from 'primevue/dialog';
    import Button from 'primevue/button';
    import Checkbox from 'primevue/checkbox';
    import Textarea from 'primevue/textarea';
    import {mapActions} from 'vuex';

    export default {
        name: "approveVersion",
        components: {
            Dialog,
            Button,
            Checkbox,
            Textarea
        },
        props: ["version"],
        data() {
            return {
                display: false,
                comment: '',
                checkedOwn: false,
                checkedOther: false,
            }
        },
        methods: {
            ...mapActions([
             'SET_VERSION_STATE_TO_API',
            ]),
            openDialog() {
                this.checkedOwn = this.version.active_own || false;
                this.checkedOther = this.version.active_other || false;
                this.display = true;
            },
            closeModal() {
                this.display = false;
            },
            addStroke() {
                this.SET_VERSION_STATE_TO_API({version: this.version.id,
                                               own: this.checkedOwn,
                                               other: this.checkedOther,
                                               comment: {'comment': this.comment}})
                    .then(()=>{this.closeModal()})
            }
        }
    }

</script>  


<style lang="scss">
    .fl-s-b {
        display: flex;
        justify-content: space-between;
    }

    .field-checkbox {
        margin-left: 20px;
        display: flex;
        align-items: center;

        & > div {
            margin-right: 5px;
        }
    }
</style>  