<template>
	<div class="navbar">
		<Menubar :model="items" class="p-menubar-new">
			<template #start>
				<router-link to="/" class="main">Нагрузка</router-link>
			</template>
			<template #item="{item}">
                <a :href="item.url">{{item.label}}</a>
            </template>
			<template #end>
				<div class="name"> {{ user_fio }}</div>
				<Button v-if="IS_AUTHENTICATED" label="Выйти" icon="pi pi-fw pi-sign-out" iconPos="left" class="p-button-text" @click="logout"/>
				<Button v-else label="Войти" icon="pi pi-fw pi-sign-in" iconPos="left" class="p-button-text" @click="signIn" />
			</template>
        </Menubar>
	</div>
</template>

<script>
	import {mapGetters, mapActions} from 'vuex'
	import Menubar from 'primevue/menubar';
	import Button from 'primevue/button';

	export default {
		name: 'navbar',
		components: {
			Menubar,
			Button
		},
		data() {
          return {
            items: [
             ]
          }
        },
        computed: {
          ...mapGetters([
            'SESSION',
            'IS_AUTHENTICATED'
          ]),
          user_fio() {
            if (this.IS_AUTHENTICATED) {
        
            return  [this.SESSION.user.surname, 
                this.SESSION.user.name[0],
                '.',
                this.SESSION.user.patr[0]+'.' || ''].join(' ')
            }          
            return ''
          },
        },
        methods: {
          ...mapActions([
            'LOGOUT'
          ]),
          signIn() {
            this.$router.push('/signin');
          },
          logout() {
            this.LOGOUT().then(this.callback);
          },
          callback() {
            this.$router.push('/signin').catch(()=>{});
          }
        }
	}
</script>


<style lang="scss">
	$color: #3F51B5;

	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: white;
		z-index: 2000;

		.p-menubar-start {
			display: flex;
		}

		.p-menubar-end {
			display: flex;
			align-items: center;

			.name {
				flex-grow: 1;
				text-align: right;
				padding-right: 10px;
			}
		}

		.p-menubar-new {
			border-radius: 0 !important;
			padding: 7px !important;
		}

		.main {
			font-weight: 500;
			margin-right: 9px;
			color: $color;
			font-size: 1.1rem;
			text-decoration: none;
		}

		.p-menubar-root-list {
			// flex-direction: row-reverse;
			flex-grow:1;
		}

		.p-menuitem-text {
			color: $color !important;
		}
	}

</style>