<template>
  <div class="notification">
    <Toast position="bottom-right" /> 
  </div>
</template>

<script>
import Toast from 'primevue/toast';
export default {
  name: 'notifications',
  components: {
    Toast
  },
  data() {
    return {
    }
  },

  computed: {
    n () {
      return this.$store.state.flag
    }
  },

  watch: {
    n: function() {
        this.createToast()
    }
  },
  
  methods: {
    createToast() {
        this.$toast.add({severity:'error', summary: 'Ошибка сервера', detail: this.$store.state.msg, life: 3000})
       }
    },
  }
</script>