<template>
	<div class="year_container">
      <div class="year">
        <i class="pi pi-angle-left arrow" @click="dec"></i>
        <div class="year-view">{{YEAR}}</div>
        <div class="year-view">-</div>
        <div class="year-view">{{YEAR+1}}</div>
        <i class="pi pi-angle-right arrow" @click="inc"></i>
      </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'	
export default {
	name: 'yearpanel',
	data() {
		return {}
	},
	mounted() {
		this.SET_YEAR({year: this.SESSION.user.edited_year})
	},
	computed: {
        ...mapGetters([
            'SESSION',
            'YEAR'
        ]),
    },
    methods: {
        ...mapActions([
            'SET_YEAR'
        ]),
        inc() {
           this.SET_YEAR({year: this.YEAR + 1})
        },
        dec() {
           this.SET_YEAR({year: this.YEAR - 1})
        }
    }          
}		
</script>

<style lang="scss">
  $color-link: #131836;
  $color-top: #2E3A82;

  .arrow {
    cursor: pointer;
    padding-right: 7px;
    padding-left: 7px;
    color: $color-top;
    font-size: 1.3rem;
  }

  .year_container {
    display: flex;
    justify-content: center;
    color: $color-top;
  }

  .year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: .1em .6em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: min-content;
    box-shadow: 0 0 0 2px rgb(62 67 92 / 9%);
  }
</style>
