<template>
  <div class="cont">
    <yearpanel/>
    <div class="container">  
      <div class="bread">
        <router-link to="/">Главная</router-link>
        / Распределение нагрузки
      </div>

      <DataTable :value="DEPS_STAT" responsiveLayout="scroll" class="table-versions">
            <Column field="current" header="Кафедра">
              <template #body="slotProps">
                <router-link :to="{ name: 'TLoad', query: { year: this.YEAR, dep: slotProps.data.department }}">{{slotProps.data.department}} (распределить)</router-link>
              </template>  
            </Column>
            <Column field="all" header="Часов всего">
              <template #body="slotProps">
                <div>{{slotProps.data.all_hours}}</div>
              </template>
            </Column>
            <Column field="thours" header="Из них распределено">
              <template #body="slotProps">
                <div>{{slotProps.data.t_hours}}</div>
              </template>
            </Column>
            <Column field="rates" header="Количество ставок">
              <template #body="slotProps">
                <div>{{slotProps.data.rates}}</div>
              </template>
            </Column>
      </DataTable>

    </div>
  </div>
</template>


<script>
  import yearpanel from '@/components/base/yearpanel';
  import DataTable from 'primevue/datatable';
  import Column from 'primevue/column';
  // import Button from 'primevue/button';
  // import Checkbox from 'primevue/checkbox';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    components: {
      yearpanel,
      DataTable,
      Column,
      // Button,
      // Checkbox
    },
    created() {
      this.$watch('YEAR', () => {
         this.GET_DEPS_STAT_FROM_API({year: this.YEAR,
                                      faculty: localStorage.getItem('faculty')}).
         then(()=>{
          console.log(this.DEPS_STAT)
         })
      })
    },
    mounted() {
      this.GET_DEPS_STAT_FROM_API({year: this.YEAR,
                                      faculty: localStorage.getItem('faculty')})
    },
    data() {
      return {
        active: true
      }
    },
    computed: {
       ...mapGetters([
         'SESSION',
         'YEAR',
         'DEPS_STAT'
       ]),
    },
    methods: {
     ...mapActions([
        'GET_DEPS_STAT_FROM_API',
     ]),
    } 
  }
</script>  


<style lang="scss">
  $color-link: #131836;
  $color-top: #2E3A82;

  .table-versions {
     a {
       color: $color-link;

       &:hover {
        text-decoration: underline;
       }
     }
  }

  .appr:not(.active) {
    color: white;
  }

  .container {
    padding: 30px 50px;

    .bread {
      a {
        color: $color-link;
        font-size: 1.2rem;
        &:hover {
          text-decoration: underline;
        }
      }
      margin-bottom: 20px;
    }
  }

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }
</style>  