<template>
  <div class="cont">
    <div class="container">
    <div class="first-line"> 
      <div class="bread">
        <router-link to="/">Главная</router-link>
        <span> / </span>
        <router-link to="/teachers">Распределение нагрузки</router-link>
        <span> / </span>
        <span>Кафедра {{this.$route.query.dep}}</span>
      </div>
    </div>
    <ContextMenu  :model="menuItems" ref="menu" @click="onMenuItemClick"/>
    <ShowStrCont :data="this.activeData" :activeTeacher="this.activeTeacher" :activeKey="this.activeKey" ref="showcont" @setActiveTeacher="setActiveTeacher"/> 
      <div class="container-load">
           <div class="container-load-left">
              <ProgressSpinner v-if="activeProgressTable"/> 
              <TreeTable :value="strokes"  :scrollable="true" scrollHeight="flex" :filters="filters" filterMode="lenient">
                <Column field="name" header="Дисциплина" :expander="true" class="columnown" style="min-width:300px"  :sortable="true">
                    <template #filter>
                        <InputText type="text" v-model="filters['name']" class="p-column-filter" />
                    </template>
                </Column>
                <Column field="cs" header="Курс/семестр" class="columnown" :sortable="true">
                    <template #filter>
                        <InputText type="text" v-model="filters['cs']" class="p-column-filter" />
                    </template>
                </Column>
                <Column field="count_students" header="Контингент" class="columnown">
                </Column>
                <Column field="group_name" header="Группа" class="columnown" :sortable="true">
                    <template #body="slotProps">
                        <div>
                            {{slotProps.node.data.group_name}}
                            <span class="less">{{slotProps.node.data.group_info}}</span> 
                        </div>    
                    </template> 
                    <template #filter>
                        <InputText type="text" v-model="filters['group_name']" class="p-column-filter" />
                    </template>   
                </Column>
                <Column field="hours_derivared" header="Распределенные часы" class="columnown" :sortable="true"></Column>
                <Column field="summ_all" header="Сумма часов" class="columnown" :sortable="true"></Column>
                <Column field="teachers" header="Преподаватель" class="columnown" :sortable="true" style="min-width:200px">
                    <template #body="slotProps">
                        <div class="fieldset" >
                        <div @click="addToAll(slotProps.node.data, slotProps.node.key)" class="teacheradd">{{slotProps.node.data.teachers}}</div>
                        <ProgressSpinner style="width:20px;height:20px;margin:8px;" v-if="slotProps.node.data.loading" strokeWidth="4" animationDuration=".5s" @closePreload="closePreload(slotProps.node.data)"/>
                        <div class="removeteacher">
                            <span tabindex="0" class="p-chip-remove-icon pi pi-times-circle" v-tooltip.bottom="'Удалить преподавателя(ей)'" v-if="slotProps.node.data.teachers != ''" @click="delFromAll(slotProps.node.data, slotProps.node.key)"></span>
                        </div>
                        </div>
                    </template>
                    <template #filter>
                        <InputText type="text" v-model="filters['teachers']" class="p-column-filter" />
                    </template>
                </Column>
              </TreeTable>
            </div>
            <div class="container-load-right">
              <div class="info-top">
                  <div class="text">Утверждена: {{TEACHERS_VERSION.formatted_date}}</div>
                  <Button icon="pi pi-comment" class="p-button-rounded p-button-outlined" v-tooltip.bottom="{ value: getcomment }"/>
              </div>
                <div class="config">
                    <InputSwitch v-model="checked" />
                    <div class="name">Показывать только нераспределенные</div>
                </div>
                <div class="teachers">
                    <ProgressSpinner v-if="activeProgressTeachers"/>
                    <div class="teachers-block" >
                        <div class="teacher" v-for="teacher in DEP_TEACHERS" :key="teacher.id" @click="setActive(teacher)" :class="{'selected': activeTeacher == teacher}"  @contextmenu="onRightMenuClick($event, teacher.id)">
                            <div class="tname">{{teacher.surname}} {{teacher.name[0]}}.{{teacher.fathername[0]}}.</div>
                            <div class="thours" :class="getClassTH(teacher.hours_info.all, teacher.hours)">{{teacher.hours_info.all}} / {{teacher.hours}}</div>
                        </div>
                    </div>
                    
                </div>
                <div class="info-teachers">

                        <div>Всего часов в I семестре: <b>{{activeTeacher.hours_info.first_sem}}</b></div>
                        <div>Всего часов во II семестре: <b>{{activeTeacher.hours_info.second_sem}}</b> </div>
                        <div>Пар в неделю (максимум) в I семестре: <b>{{activeTeacher.hours_info.pair_first}}</b></div>
                        <div>Пар в неделю (максимум) во II семестре: <b>{{activeTeacher.hours_info.pair_second}}</b></div>
                        <div>Виды дисциплин:</div>
                        <template v-if="activeTeacher.hours_info.types">
                            <div class="p-l-10">Теоретическое обучение: <b>{{activeTeacher.hours_info.types.allaud+activeTeacher.hours_info.types.allvneaud}} ({{activeTeacher.hours_info.types.procaud}}%)</b>
                            - (Лекции - <b>{{activeTeacher.hours_info.types.proclek}}%</b>,
                            Практ. зан. - <b>{{activeTeacher.hours_info.types.procpract}}%</b>,
                            Лабораторные - <b>{{activeTeacher.hours_info.types.proclab}}%</b>,
                            Внеаудиторная - <b>{{activeTeacher.hours_info.types.procvne}}%</b>)
                            </div>
                            <div class="p-l-10">Практики: <b>{{activeTeacher.hours_info.types.practice}}</b></div>
                            <div class="p-l-10">Участие в ГАК: <b>{{activeTeacher.hours_info.types.gak}}</b></div>
                            <div class="p-l-10">ВКР: <b>{{activeTeacher.hours_info.types.gia}}</b></div>
                            <div class="p-l-10">Прочие: <b>{{activeTeacher.hours_info.types.other}}</b></div>
                        </template>
                    </div>
                
            </div>
      </div>
    </div>  
  </div>
</template>

<script>
    import TreeTable from 'primevue/treetable';
    import Column from 'primevue/column';
    import {mapGetters, mapActions} from 'vuex';
    import InputSwitch from 'primevue/inputswitch';
    import InputText from 'primevue/inputtext';
    import Button from 'primevue/button';
    import ShowStrCont from '@/components/loadteachers/show-str-cont';
    import ProgressSpinner from 'primevue/progressspinner';
    import ContextMenu from 'primevue/contextmenu';
    import axios from 'axios';

    export default {
        name: "TLoad",
        components: {
            TreeTable,
            Column,
            InputSwitch,
            InputText,
            Button,
            ShowStrCont,
            ProgressSpinner,
            ContextMenu
        },
        data() {
            return {
                checked: false,
                activeTeacher: {hours_info: {all: "", 
                                             first_sem: "", 
                                             second_sem: "", 
                                             pair_first: "", 
                                             pair_second: "",
                                             }},
                activeTeacherId: null,
                types: ["lek", "pract", "lab"],
                practTypes: [3, 6],
                filters: {},
                activeData: null,
                activeKey: null,
                activeProgressTable: false,
                activeProgressTeachers: false,
                menuItems: [
                    {'label': 'Выгрузить отчет', 'icon': 'pi pi-fw pi-clone'},
                ], 
                activeTLoadId: null,
                closed: false                     
            }
        },
        computed: {
        ...mapGetters([
             'TEACHERS_LOAD',
             'DEP_TEACHERS',
             'TEACHERS_VERSION'
           ]),
           strokes() {
            if (this.checked) {
                return this.TEACHERS_LOAD.filter(e => e.styleClass != "distributed");
            }
            return this.TEACHERS_LOAD;
           },
           getcomment() {
            if (this.TEACHERS_VERSION) 
                return `Комментарий: "${this.TEACHERS_VERSION.comment}"`;
            return "";
           }

        },
        mounted() {
            this.activeProgressTable = true;
            this.GET_TEACHERS_LOAD_FROM_API({year: this.$route.query.year,
                                             department: this.$route.query.dep})
            .then(()=> {
                console.log(this.TEACHERS_LOAD)
                this.activeProgressTable = false;
            })


            this.activeProgressTeachers = true;
            this.GET_DEP_TEACHERS_FROM_API({year: this.$route.query.year,
                                             department: this.$route.query.dep})
            .then(()=> {
                this.activeProgressTeachers = false;
                console.log(this.DEP_TEACHERS)
            })

            this.GET_TEACHERS_VERSION_FROM_API({year: this.$route.query.year,
                                                faculty: localStorage.getItem('faculty')})
            .then(()=> {
                console.log(this.TEACHERS_VERSION)
            })
        },
        methods: {
         ...mapActions([
            'GET_TEACHERS_LOAD_FROM_API',
            'GET_DEP_TEACHERS_FROM_API',
            'SET_TEACHER_TO_ALL_STROKE',
            'SET_TEACHER_TO_LOAD_STROKE',
            'SET_TEACHER_TO_CALC_STROKE',
            'GET_TEACHERS_VERSION_FROM_API',
            'DELETE_TEACHER_TO_PRACT_STROKE',
            'SET_TEACHER_TO_PRACT_STROKE'
         ]),
         onMenuItemClick() {
              let url = `${axios.defaults.baseURL}teachers/report?teacher_id=${this.activeTLoadId}&department=${this.$route.query.dep}&year=${this.$route.query.year}`;
              location.assign(url)
         },
         onRightMenuClick(event, id) {
            this.$refs["menu"].hide();
            this.$refs["menu"].show(event);
            this.activeTLoadId = id;
        },
         setActive(teacher) {
            this.activeTeacher = teacher;
            this.activeTeacherId = teacher.id;
         },
         getClassTH(t1, t2) {
            if (t1 > t2) return "danger";
            return "";
         },
         setActiveTeacher() {
                let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                if (ind >= 0) {  
                    this.activeTeacher = this.DEP_TEACHERS[ind];
                }
         },
         closePreload(data) {
                data.loading = false;
                console.log("djwehbduhyeg")
         },
         addToAll(data, key) {          
            if (this.activeTeacher.id) {

                if (!this.practTypes.includes(data.object_type))
                    data.loading = true;
                
                if (this.practTypes.includes(data.object_type)) {
                    if ((key.includes("-") && data.teacher.teacher_id != -1) ||
                         !key.includes("-") && data.teachers.length != 0) {
                        if (key.includes("-")) {
                            this.activeKey = key.substring(0, key.indexOf("-"));
                        }
                        else this.activeKey = key; 

                        let bc = data.bc;
                        let vc = data.vbc;

                        let tid = key.includes("-") ? data.teacher.teacher_id : 0;

                        this.DELETE_TEACHER_TO_PRACT_STROKE({"uuid": data.uuid,
                                                             "group_type": data.group_type,
                                                             "group_id": data.group_id,
                                                             "teacher_id": tid,
                                                             "load_version": data.load_version,
                                                             "department": this.$route.query.dep,
                                                             "key": this.activeKey})
                        .then(()=>{
                            this.setActiveTeacher();
                            this.SET_TEACHER_TO_PRACT_STROKE({"uuid": data.uuid,
                                                              "group_type": data.group_type,
                                                              "group_id": data.group_id,
                                                              "teacher_id": this.activeTeacher.id,
                                                              "load_version": data.load_version,
                                                              "department": this.$route.query.dep,
                                                              "key": this.activeKey,
                                                              "bc": bc,
                                                              "vc": vc})
                                .then(()=>{
                                    this.setActiveTeacher();
                                }) 
                        })
                    }
                    else {
                      let prom = new Promise((res) => {
                         this.activeData = data;
                         if (key.includes("-")) {
                            this.activeKey = key.substring(0, key.indexOf("-"));
                         }
                         else this.activeKey = key;
                         res("")
                      })
                      prom.then(()=>{
                        this.$refs.showcont.openDialog();
                      }) 
                    }

                }
                else {
                    if (!key.includes("-")) {
                        this.SET_TEACHER_TO_ALL_STROKE({"uuid": data.uuid,
                                                    "group_type": data.group_type,
                                                    "group_id": data.group_id,
                                                    "teacher_id": this.activeTeacher.id,
                                                    "load_version": data.load_version,
                                                    "department": this.$route.query.dep,
                                                    "key": key})
                            .then(()=>{
                                let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                                if (ind >= 0) {  
                                    this.activeTeacher = this.DEP_TEACHERS[ind];
                                }
                            })
                    }
                    else {
                        let newkey = key.substring(0, key.indexOf("-"))

                        if (this.types.includes(data.hours_type)) {
                            this.SET_TEACHER_TO_LOAD_STROKE({"uuid": data.uuid,
                                                             "group_type": data.group_type,
                                                             "group_id": data.group_id,
                                                             "teacher_id": this.activeTeacher.id,
                                                             "load_version": data.load_version,
                                                             "department": this.$route.query.dep,
                                                             "key": newkey,
                                                             "hours_type": data.hours_type})
                            .then(()=>{
                                let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                                if (ind >= 0) {  
                                    this.activeTeacher = this.DEP_TEACHERS[ind];
                                }
                            })
                           
                        }
                        else {
                            this.SET_TEACHER_TO_CALC_STROKE({"uuid": data.uuid,
                                                             "group_type": data.group_type,
                                                             "group_id": data.group_id,
                                                             "teacher_id": this.activeTeacher.id,
                                                             "load_version": data.load_version,
                                                             "department": this.$route.query.dep,
                                                             "key": newkey,
                                                             "calc_id": data.calc_id,
                                                             "hours_type": data.hours_type})
                            .then(()=>{
                                let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                                if (ind >= 0) {  
                                    this.activeTeacher = this.DEP_TEACHERS[ind];
                                }
                            })
                        }  
                    }
                }

            }
         },
         delFromAll(data, key) {
            data.loading = true;
            if (this.practTypes.includes(data.object_type)) {
                if (key.includes("-")) {
                    this.activeKey = key.substring(0, key.indexOf("-"));
                }
                else this.activeKey = key;

                let tid = key.includes("-") ? data.teacher.teacher_id : 0;

                this.DELETE_TEACHER_TO_PRACT_STROKE({"uuid": data.uuid,
                                                     "group_type": data.group_type,
                                                     "group_id": data.group_id,
                                                     "teacher_id": tid,
                                                     "load_version": data.load_version,
                                                     "department": this.$route.query.dep,
                                                     "key": this.activeKey})
                        .then(()=>{
                            let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                            if (ind >= 0) {  
                                this.activeTeacher = this.DEP_TEACHERS[ind];
                            }
                        })
            }
            else {
                if (!key.includes("-")) {
                    this.SET_TEACHER_TO_ALL_STROKE({"uuid": data.uuid,
                                                    "group_type": data.group_type,
                                                    "group_id": data.group_id,
                                                    "teacher_id": -1,
                                                    "load_version": data.load_version,
                                                    "department": this.$route.query.dep,
                                                    "key": key})
                        .then(()=>{
                                let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                                if (ind >= 0) {  
                                    this.activeTeacher = this.DEP_TEACHERS[ind];
                                }
                        })
                }
                else {
                        let newkey = key.substring(0, key.indexOf("-"))

                        if (this.types.includes(data.hours_type)) {
                            this.SET_TEACHER_TO_LOAD_STROKE({"uuid": data.uuid,
                                                             "group_type": data.group_type,
                                                             "group_id": data.group_id,
                                                             "teacher_id": -1,
                                                             "load_version": data.load_version,
                                                             "department": this.$route.query.dep,
                                                             "key": newkey,
                                                             "hours_type": data.hours_type})
                            .then(()=>{
                                let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                                if (ind >= 0) {  
                                    this.activeTeacher = this.DEP_TEACHERS[ind];
                                }
                            })
                           
                        }
                        else {
                            this.SET_TEACHER_TO_CALC_STROKE({"uuid": data.uuid,
                                                             "group_type": data.group_type,
                                                             "group_id": data.group_id,
                                                             "teacher_id": -1,
                                                             "load_version": data.load_version,
                                                             "department": this.$route.query.dep,
                                                             "key": newkey,
                                                             "calc_id": data.calc_id,
                                                             "hours_type": data.hours_type})
                            .then(()=>{
                                let ind = this.DEP_TEACHERS.findIndex(e => e.id == this.activeTeacherId);
                                if (ind >= 0) {  
                                    this.activeTeacher = this.DEP_TEACHERS[ind];
                                }
                            })
                        }  
                }
            } 
         }
        } 
    }
</script> 

<style lang="scss">
    .container-load {
        width: 100%;
        display: flex;
        overflow: hidden;
        height: 100%;
        flex: 1;
        justify-content: space-between;
    }

    .container-load-left {
        height: 100%;
        width: 75%;
        
    }

    .columnown {
        font-size: 90%;
    }

    .p-treetable .p-treetable-tbody > tr.distributed {
       background: rgba(86, 110, 177, 0.05)
    }

    .container .bread span {
        font-size: 1rem;
    }

    .p-treetable-toggler {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .container-load-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23%;
        font-size: 90%;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 120px;

        .config {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;

            .name {
                padding-left: 15px;
                font-size: 90%;
            }
        }

        .teachers {
            background-color: #fdfdfd;
            box-shadow: 0 0 3px 0 rgb(80 80 119 / 23%);
            color: #54516d;
            overflow: auto;
            height: 95%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .teachers-block {
                .teacher {
                    display: flex;
                    padding: 15px 10px;
                    justify-content: space-between;

                    &:hover {
                        background-color: rgba(202, 202, 206, 0.267);
                        cursor: pointer;
                    }

                    &.selected {
                        background-color: rgba(202, 202, 206, 0.267);
                    }

                    .thours.danger {
                        color: #b30000;
                        font-weight: bolder;
                    }
                }
            }

            
        }

        .info-teachers {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding: 10px;
                color: #54516d;
                background-color: #fdfdfd;
                box-shadow: 0 0 3px 0 rgb(80 80 119 / 23%);
                // flex-grow: 1;
                > div {
                    padding-bottom: 8px;
                }
            }
    }

    .p-l-10 {
        padding-left: 10px;
    }

    .fieldset {
        cursor: pointer;
        border: 1px solid rgb(80 80 119 / 13%);
        width: 100%;
        height: 90%;
        border-radius: 3px;
        word-break: break-all;
        display: flex;
    }

    .removeteacher {
        margin: 10px 10px 10px 0;
    }

    .teacheradd {
        flex: 1;
        padding: 10px 5px 10px 10px;
    }

    .less {
        font-size: 12px;
    }

    .p-filter-column {
        .p-multiselect, .p-dropdown, .p-inputtext {
            width: 100%;
        }
    }

    .first-line {
        display: flex;
        justify-content: space-between;
    }

    .info-top {
        font-size: 14px;
        display: flex;
        align-items: center;

        .text {
            margin-right: 10px;
        }
    }
</style>