<template>
  <div class="cont">
  <div class="container">  
    <div class="bread">
      <router-link to="/">Главная</router-link>
      <span> / </span>
      <router-link to="/dirs">Справочники</router-link>
      <span> / </span>
      <span>Кафедры</span>
    </div>

    <div class="top-buttons-sb">
      <Button label="Добавить новую кафедру" @click="addItem" class="p-button-raised p-button-text" />
    </div>

    <ProgressBar v-if="activeProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>
    
    <DataTable  dataKey="id" :value="DIR_DEPARTMENTS" class="dt">
      <Column field="name" header="Наименование" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus style="width:100%;"/>
        </template>
      </Column>
      <Column field="number" header="Номер" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus />
        </template>
      </Column>
      <Column field="faculty_name" header="Факультет" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus />
        </template>
      </Column>
      <Column header="">
        <template #body="slotProps">
            <Button icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Изменить кафедру'" @click="editItem(slotProps.data)"/>
            <Button icon="pi pi-times" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Удалить кафедру'" @click="deleteItem(slotProps.data.id)"/>
        </template>
      </Column>
       
    </DataTable>
    <ConfirmDialog></ConfirmDialog>
  </div>
  <Dialog  :header="header" v-model:visible="display" :modal="true">
        <div class="label">Название кафедры</div>
        <div>
            <InputText type="text" v-model="name" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Номер кафедры</div>
            <InputText type="text" v-model="number" style="width: 100%;"/>
        </div>

        <div class="m-t-20"><div class="label">Факультет</div>
        <Dropdown v-model="selectedFaculty"  :options="FACULTIES" 
         optionLabel="name" optionValue="id"
         placeholder="Выберите факультет" :filter="true"/>
         </div>

        <div v-if="notvalid" class="m-t-20 red">Заполните все поля!</div>

        <template #footer>
            <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="this.display = false;"/>
            <Button label="Сохранить" icon="pi pi-check" autofocus @click="addItemToApi"/>
        </template>
  </Dialog>
  </div>  
</template>

<script>
  import DataTable from 'primevue/datatable';
  import Column from 'primevue/column';
  import Button from 'primevue/button';
  import {mapGetters, mapActions} from 'vuex';
  import InputText from 'primevue/inputtext';
  import Dialog from 'primevue/dialog';
  import ConfirmDialog from 'primevue/confirmdialog';
  import ProgressBar from 'primevue/progressbar';
  import Dropdown from 'primevue/dropdown';
  
  export default {
    components: {
      DataTable,
      Column,
      Button,
      InputText,
      Dialog,
      ConfirmDialog,
      ProgressBar,
      Dropdown
    },
    data() {
      return {
        mode: "add",
        display: false,
        name: "",
        number: "",
        activeProgress: false,
        header: "Добавить новую кафедру",
        notvalid: false,
        selectedFaculty: {},
        editedDep: null
      }
    },
    mounted() {
      this.GET_FACULTIES_FROM_API({ids: null})
      this.GET_DIR_DEPARTMENTS_FROM_API()
    },
    computed: {
       ...mapGetters([
       'FACULTIES',
       'DIR_DEPARTMENTS'
       ]),
    },
    methods: {
     ...mapActions([
        'GET_FACULTIES_FROM_API',
        'ADD_DIR_DEPARTMENT_TO_API',
        'EDIT_DIR_DEPARTMENT_IN_API',
        'DELETE_DIR_DEPARTMENT_FROM_API',
        'GET_DIR_DEPARTMENTS_FROM_API',
     ]),
     addItem() {
      this.mode = "add";
      this.display = true;
      this.notvalid = false;
      this.header = 'Добавить новую кафедру';
     },
     editItem(data) {
      this.mode = "edit";
      this.display = true;
      this.notvalid = false;
      this.name = data.name;
      this.number = data.number.toString();
      this.editedDep = data.id;
      this.selectedFaculty = data.faculty;
      this.header = "Редактировать кафедру";
     },
     addItemToApi() {
      if (this.mode == "add") { 
          if (this.name.length > 0 && this.number.length > 0) {
            this.ADD_DIR_DEPARTMENT_TO_API({name: this.name, number: this.number, faculty_id: this.selectedFaculty})
                .then(()=>{
                  this.display = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      }
      else {
          if (this.name.length > 0 && this.number.length > 0) {
            this.EDIT_DIR_DEPARTMENT_IN_API({name: this.name, number: this.number, faculty_id: this.selectedFaculty,
                                             dep_id: this.editedDep})
                .then(()=>{
                  this.display = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      }
     },
     deleteItem(data) {
      this.$confirm.require({
        message: 'Вы действительно хотите удалить кафедру?',
        header: 'Подтверждение',
        icon: 'pi pi-exclamation-triangle',
        acceptLabel: 'Да',
        rejectLabel: 'Нет',
        accept: () => {
          this.DELETE_DIR_DEPARTMENT_FROM_API({"dep_id": data})
        },
      });
     }
    },
    

  }
</script>


<style lang="scss">

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }

  .top-buttons-sb {
    display: flex;
    justify-content: space-between;
  }

  .label {
        padding-bottom: 5px;
        font-weight: bold;
  }

  label {
        padding-left: 5px;
  }

  .red {
    color: red;
  }

  .m-t-20 {
    margin-top: 20px;
  }

</style>