<template>
    <div class="cont">
      <div class="container">  
        <div class="bread">
          <router-link to="/">Главная</router-link>
          <span> / </span>
          <router-link to="/dirs">Справочники</router-link>
          <span> / </span>
          <span>Направления и профили</span>
        </div>

        <div class="top-buttons-sr">
          <Button label="Синхронизировать с 1С:Университет" class="p-button-raised p-button-text" @click="compareDirections"/>
        </div>

        <ProgressBar v-if="activeProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>

        <TreeTable :scrollable="true" :value="PROFILES_TREE_DIR" scrollHeight="flex" :filters="filters" filterMode="lenient">
                <Column field="name" header="Наименование" :expander="true" :sortable="true" style="min-width:500px">
                    <template #filter>
                        <InputText type="text" v-model="filters['name']" class="p-column-filter" style="width: 100%;"/>
                    </template>
                </Column>
                <Column field="shifr" header="Шифр" :sortable="true">
                    <template #filter>
                        <InputText type="text" v-model="filters['shifr']" class="p-column-filter" />
                    </template>
                </Column>
                <Column field="qual" header="Квалификация" :sortable="true">
                    <template #filter>
                        <InputText type="text" v-model="filters['qual']" class="p-column-filter" />
                    </template>
                </Column>
                <Column field="group_template" header="Шаблон группы" :sortable="true">
                    <template #filter>
                        <InputText type="text" v-model="filters['group_template']" class="p-column-filter" />
                    </template>
                </Column>
                <Column field="uid_1c" header="Получено из 1С?">
                    <template #body="slotProps">
                        <i v-if="slotProps.node.data.uid_1c" class="pi pi-check"></i>
                    </template>
                </Column>
                <Column field="teachers" header="Действия" class="columnown" style="min-width:200px">
                    <template #body="slotProps">
                        <Button v-if="slotProps.node.data.type == 'faculty'" icon="pi pi-plus" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Добавить направление'"  @click="addDirection(slotProps.node.data.id)"/>
                        <Button v-if="slotProps.node.data.type == 'direction'" icon="pi pi-plus" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Добавить профиль'" @click="addProfile(slotProps.node.data)"/>
                        <Button v-if="slotProps.node.data.type != 'faculty'" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Редактировать'" @click="editItem(slotProps.node.data)"/>
                        <Button v-if="slotProps.node.data.type != 'faculty'" icon="pi pi-times" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Удалить'" @click="deleteItem(slotProps.node.data)"/>
                    </template>
                </Column>
                
        </TreeTable>
        <ConfirmDialog></ConfirmDialog>

        <Dialog  :header="hname" v-model:visible="display" :modal="true">
            <div class="label">Название направления</div>
            <div>
                <InputText type="text" v-model="name" style="width: 100%;"/>
            </div>
            <div class="m-t-20"><div class="label">Шифр</div>
                <InputText type="text" v-model="shifr" style="width: 100%;"/>
            </div>
            <div class="m-t-20"><div class="label">Квалификация</div>
                <Dropdown v-model="selectedQual" :options="QUALS" optionLabel="name" optionValue="value" placeholder="Выберите квалификацию" />
            </div>
            <div class="m-t-20"><div class="label">Часть шаблона для создания групп (необязательно)</div>
                <InputText type="text" v-model="groupTemplate" style="width: 100%;"/>
            </div>
            <div v-if="notvalid" class="m-t-20 red">Заполните имя и шифр!</div>
            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="this.display = false;"/>
                <Button label="Сохранить" icon="pi pi-check" autofocus @click="addDirectionToApi"/>
            </template>
        </Dialog>

        <Dialog  :header="pname" v-model:visible="pdisplay" :modal="true">
            <div class="label">Название профиля</div>
            <div>
                <InputText type="text" v-model="name" style="width: 100%;"/>
            </div>
            <div v-if="notvalid" class="m-t-20 red">Заполните имя!</div>
            <template #footer>
                <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="this.pdisplay = false;"/>
                <Button label="Сохранить" icon="pi pi-check" autofocus @click="addProfileToApi"/>
            </template>
        </Dialog>


      </div>
    </div>    
</template>

<script>
  import TreeTable from 'primevue/treetable';
  import Column from 'primevue/column';
  import Button from 'primevue/button';
  import {mapGetters, mapActions} from 'vuex';
  import InputText from 'primevue/inputtext';
  import Dialog from 'primevue/dialog';
  import Dropdown from 'primevue/dropdown';
  import ConfirmDialog from 'primevue/confirmdialog';
  import ProgressBar from 'primevue/progressbar';
  
  export default {
    components: {
      TreeTable,
      Column,
      Button,
      InputText,
      Dialog,
      Dropdown,
      ConfirmDialog,
      ProgressBar
    },
    data() {
      return {
        editingRows: [],
        display: false,
        pdisplay: false,
        name: "",
        groupTemplate: "",
        activeProgress: false,
        filters: {},
        shifr: "",
        selectedQual: {},
        editedFaculty: null,
        editedDirection: null,
        editedProfile: null,
        notvalid: false,
        mode: "add",
        hname: "Добавить направление",
        pname: "Добавить профиль",
      }
    },
    mounted() {
      this.GET_PROFILES_TREE_DIR_FROM_API().then(()=>{
        console.log(this.PROFILES_TREE_DIR)
      })
      this.GET_QUALS_FROM_API()
    },
    computed: {
       ...mapGetters([
       'PROFILES_TREE_DIR',
       'QUALS'
       ]),
    },
    methods: {
     ...mapActions([
        'GET_PROFILES_TREE_DIR_FROM_API',
        'GET_QUALS_FROM_API',
        'COMPARE_DIRECTIONS_IN_API',
        'ADD_DIRECTION_TO_API',
        'EDIT_DIRECTION_IN_API',
        'DELETE_DIRECTION_FROM_API',
        'ADD_PROFILE_TO_API',
        'EDIT_PROFILE_IN_API',
        'DELETE_PROFILE_FROM_API'
     ]),
     addDirection(faculty_id) {
        this.editedFaculty = faculty_id;
        this.display = true;
        this.notvalid = false;
        this.hname = "Добавить направление";
        this.mode = "add";
     },
     addProfile(data) {
        this.editedFaculty = data.faculty_id;
        this.editedDirection = data.id;
        this.pdisplay = true;
        this.notvalid = false;
        this.pname = "Добавить профиль";
        this.mode = "add";
     },
     editItem(data) {
        if (data.type == "direction") {
            this.groupTemplate = data.group_template;
            this.name = data.name;
            this.shifr = data.shifr;
            this.editedFaculty = data.faculty_id;
            this.selectedQual = data.qual_id;
            this.hname = "Редактировать направление";
            this.display = true;
            this.mode = "edit";
            this.editedDirection = data.id;
        }
        else {
            this.name = data.name;
            this.editedFaculty = data.faculty_id;
            this.editedDirection = data.direction_id;
            this.editedProfile = data.id;
            this.pname = "Редактировать профиль";
            this.pdisplay = true;
            this.mode = "edit";
        }
     },
     addDirectionToApi() {
      if (this.mode == "add") { 
          if (this.name.length > 0 && this.shifr.length > 0) {
            this.ADD_DIRECTION_TO_API({name: this.name, shifr: this.shifr, faculty_id: this.editedFaculty,
                                       qual_id: this.selectedQual, group_template: this.groupTemplate})
                .then(()=>{
                  this.display = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      }
      else {
          if (this.name.length > 0 && this.shifr.length > 0) {
            this.EDIT_DIRECTION_IN_API({name: this.name, shifr: this.shifr, faculty_id: this.editedFaculty,
                                        qual_id: this.selectedQual, group_template: this.groupTemplate, 
                                        did: this.editedDirection})
                .then(()=>{
                  this.display = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      } 
     },
     addProfileToApi() {
      if (this.mode == "add") { 
          if (this.name.length > 0) {
            this.ADD_PROFILE_TO_API({name: this.name, faculty_id: this.editedFaculty,
                                     d_id: this.editedDirection})
                .then(()=>{
                  this.pdisplay = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      }
      else {
          if (this.name.length > 0) {
            this.EDIT_PROFILE_IN_API({name: this.name, faculty_id: this.editedFaculty,
                                     d_id: this.editedDirection, p_id: this.editedProfile})
                .then(()=>{
                  this.pdisplay = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      } 
     },
     deleteItem(data) {
         if (data.type == "direction") {
              this.$confirm.require({
                        message: 'Вы действительно хотите удалить направление?',
                        header: 'Подтверждение',
                        icon: 'pi pi-exclamation-triangle',
                        acceptLabel: 'Да',
                        rejectLabel: 'Нет',
                        accept: () => {
                          this.DELETE_DIRECTION_FROM_API({"faculty_id": data.faculty_id, "did": data.id})
                        },
              });
        }
        else {
              this.$confirm.require({
                        message: 'Вы действительно хотите удалить профиль?',
                        header: 'Подтверждение',
                        icon: 'pi pi-exclamation-triangle',
                        acceptLabel: 'Да',
                        rejectLabel: 'Нет',
                        accept: () => {
                          this.DELETE_PROFILE_FROM_API({"faculty_id": data.faculty_id, "d_id": data.direction_id,
                                                        "p_id": data.id})
                        },
              });
        }    
     },
     compareDirections() {
      this.activeProgress = true;
      this.COMPARE_DIRECTIONS_IN_API().then(()=>{
        this.activeProgress = false;
        this.$toast.add({severity:'success', summary: 'Успешно', detail:'Синхронизация успешно завершена', life: 3000});
      })
     }
    } 

  }
</script>


<style lang="scss">

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }

  .top-buttons-sr {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .label {
        padding-bottom: 5px;
        font-weight: bold;
  }

  label {
        padding-left: 5px;
  }

  .p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler {
    flex-shrink: 0 !important;
  }

  .red {
    color: red;
  }
</style>