<template>
    <div class="cont">
        <div class="container">
            <div class="bread">
              <router-link to="/">Главная</router-link>
              / Справочники
            </div>

            <div class="container__dashboard__lists">
                <div class="container__dashboard__list">
                    <div class="container__dashboard__head">Расчёт нагрузки</div>
                    <div class="box-container">
                        <div class="box"><a>Формы обучения</a></div>
                        <div class="box"><a>Квалификации</a></div>
                        <div class="box"><router-link to="/dirs/faculties">Факультеты</router-link></div>
                        <div class="box"><router-link to="/dirs/directions">Направления и профили</router-link></div>
                        <div class="box"><router-link to="/dirs/departments">Кафедры</router-link></div>
                        <div class="box"><router-link to="/dirs/objecttypes">Типы дисциплин для составления формул</router-link></div>
                        <div class="box"><router-link to="/dirs/typesofwork">Типы работ для учебных планов</router-link></div>
                    </div>
                </div>
                
                <div class="container__dashboard__list">
                    <div class="container__dashboard__head">Распределение нагрузки</div>
                    <div class="box-container">
                        <div class="box"><router-link to="/dirs/teachers">Преподаватели</router-link></div>
                        <!-- <div class="box"><a href="#">Преподаватели-предметы</a></div> -->
                    </div>
                </div>  

<!--                 <div class="container__dashboard__list">
                    <div class="container__dashboard__head">Администрирование</div>
                    <div class="box-container">
                        <div class="box"><a href="/users">Пользователи</a></div>
                    </div>
                </div>  --> 

            </div>

        </div>
    </div>  
</template>

<style lang="scss">
    .box-container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        .box {

            &:hover {
                box-shadow: 0 6px 16px #dddfee;
            }

            display: flex;
            justify-content: center;
            // border: 1px solid black;
            margin-right: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-size: 16px;
            color: black;
            background-color: white;
            box-shadow: 0 6px 16px #e6ebf5cc;

            a {
                padding: 10px;
                color: black;
            }
        }
    }
</style>
