<template>
  <div class="cont">
  <div class="container">  
    <div class="bread">
      <router-link to="/">Главная</router-link>
      <span> / </span>
      <router-link to="/dirs">Справочники</router-link>
      <span> / </span>
      <span>Факультеты</span>
    </div>

    <div class="top-buttons-sb">
      <Button label="Добавить новый факультет" @click="this.display = true;" class="p-button-raised p-button-text" />
      <Button label="Синхронизировать с 1С:Университет" class="p-button-raised p-button-text" @click="compareFaculties"/>
    </div>

    <ProgressBar v-if="activeProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>
    
    <DataTable  dataKey="id" :value="FACULTIES" class="dt" editMode="row" v-model:editingRows="editingRows" @row-edit-save="onRowEditSave">
      <Column field="name" header="Наименование" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus style="width:100%;"/>
        </template>
      </Column>
      <Column field="group_template" header="Шаблон для группы" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus />
        </template>
      </Column>
      <Column :rowEditor="true"  bodyStyle="text-align:center"></Column>
      <Column header="">
        <template #body="slotProps">
            <Button icon="pi pi-times" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Удалить факультет'" @click="deleteFaculty(slotProps.data.id)"/>
        </template>
      </Column>
       
    </DataTable>
    <ConfirmDialog></ConfirmDialog>
  </div>
  <Dialog  header="Добавить новый факультет" v-model:visible="display" :modal="true">
      <div class="label">Название факультета</div>
        <div>
            <InputText type="text" v-model="name" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Часть шаблона для создания групп (необязательно)</div>
            <InputText type="text" v-model="groupTemplate" style="width: 100%;"/>
        </div>

        <template #footer>
            <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="this.display = false;"/>
            <Button label="Добавить" icon="pi pi-check" autofocus @click="addFaculty"/>
        </template>
  </Dialog>
  </div>  
</template>

<script>
  import DataTable from 'primevue/datatable';
  import Column from 'primevue/column';
  import Button from 'primevue/button';
  import {mapGetters, mapActions} from 'vuex';
  import InputText from 'primevue/inputtext';
  import Dialog from 'primevue/dialog';
  import ConfirmDialog from 'primevue/confirmdialog';
  import ProgressBar from 'primevue/progressbar';
  
  export default {
    components: {
      DataTable,
      Column,
      Button,
      InputText,
      Dialog,
      ConfirmDialog,
      ProgressBar
    },
    data() {
      return {
        editingRows: [],
        display: false,
        name: "",
        groupTemplate: "",
        activeProgress: false
      }
    },
    mounted() {
      this.GET_FACULTIES_FROM_API({ids: null})
    },
    computed: {
       ...mapGetters([
       'FACULTIES',
       ]),
    },
    methods: {
     ...mapActions([
        'GET_FACULTIES_FROM_API',
        'ADD_FACULTY_TO_API',
        'EDIT_FACULTY_IN_API',
        'DELETE_FACULTY_FROM_API',
        'COMPARE_FACULTIES_IN_API'
     ]),
     onRowEditSave(event) {
        let { newData, index } = event;

        if (newData.name.length >= 0) {
          this.EDIT_FACULTY_IN_API({name: newData.name, group_template: newData.group_template,
                                    faculty_id: newData.id})
          .then(()=>{
            this.FACULTIES[index] = newData;
          })
        }
     },
     addFaculty() {
      if (this.name.length > 0) {
        this.ADD_FACULTY_TO_API({name: this.name, group_template: this.groupTemplate})
            .then(()=>{
              this.display = false;
            })
      } 
     },
     deleteFaculty(fId) {
      this.$confirm.require({
                message: 'Вы действительно хотите удалить факультет?',
                header: 'Подтверждение',
                icon: 'pi pi-exclamation-triangle',
                acceptLabel: 'Да',
                rejectLabel: 'Нет',
                accept: () => {
                  this.DELETE_FACULTY_FROM_API({"faculty_id": fId})
                },
      });
     },
     compareFaculties() {
      this.activeProgress = true;
      this.COMPARE_FACULTIES_IN_API().then(()=>{
        this.activeProgress = false;
        this.$toast.add({severity:'success', summary: 'Успешно', detail:'Синхронизация успешно завершена', life: 3000});
      })
     }
    } 

  }
</script>


<style lang="scss">

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }

  .top-buttons-sb {
    display: flex;
    justify-content: space-between;
  }

  .label {
        padding-bottom: 5px;
        font-weight: bold;
  }

  label {
        padding-left: 5px;
  }
</style>