<template>
  <div class="cont">
  <div class="container">  
    <div class="bread">
      <router-link to="/">Главная</router-link>
      <span> / </span>
      <router-link to="/dirs">Справочники</router-link>
      <span> / </span>
      <span>Типы дисциплин</span>
    </div>

    <div class="top-buttons-sb">
      <Button label="Добавить новый тип" @click="addItem" class="p-button-raised p-button-text" />
    </div>

    <ProgressBar v-if="activeProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>
    
    <DataTable  dataKey="id" :value="OBJECT_TYPES_DIR" class="dt">
      <Column field="name" header="Наименование" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus style="width:100%;"/>
        </template>
      </Column>
      <Column field="add_inf_type" header="Дополнительная информация" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus />
        </template>
      </Column>
      <Column header="">
        <template #body="slotProps">
          <template v-if="slotProps.data.own">
            <Button icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Изменить тип'" @click="editItem(slotProps.data)"/>
            <Button icon="pi pi-times" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Удалить тип'" @click="deleteItem(slotProps.data.id)"/>
          </template>  
        </template>
      </Column>
       
    </DataTable>
    <ConfirmDialog></ConfirmDialog>
  </div>
  <Dialog  :header="header" v-model:visible="display" :modal="true">
        <div class="label">Название</div>
        <div>
            <InputText type="text" v-model="name" style="width: 100%;"/>
        </div>

        <div class="m-t-20"><div class="label">Дополнительный тип</div>
        <Dropdown v-model="selectedType"  :options="add_inf_types" 
         optionLabel="name" optionValue="id"
         placeholder="Выберите тип дополнительной информации" :filter="true"/>
         </div>

        <div v-if="notvalid" class="m-t-20 red">Заполните все поля!</div>

        <template #footer>
            <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="this.display = false;"/>
            <Button label="Сохранить" icon="pi pi-check" autofocus @click="addItemToApi"/>
        </template>
  </Dialog>
  </div>  
</template>

<script>
  import DataTable from 'primevue/datatable';
  import Column from 'primevue/column';
  import Button from 'primevue/button';
  import {mapGetters, mapActions} from 'vuex';
  import InputText from 'primevue/inputtext';
  import Dialog from 'primevue/dialog';
  import ConfirmDialog from 'primevue/confirmdialog';
  import ProgressBar from 'primevue/progressbar';
  import Dropdown from 'primevue/dropdown';
  
  export default {
    components: {
      DataTable,
      Column,
      Button,
      InputText,
      Dialog,
      ConfirmDialog,
      ProgressBar,
      Dropdown
    },
    data() {
      return {
        mode: "add",
        display: false,
        name: "",
        activeProgress: false,
        header: "Добавить новый тип",
        notvalid: false,
        selectedType: 0,
        editedType: null,
        add_inf_types: [{"name": "Нет", "id": 0}, {"name": "нед.", "id": "нед."}, {"name": "чел.", "id": "чел."}]
      }
    },
    mounted() {
      this.GET_FACULTIES_FROM_API({ids: null})
      this.GET_OBJECT_TYPES_DIR_FROM_API()
    },
    computed: {
       ...mapGetters([
       'FACULTIES',
       'OBJECT_TYPES_DIR'
       ]),
    },
    methods: {
     ...mapActions([
        'GET_FACULTIES_FROM_API',
        'ADD_OBJECT_TYPES_DIR_TO_API',
        'EDIT_OBJECT_TYPES_DIR_IN_API',
        'DELETE_OBJECT_TYPES_DIR_FROM_API',
        'GET_OBJECT_TYPES_DIR_FROM_API',
     ]),
     addItem() {
      this.mode = "add";
      this.display = true;
      this.notvalid = false;
      this.header = 'Добавить новый тип';
     },
     editItem(data) {
      this.mode = "edit";
      this.display = true;
      this.notvalid = false;
      this.name = data.name;
      this.editedType = data.id;
      this.selectedType = data.add_inf_type || 0;
      this.header = "Редактировать тип";
     },
     addItemToApi() {
      if (this.mode == "add") { 
          if (this.name.length > 0) {
            this.ADD_OBJECT_TYPES_DIR_TO_API({name: this.name, add_inf: this.selectedType})
                .then(()=>{
                  this.display = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      }
      else {
          if (this.name.length > 0) {
            this.EDIT_OBJECT_TYPES_DIR_IN_API({name: this.name, add_inf: this.selectedType, ot_id: this.editedType})
                .then(()=>{
                  this.display = false;
                })
          }
          else {
            this.notvalid = true;
          } 
      }
     },
     deleteItem(data) {
      this.$confirm.require({
        message: 'Вы действительно хотите удалить тип?',
        header: 'Подтверждение',
        icon: 'pi pi-exclamation-triangle',
        acceptLabel: 'Да',
        rejectLabel: 'Нет',
        accept: () => {
          this.DELETE_OBJECT_TYPES_DIR_FROM_API({"ot_id": data})
        },
      });
     }
    },
    

  }
</script>


<style lang="scss">

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }

  .top-buttons-sb {
    display: flex;
    justify-content: space-between;
  }

  .label {
        padding-bottom: 5px;
        font-weight: bold;
  }

  label {
        padding-left: 5px;
  }

  .red {
    color: red;
  }

  .m-t-20 {
    margin-top: 20px;
  }

</style>