<template>
  <div class="cont">
  <div class="container">  
    <div class="bread">
      <router-link to="/">Главная</router-link>
      <span> / </span>
      <router-link to="/dirs">Справочники</router-link>
      <span> / </span>
      <span>Преподаватели</span>
    </div>

    <Dropdown v-model="selectedFaculty"  :options="FACULTIES" 
     optionLabel="name" optionValue="id"
     placeholder="Выберите факультет" :filter="true" @change="onСhange()"/>

     <div v-if="this.selectedFaculty > 0">
       <div class="top-buttons-sb m-t-20">
         <Button label="Добавить нового преподавателя" @click="this.display = true;" class="p-button-raised p-button-text" />
         <Button label="Синхронизировать с 1С:Университет" class="p-button-raised p-button-text" @click="compareTeachers"/>
       </div>

       <ProgressBar v-if="activeProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>

       <DataTable  dataKey="id" :value="TEACHERS_DIR" class="dt">
          <Column field="surname" header="Фамилия" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus style="width:100%;"/>
            </template>
          </Column>
          <Column field="name" header="Имя" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column field="fathername" header="Отчество" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column field="position" header="Должность" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column field="degree" header="Ученая степень" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column field="academic_rank" header="Ученое звание" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column field="part_of_rate" header="Доля ставки" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column field="state_text" header="Штатный" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column field="department" header="Кафедра" :sortable="true">
            <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus />
            </template>
          </Column>
          <Column :rowEditor="true"  bodyStyle="text-align:center"></Column>
          <Column header="Действия">
            <template #body="slotProps">
                <Button icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Редактировать преподавателя'" @click="editTeacher(slotProps.data)"/>
                <Button icon="pi pi-times" class="p-button-rounded p-button-text p-button-plain" v-tooltip.bottom="'Удалить преподавателя'" @click="deleteTeacher(slotProps.data.id)"/>
            </template>
          </Column>
       
       </DataTable>
     </div>

     <ConfirmDialog></ConfirmDialog>
  </div>
  <Dialog  header="Добавить нового преподавателя" v-model:visible="display" :modal="true">
        <div class="label">Фамилия</div>
        <div>
            <InputText type="text" v-model="surname" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Имя</div>
            <InputText type="text" v-model="name" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Отчество</div>
            <InputText type="text" v-model="fathername" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Должность</div>
            <InputText type="text" v-model="position" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Ученое звание</div>
            <InputText type="text" v-model="academic_rank" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Ученая степень</div>
            <InputText type="text" v-model="degree" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Доля ставки</div>
            <InputNumber type="text" v-model="rate" mode="decimal" :minFractionDigits="2" style="width: 100%;"/>
        </div>

        <div class="m-t-20"><div class="label">Доля ставки</div>
          <Checkbox id="state" name="state"  v-model="state" :binary="true"/>
          <label for="state">Штатник?</label>
        </div>

        <div class="m-t-20"><div class="label">Кафедра</div>
          <Dropdown v-model="department" :options="all_deps" optionLabel="name" :filter="true" placeholder="Выберите кафедру" />
        </div>

        <template #footer>
            <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="this.display = false;"/>
            <Button label="Добавить" icon="pi pi-check" autofocus @click="addTeacher"/>
        </template>
  </Dialog>
  <Dialog  header="Редактировать данные преподавателя" v-model:visible="displayEdit" :modal="true">
        <div class="label">Фамилия</div>
        <div>
            <InputText type="text" v-model="surname" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Имя</div>
            <InputText type="text" v-model="name" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Отчество</div>
            <InputText type="text" v-model="fathername" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Должность</div>
            <InputText type="text" v-model="position" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Ученое звание</div>
            <InputText type="text" v-model="academic_rank" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Ученая степень</div>
            <InputText type="text" v-model="degree" style="width: 100%;"/>
        </div>
        <div class="m-t-20"><div class="label">Доля ставки</div>
            <InputNumber type="text" v-model="rate" mode="decimal" :minFractionDigits="2" style="width: 100%;"/>
        </div>

        <div class="m-t-20"><div class="label">Доля ставки</div>
          <Checkbox id="state" name="state"  v-model="state" :binary="true"/>
          <label for="state">Штатник?</label>
        </div>

        <div class="m-t-20"><div class="label">Кафедра</div>
          <Dropdown v-model="department" :options="all_deps" optionLabel="name" :filter="true" placeholder="Выберите кафедру" />
        </div>

        <template #footer>
            <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="this.displayEdit = false;"/>
            <Button label="Сохранить" icon="pi pi-check" autofocus @click="editTeacherInApi"/>
        </template>
  </Dialog>
  </div>  
</template>

<script>
  import DataTable from 'primevue/datatable';
  import Column from 'primevue/column';
  import Button from 'primevue/button';
  import {mapGetters, mapActions} from 'vuex';
  import InputText from 'primevue/inputtext';
  import InputNumber from 'primevue/inputnumber';
  import Dialog from 'primevue/dialog';
  import ConfirmDialog from 'primevue/confirmdialog';
  import ProgressBar from 'primevue/progressbar';
  import Dropdown from 'primevue/dropdown';
  import Checkbox from 'primevue/checkbox';
  
  export default {
    components: {
      DataTable,
      Column,
      Button,
      InputText,
      Dialog,
      ConfirmDialog,
      ProgressBar,
      Dropdown,
      InputNumber,
      Checkbox
    },
    data() {
      return {
        editingRows: [],
        display: false,
        displayEdit: false,
        name: "",
        surname: "",
        fathername: "",
        position: "",
        degree: "",
        academic_rank: "",
        rate: 0,
        state: false,
        department: 0,
        groupTemplate: "",
        activeProgress: false,
        selectedFaculty: {},
        editedTeacherId: null
      }
    },
    mounted() {
      this.GET_FACULTIES_FROM_API({ids: null})
    },
    computed: {
       ...mapGetters([
       'FACULTIES',
       'TEACHERS_DIR',
       'FACULTY_DEPS'
       ]),
       all_deps() {
        let deps = [];
        let d = this.FACULTY_DEPS;
        for (let dep of d) {
          deps.push({"name": dep.number + " / " + dep.name, "code": dep.number})
        }
        return deps;
       }
    },
    methods: {
     ...mapActions([
        'GET_FACULTIES_FROM_API',
        'GET_TEACHERS_DIR_FROM_API',
        'COMPARE_TEACHERS_IN_API',
        'GET_FACULTY_DEPS_FROM_API',
        'ADD_TEACHER_TO_API',
        'EDIT_TEACHER_IN_API',
        'DELETE_TEACHER_FROM_API',
     ]),
     addTeacher() {
      if (this.surname.length > 0 && this.name.length > 0) {
        this.ADD_TEACHER_TO_API({name: this.name, surname: this.surname, fathername: this.fathername,
                                 position: this.position, degree: this.degree, academic_rank: this.academic_rank,
                                 rate: this.rate, dep: this.department.code, state: this.state, faculty: this.selectedFaculty})
            .then(()=>{
              this.display = false;
              this.$toast.add({severity:'success', summary: 'Успешно', detail:'Преподаватель успешно добавлен', life: 3000});
            })
      } 
     },
     editTeacher(data) {
      this.editedTeacherId = data.id;
      this.name = data.name;
      this.surname = data.surname;
      this.fathername = data.fathername;
      this.position = data.position;
      this.degree = data.degree;
      this.academic_rank = data.academic_rank;
      this.state = data.state;
      this.rate = data.part_of_rate;

      let ind = this.all_deps.findIndex(e => e.code == data.department);
      if (ind >= 0) {
          this.department = this.all_deps[ind];
      }

      this.displayEdit = true;
     },
     editTeacherInApi() {
      if (this.surname.length > 0 && this.name.length > 0) {
        this.EDIT_TEACHER_IN_API({name: this.name, surname: this.surname, fathername: this.fathername,
                                 position: this.position, degree: this.degree, academic_rank: this.academic_rank,
                                 rate: this.rate, dep: this.department.code, state: this.state, 
                                 t_id: this.editedTeacherId, faculty: this.selectedFaculty})
            .then(()=>{
              this.displayEdit = false;
              this.$toast.add({severity:'success', summary: 'Успешно', detail:'Данные отредактированы', life: 3000});
            })
      } 
     },
     deleteTeacher(tId) {
      this.$confirm.require({
                message: 'Вы действительно хотите удалить преподавателя?',
                header: 'Подтверждение',
                icon: 'pi pi-exclamation-triangle',
                acceptLabel: 'Да',
                rejectLabel: 'Нет',
                accept: () => {
                  this.DELETE_TEACHER_FROM_API({"t_id": tId, "faculty": this.selectedFaculty})
                },
      });
     },
     compareTeachers() {
      this.activeProgress = true;
      this.COMPARE_TEACHERS_IN_API({faculty: this.selectedFaculty}).then(()=>{
        this.activeProgress = false;
        this.$toast.add({severity:'success', summary: 'Успешно', detail:'Синхронизация успешно завершена', life: 3000});
      })
     },
     onСhange() {
      if (this.selectedFaculty > 0) {
        this.GET_TEACHERS_DIR_FROM_API({"faculty": this.selectedFaculty})
        this.GET_FACULTY_DEPS_FROM_API({faculty: this.selectedFaculty,
                                        own: 1})
      }
     }
    } 

  }
</script>


<style lang="scss">

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }

  .top-buttons-sb {
    display: flex;
    justify-content: space-between;
  }

  .label {
        padding-bottom: 5px;
        font-weight: bold;
  }

  label {
        padding-left: 5px;
  }

  .m-t-20 {
    margin-top: 20px;
  }
</style>