<template>
  <div id="nav">
    <navbar/>
    <div class="wrapper">
      <router-view/>
      <notifications/>
    </div>
  </div>
</template>

<script>
  import navbar from './components/base/navbar'
  import notifications from './components/base/notification'
  export default {
     name: 'App',
     components: {
       navbar,
       notifications
     }
  }
</script>


<style lang="scss">
*,
*::before,
*::after {
  box-sizing: border-box;
}

$color-link: #131836;
$color-top: #2E3A82;
 
body {
  margin: 0;
  background-color: #eeeff733;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin-top: 55px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: auto;
}

a {
  text-decoration: none;
}

.m-t-20 {
  margin-top: 20px;
}

.container {
  padding: 30px 50px;

  .bread {
    a {
      color: $color-link;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
    margin-bottom: 20px;
  }
}

</style>
