<template>
  <div class="wrap">
    <div class="cont">
      <AddNewColumn ref="addNewColumn" :column="hoverCol" :isparent="isParent"/>
      <ConfirmDialog></ConfirmDialog>
      <EditColumn ref="editColumn" :column="hoverCol"/>
      <ContextMenu  :model="menu" ref="menu" @click="onMenuItemClick"/>
      <ContextMenu  :model="menuChild" ref="menuChild" @click="onMenuItemClick"/>
      <yearpanel/>
      <FormulaEditor ref="editFormul" :formul="activeFormul" :add="newFormul" :column="selectedColId"/>
      <div class="container">  
        <div class="bread">
          <router-link to="/">Главная</router-link>
          <span> / </span>
          <router-link to="/versions">Формирование нагрузки</router-link>
          <span> / </span>
          <span>Параметры расчёта</span>
        </div>

        <div class="container-dashboard h90">
          <div class="container-dashboard-left">
            <div class="panel-columns">
              <div class="text">ФОРМУЛЫ</div>
              <Button v-if="this.selectedColId" label="Добавить формулу" class="p-button-raised p-button-text p-button-sm" @click="addNewFormul"/>
            </div>
            <div class="formuls">
              <div class="formula" v-for="formul in COLUMN_FORMULS" :key="formul.id">
                <div class="formula_text">{{formul.formula_text}}</div>
                <div class="constrs">
                  <div v-for="constr in formul.constraints" :key="constr.id" class="constr" :data-type="constr.constr_name">
                    {{constr.name}}
                  </div>
                </div>
                <Button icon="pi pi-pencil" class="p-button-rounded m-r-9 n-grow" v-tooltip.bottom="'Редактировать формулу'" @click="openDialogEditFormul(formul)"/>
                <Button icon="pi pi-times" class="p-button-rounded n-grow" v-tooltip.bottom="'Удалить формулу'" @click="deleteFormul(formul.id)"/>
              </div>
            </div>
          </div>
          <div class="container-dashboard-right">
            <div class="container-dashboard-right-cols">
              <div class="fl-c" v-if="Object.keys(COLUMNS).length == 0">
                <Button label="Скопировать колонки с прошлого года" icon="pi pi-plus" iconPos="left" @click="addColumns"/>
              </div>
              <div class="group-col" v-for="col in COLUMNS" :key="col.id">
                <div class="root-col col" :class="{'js-selected-column': col.id==selectedColId, 'js-hover-column': col.id==hoverCol.id && this.$refs.menu && this.$refs.menu.visible}" @click="chooseCol(col)">
                  <div class="col-name" :class="{'hided': !col.active_view}">
                    {{col.name}}
                  </div>
                  <div class="col-dots" @click="showMenu($event, 'menu', col)">
                    <i class="pi pi-ellipsis-h"></i>
                  </div>
                </div>
                <div v-for="child in col.childrens" :key="child.id">
                  <div class="child-col col" :class="{'js-selected-column': child.id==selectedColId, 'js-hover-column': child.id==hoverCol.id && this.$refs.menuChild.visible}" @click="chooseCol(child)">
                    <div class="col-name" :class="{'hided': !child.active_view}">
                      {{child.name}}
                    </div>
                    <div class="col-dots" @click="showMenu($event, 'menuChild', child)">
                      <i class="pi pi-ellipsis-h"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-dashboard-right-btn" @click="openDialogAdd">
              <i class="pi pi-plus"></i>
              <div class="text">Добавить колонку</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
  import yearpanel from '@/components/base/yearpanel'
  import {mapGetters, mapActions} from 'vuex';
  import ContextMenu from 'primevue/contextmenu';
  import AddNewColumn from '@/components/loadworks/add-new-column';
  import FormulaEditor from '@/components/loadworks/formula-editor';
  import EditColumn from '@/components/loadworks/edit-column';
  import ConfirmDialog from 'primevue/confirmdialog';
  import Button from 'primevue/button';

  export default {
    components: {
      yearpanel,
      ContextMenu,
      AddNewColumn,
      EditColumn,
      ConfirmDialog,
      Button,
      FormulaEditor
    },
    created() {
      this.$watch('YEAR', () => {
         this.GET_COLUMNS_FROM_API({year: this.YEAR,
                                    faculty: localStorage.getItem('faculty')})
         .then(()=>{
          console.log(this.COLUMNS)
          this.CLEAR_COLUMN_FORMULS();
         })
      })
    },
    mounted() {
         this.GET_COLUMNS_FROM_API({year: this.YEAR,
                                    faculty: localStorage.getItem('faculty')})
         .then(()=>{
          console.log(this.COLUMNS)
         })
         this.CLEAR_COLUMN_FORMULS();

    },
    data() {
      return {
        selectedColId: null,
        hoverCol: {},
        activeFormul: {},
        isParent: false,
        menu: [
          {'label': 'Добавить дочернюю колонку', 'icon': 'pi pi-fw pi-plus'},
          {'label': 'Скрыть/активировать', 'icon': 'pi pi-fw pi-eye'},
          {'label': 'Удалить', 'icon': 'pi pi-fw pi-times'},
          {'label': 'Изменить', 'icon': 'pi pi-fw pi-pencil'},
        ],
        menuChild: [
          {'label': 'Скрыть/активировать', 'icon': 'pi pi-fw pi-eye'},
          {'label': 'Удалить', 'icon': 'pi pi-fw pi-times'},
          {'label': 'Изменить', 'icon': 'pi pi-fw pi-pencil'},
        ],
        newFormul: false
      }
    },
    computed: {
       ...mapGetters([
         'YEAR',
         'COLUMNS',
         'COLUMN_FORMULS'
       ]),
    },
    methods: {
     ...mapActions([
      'GET_COLUMNS_FROM_API',
      'GET_COLUMN_FORMULS_FROM_API',
      'SET_COLUMNS_VISIBILITY_TO_API',
      'EDIT_COLUMN_EXISTENCE_IN_API',
      'CLEAR_COLUMN_FORMULS',
      'DELETE_FORMULA_FROM_API',
      'COPY_COLUMNS_FROM_API'
     ]),
     chooseCol(col) {
      this.selectedColId = col.id; 
      this.GET_COLUMN_FORMULS_FROM_API({column_id: col.id})
          .then(()=>{
            console.log(this.COLUMN_FORMULS)
          })
     },
     onMenuItemClick(event) {
      if (event.target.innerText == 'Скрыть/активировать') {
        this.SET_COLUMNS_VISIBILITY_TO_API({column_id: this.hoverCol.id})
      }
      else if (event.target.innerText == 'Изменить') {
        this.$refs.editColumn.openDialog();
      }
      else if (event.target.innerText == 'Удалить') {
        this.$confirm.require({
                message: 'Вы действительно хотите удалить колонку?',
                header: 'Подтверждение',
                icon: 'pi pi-exclamation-triangle',
                acceptLabel: 'Да',
                rejectLabel: 'Нет',
                accept: () => {
                  this.EDIT_COLUMN_EXISTENCE_IN_API({column_id: this.hoverCol.id})
                },
        });
      }
      else if (event.target.innerText == 'Добавить дочернюю колонку') {
        this.isParent = true;
        this.$refs.addNewColumn.openDialog();
      }
     },
     showMenu(event, menu, col) {
      this.$refs["menu"].hide();
      this.$refs["menuChild"].hide();

      this.hoverCol = col;
      this.$refs[menu].toggle(event);
     }, 
     openDialogAdd() {
      this.isParent = false;
      this.$refs.addNewColumn.openDialog();
     },
     openDialogEditFormul(formul) {
      let prom = new Promise((res) => {
         this.activeFormul = formul;
         this.newFormul = false;
         res("")
      })
      prom.then(()=>{
        this.$refs.editFormul.openDialog();
      })     
     },

     addNewFormul() {
      let prom = new Promise((res) => {
         this.activeFormul = {};
         this.newFormul = true;
         res("")
      })
      prom.then(()=>{
        this.$refs.editFormul.openDialog();
      })      
     },
     deleteFormul(formulId) {
      this.$confirm.require({
                message: 'Вы действительно хотите удалить формулу?',
                header: 'Подтверждение',
                icon: 'pi pi-exclamation-triangle',
                acceptLabel: 'Да',
                rejectLabel: 'Нет',
                accept: () => {
                  this.DELETE_FORMULA_FROM_API({"formul_id": formulId,
                                                "column_id": this.selectedColId})
                },
      }); 
     },
     addColumns() {
      this.COPY_COLUMNS_FROM_API({year: this.YEAR,
                                 faculty: localStorage.getItem('faculty')})
     }
    } 
       

  }
</script>  

<style lang="scss">

  .m-r-9 {
    margin-right: 9px;
  }

  body {
    height: calc(100vh - 55px);
  }

  .panel-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    color: #54516d;
  }

  #app, #nav, .cont, .container {
    height: 100%;
  }

  .wrap {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30px;
    top: 54px;
  }

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }

  .container-dashboard {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex: 1;

    &.h90 {
      height: 90%;
    }
  }

  .container-dashboard-left {
    display: flex;
    flex: 1;
    background-color: white;
    margin: 10px 0.7em 3px 2px;
    border-radius: 3px;
    flex-direction: column;
    overflow: auto;
    // min-width: 500px;
    box-shadow: 0 0 0 2px rgb(62 67 92 / 9%);
  }

  .container-dashboard-right {
    max-width: 400px;
    min-width: 200px;
    height: calc(100% - 13px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    width: 100%;
    position: relative;
    background-color: #fdfdfd;
    box-shadow: 0 0 0 2px rgb(62 67 92 / 9%);
    color: #54516d;
    margin: 10px 0.7em 0px 0px;
    border-radius: 3px;
  }

  .container-dashboard-right-cols {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 25px;
    padding-top: 10px;
    height: 100%;
    color: rgba(45, 42, 70, 0.925);
    font-size: 88%;
  }

  .col {
    padding: 8px 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-left: solid 2px transparent;

    &:hover {    
      background-color: rgba(202, 202, 206, 0.137);
    }

    &:hover .col-dots{    
      color: #000;
    }
  }

  .js-hover-column {
    .col-dots{    
      color: #000;
    }
    background-color: rgba(202, 202, 206, 0.137);
  }

  .js-selected-column {
    background-color: rgba(202, 202, 206, 0.137);
    border-left: solid 3px #32304b42;
  }

  .col-visible {
    width: 16px;
    height: 16px;
    margin: 0 10px;
  }

  .col-name {
    flex-grow: 1;
    padding-right: 15px;
  }

  .hided {
    color: #a8a7b1;
  }

  .child-col {
    padding-left: 3em;
  }

  .col-dots {
    color: transparent;
  }

  .container-dashboard-right-btn {
    cursor: pointer;
    position: absolute;
    padding: 0.2em 0.4em;
    height: 25px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    bottom: 0;
    border-radius: 0;
    color: #fff;
    background-color: #6b6e8b;
    background-position: center;
    transition: background .8s;
    font-size: 80%;
    display: flex;
    align-items: center;

    .text {
      padding-left: 0.4em;
    }
  }

  .formuls {
    .formula {
    display: flex;
    font-size: 1rem;
    padding: 7px;
    align-items: center;
    justify-content: space-between;

    .formula_text {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      word-wrap: break-word;
      word-break: break-all;
      margin-right: 20px;
      color: rgba(33, 33, 65, 0.904);
      // width: 50%;
    }

    .constrs {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      .constr {
          border-radius: 15px;
          color: rgba(33, 33, 65, 0.904);
          display: inline-block;
          margin: 0 0.5em 0.3em 0;
          padding: 0.5em 0.5em;
          font-size: 0.8rem;
      }

      .constr[data-type="object_type"] {
        background-color: rgba(68, 86, 248, 0.747);
      }

      .constr[data-type="forma"] {
        background-color: rgba(224, 91, 91, 0.856);
      }

      .constr[data-type="qualification"] {
        background-color: rgba(56, 128, 54, 0.575);
      }
    }
  }
  }  

  .n-grow {
    flex-grow: 0;
  }

  .fl-c {
    margin: 20px;
    display: flex;
    justify-content: center;
  }

</style>