<template>
  <div class="cont">
    <Dialog  header="Добавить новую группу" v-model:visible="display" :modal="true">
      <div class="p-field my-field">
        <label for="groupname">Название группы</label>
        <InputText id="groupname" class="p-inputtext-sm all-width" type="text" v-model="groupName" />
      </div>  

      <div class="p-field my-field">
        <label for="groupname">Количество студентов бюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="bc" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество студентов внебюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="vc" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов бюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="bf" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов внебюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="vf" :useGrouping="false" />
      </div> 
         
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
        <Button label="Добавить" icon="pi pi-check" autofocus @click="addGroup"/>
      </template>
    </Dialog>


    <Dialog header="Изменить имя группы" v-model:visible="displayEditName" :modal="true">
      <div class="p-field my-field">
        <label for="groupname">Название группы</label>
        <InputText id="groupname" class="p-inputtext-sm all-width" type="text" v-model="groupName" />
      </div>

    <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalEditName"/>
        <Button label="Изменить" icon="pi pi-check" autofocus @click="editName"/>
    </template>
    </Dialog>

    <Dialog header="Изменить имя подгруппы" v-model:visible="displayEditSubName" :modal="true">
      <div class="p-field my-field">
        <label for="groupname">Название подгруппы</label>
        <InputText id="groupname" class="p-inputtext-sm all-width" type="text" v-model="groupName" />
      </div>

    <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalEditSubName"/>
        <Button label="Изменить" icon="pi pi-check" autofocus @click="editSubName"/>
    </template>
    </Dialog>

    <Dialog  header="Редактировать контингент" v-model:visible="displayCont" :modal="true">  
      <div class="p-field my-field">
        <label for="groupname">Количество студентов бюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="bc" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество студентов внебюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="vc" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов бюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="bf" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов внебюджета</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="vf" :useGrouping="false" />
      </div> 
         
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalEditCont"/>
        <Button label="Изменить" icon="pi pi-check" autofocus @click="editCont"/>
      </template>
    </Dialog>

    <Dialog header="Добавить подгруппы" v-model:visible="displayCount" :modal="true">
      <div class="p-field my-field">
        <label for="groupname">Количество подгрупп в блоке</label>
        <InputNumber  class="p-inputtext-sm all-width" :useGrouping="false" v-model="groupCount" />
      </div>

    <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalAddSubgroup"/>
        <Button label="Продолжить" icon="pi pi-check" autofocus @click="addSubgroups"/>
    </template>
    </Dialog>

    <Dialog header="Удалить блок подгрупп" v-model:visible="displayDeleteBlock">
        Вы действительно хотите удалить блок?
      <template #footer>
            <Button label="Нет" @click="closeModalDeleteBlock" />
            <Button label="Да" autofocus @click="deleteBlock"/>
      </template>
    </Dialog>

    <Dialog header="Удалить группу" v-model:visible="displayDeleteGroup">
        Вы действительно хотите удалить группу?
      <template #footer>
            <Button label="Нет" @click="closeModalDeleteGroup" />
            <Button label="Да" autofocus @click="deleteGroup"/>
      </template>
    </Dialog>

    <Dialog  header="Добавить блок подгрупп" v-model:visible="displayBlocks" :modal="true" :style="{width: '50vw'}">
     
     <div v-for="(block, ind) in subgroupsNew" :key="block">
      <div class="p-field my-field">
        <label for="groupname">Название группы {{ind+1}}</label>
        <InputText id="groupname" class="p-inputtext-sm all-width" type="text" v-model="block.name" />
      </div>  

      <div class="p-field my-field">
        <label for="groupname">Количество студентов бюджета {{ind+1}}</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.bc" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество студентов внебюджета {{ind+1}}</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.vc" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов бюджета {{ind+1}}</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.bf" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов внебюджета {{ind+1}}</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.vf" :useGrouping="false" />
      </div> 
     </div> 

     <div class="red" v-for="(line, ln) in msg.split('\n')" v-bind:key="ln" >
       {{line}} <br/>
     </div> 
         
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalBlock"/>
        <Button label="Добавить" icon="pi pi-check" autofocus @click="addBlocks"/>
      </template>  
    </Dialog>


    <Dialog  header="Редактировать контингент подгрупп" v-model:visible="displayEditBlocks" :modal="true" :style="{width: '50vw'}">
     
     <div v-for="block in blocks" :key="block">
     
      <div class="p-field my-field">
        <label for="groupname">Количество студентов бюджета ({{block.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.budzhet_count" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество студентов внебюджета ({{block.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.vnebudzhet_count" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов бюджета ({{block.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.budzhet_foreign" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов внебюджета ({{block.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.vnebudzhet_foreign" :useGrouping="false" />
      </div> 
     </div> 

     <div class="red" v-for="(line, ln) in msg.split('\n')" v-bind:key="ln" >
       {{line}} <br/>
     </div> 
         
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalEditBlock"/>
        <Button label="Изменить" icon="pi pi-check" autofocus @click="editBlocks"/>
      </template>  
    </Dialog>

    <Dialog  header="Редактировать контингент групп по выбору" v-model:visible="displayEditChoice" :modal="true" :style="{width: '50vw'}">
     
     <div v-for="block in blocks" :key="block">
     
      <div class="p-field my-field">
        <label for="groupname">Количество студентов бюджета ({{block.LessonPlanStroke.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.GroupChoice.budzhet_count" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество студентов внебюджета ({{block.LessonPlanStroke.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.GroupChoice.vnebudzhet_count" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов бюджета ({{block.LessonPlanStroke.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.GroupChoice.budzhet_foreign" :useGrouping="false"/>
      </div> 

      <div class="p-field my-field">
        <label for="groupname">Количество иностранных студентов внебюджета ({{block.LessonPlanStroke.name}})</label>
        <InputNumber  class="p-inputtext-sm all-width" v-model="block.GroupChoice.vnebudzhet_foreign" :useGrouping="false" />
      </div> 

      <div class="line-div"></div>
     </div> 

     <div class="red" v-for="(line, ln) in msg.split('\n')" v-bind:key="ln" >
       {{line}} <br/>
     </div> 
         
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalEditChoice"/>
        <Button label="Изменить" icon="pi pi-check" autofocus @click="editChoice"/>
      </template>  
    </Dialog>   

    <div class="divided">
      <sidebar/>
      <div class="divider-main">
        <yearpanel/>

        <div class="bread p-l-20">
          <router-link to="/">Главная</router-link>
          <span> / </span>
          <router-link to="/contingent">Контингент</router-link>
          <span v-if="this.$route.query.id"> / </span>
          <span v-if="this.$route.query.id">Группы профиля</span>
        </div>
        <div>

          <div v-if="this.$route.query.id==null" class="generate">
            <Button type="button" class="p-button-sm" label="Сгенерировать группы" @click="generateGroups" />
            <div class="g-info">
              Автоматическая генерация групп выполняется на основании данных контингента, заполненного в модуле "Учебный план". Группы, созданные пользователем ранее, не удаляются и не изменяются.
            </div>
          </div>

          <Fieldset v-for="(course, ind) in GROUPS_CONTINGENT" :key="ind" :legend="ind+' курс'">

            <tableCont :bc="course.common.bc" :vc="course.common.vc" :bf="course.common.bf" :vf="course.common.vf"/>

            <TabView class="m-l-10 m-t-20">
             <TabPanel header="Группы">
                <div class="flex-right">
                  <Button label="Добавить группу" icon="pi pi-plus" class="p-button-sm" @click="groupAddDialog(ind)"/>
                </div>
                <div  v-for="group in course.groups" :key="group.id">
                  <div class="group">
                  <div class="group-top">
                    <div class="group-name">Группа {{group.name}}</div>
                    <Button label="Редактировать имя" icon="pi pi-pencil" class="p-button-sm p-button-text" @click="displayModalEditName(group.id, group.name)"/>
                    <Button label="Редактировать контингент" icon="pi pi-pencil" class="p-button-sm p-button-text" @click="displayModalEditCont(group.id, group.budzhet_count, group.vnebudzhet_count, group.budzhet_foreign, group.vnebudzhet_foreign)"/>
                    <Button label="Добавить подгруппы" @click="displayCountSubgroups(group)" icon="pi pi-plus" class="p-button-sm p-button-text"/>
                    <Button label="Удалить группу" @click="displayModalDeleteGroup(ind, group.id)" icon="pi pi-times" class="p-button-sm p-button-text"/>
                  </div>  
                    <tableCont :bc="group.budzhet_count" :vc="group.vnebudzhet_count" :bf="group.budzhet_foreign" :vf="group.vnebudzhet_foreign"/>
                  </div> 

                  <div v-for="block in group.blocks" :key="block" class="block-subgroups" :class="errorSub(block, group)">
                    <div class="buts_right">
                      <Button label="Редактировать контингент подгрупп" icon="pi pi-pencil" class="p-button-sm p-button-text" @click="displayModalEditSubCont(block, group)"/>
                      <Button label="Удалить блок" @click="displayModalDeleteBlock(block, ind, group.id)" icon="pi pi-times" class="p-button-sm p-button-text"/>
                    </div>
                    <div v-for="subgroup in block" :key="subgroup" class="subgroup">
                      <div class="subgroup-top">
                        <div class="subgroup-name">{{subgroup.name}}</div>
                        <Button label="Редактировать имя" icon="pi pi-pencil" class="p-button-sm p-button-text" @click="displayModalEditSubName(subgroup.id, subgroup.name)"/>
                      </div>  
                      <tableCont :bc="subgroup.budzhet_count" :vc="subgroup.vnebudzhet_count" :bf="subgroup.budzhet_foreign" :vf="subgroup.vnebudzhet_foreign"/>
                    </div>
                  </div> 
    
                </div>
             </TabPanel>
             <TabPanel>
               <template #header>
                <div>
                  <span>Курсы по выбору</span>
                  <i v-if="getError(course.blocks, course.common)" class="pi pi-exclamation-circle in-courses"></i>
                </div>
               </template>
               <div v-for="blockc in course.blocks" :key="blockc" class="block-subgroups-choice">
                <div class="buts_right">
                  <Button label="Редактировать контингент" icon="pi pi-pencil" class="p-button-sm p-button-text" @click="displayModalEditChoiceCont(blockc, course.common, ind)"/>
                </div>
                <div v-for="(subgroup, indsub) in blockc" :key="subgroup" class="subgroup">
                    <div class="subgroup-top">
                        <div class="subgroup-name">{{subgroup.LessonPlanStroke.name}}</div>
                        <Button label="Добавить группу по выбору" icon="pi pi-plus" class="p-button-sm p-button-text" @click="addChoiceGroup(subgroup.LessonPlanStroke.uuid, subgroup.GroupChoice.block)"/>
                        <Button v-if="subgroup.GroupChoice.removed" label="Удалить группу по выбору" icon="pi pi-times" class="p-button-sm p-button-text" @click="deleteChoiceGroup(subgroup.GroupChoice.block, subgroup.GroupChoice.id, ind, indsub)"/>
                    </div>  
                    <tableCont :bc="subgroup.GroupChoice.budzhet_count" :vc="subgroup.GroupChoice.vnebudzhet_count" :bf="subgroup.GroupChoice.budzhet_foreign" :vf="subgroup.GroupChoice.vnebudzhet_foreign"/>
                </div>
               </div>

             </TabPanel>
           </TabView>
          </Fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import sidebar from '@/components/loadworks/sidebar';
  import tableCont from '@/components/loadworks/table-cont';
  import yearpanel from '@/components/base/yearpanel';
  import {mapGetters, mapActions} from 'vuex';
  import Fieldset from 'primevue/fieldset';
  import Button from 'primevue/button';
  import TabView from 'primevue/tabview';
  import TabPanel from 'primevue/tabpanel';
  import Dialog from 'primevue/dialog';
  import InputText from 'primevue/inputtext';
  import InputNumber from 'primevue/inputnumber';

  export default {
    components: {
      sidebar,
      yearpanel,
      Fieldset,
      Button,
      TabView,
      TabPanel,
      tableCont,
      Dialog,
      InputText,
      InputNumber
    },
    created() {
      this.$watch('YEAR', () => {
         if (this.$route.query.id)
           this.GET_GROUPS_CONTINGENT_FROM_API({year: this.YEAR,
                                                profile_id: this.$route.query.id})
         .then(()=>{console.log(this.GROUPS_CONTINGENT)})
      })
    },
    data() {
      return {
        display: false,
        displayEditName: false,
        displayEditSubName: false,
        displayCont: false,
        displayCount: false,
        displayBlocks: false,
        displayEditBlocks: false,
        displayDeleteBlock: false,
        displayDeleteGroup: false,
        displayEditChoice: false,
        groupName: "",
        bc: 0,
        vc: 0,
        bf: 0,
        vf: 0,
        course: 0,
        groupId: 0,
        groupCount: 2,
        subgroupsNew: [],
        currentGroup: null,
        blocks: [],
        msg: "",
        common: null,
      }
    },
    mounted() {
      // if (this.$route.query.id)
      //     this.GET_GROUPS_CONTINGENT_FROM_API({year: this.YEAR,
      //                                          profile_id: this.$route.query.id})
      //    .then(()=>{console.log(this.GROUPS_CONTINGENT)})
      // else {
      //   this.GROUPS_CONTINGENT = null
      // }   
    },
    computed: {
       ...mapGetters([
       'SESSION',
       'YEAR',
       'GROUPS_CONTINGENT'
       ]),
    },
    methods: {
     ...mapActions([
        'GET_GROUPS_CONTINGENT_FROM_API',
        'ADD_PROFILE_GROUP_TO_API',
        'EDIT_GROUP_NAME_IN_API',
        'EDIT_GROUP_CONTINGENT_IN_API',
        'ADD_SUBGROUPS_BLOCK_TO_API',
        'EDIT_SUBGROUP_NAME_IN_API',
        'EDIT_SUBGROUP_CONTINGENT_IN_API',
        'DISABLE_SUBGROUP_BLOCK_IN_API',
        'DELETE_GROUP_FROM_API',
        'ADD_CHOICE_GROUP_TO_API',
        'DELETE_CHOICE_GROUP_IN_API',
        'EDIT_GROUP_CHOICE_CONTINGENT_IN_API',
        'GENERATE_GROUPS_IN_API'
     ]),
     groupAddDialog(course) {
      this.groupName = "";
      this.bc = 0;
      this.bf = 0;
      this.vf = 0;
      this.vc = 0;
      this.display = true;
      this.course = course;
     },
     addGroup() {
      this.ADD_PROFILE_GROUP_TO_API({year: this.YEAR,
                                     profile_id: this.$route.query.id,
                                     course: this.course, group_name: this.groupName,
                                     bc: this.bc, bf: this.bf, vc: this.vc, vf: this.vf})
      .then(()=>{
        this.GROUPS_CONTINGENT;
        this.closeModal();
      })
     },
     closeModal() {
      this.display = false;
     },
     displayModalEditName(groupId, groupName) {
      this.groupName = groupName;
      this.displayEditName = true;
      this.groupId = groupId;
     },
     editName() {
       this.EDIT_GROUP_NAME_IN_API({group_id: this.groupId, 
                                    group_name: this.groupName})
       .then(()=>{
          this.closeModalEditName();
        })
     },
     closeModalEditName() {
      this.displayEditName = false;
     },
     displayModalEditSubName(groupId, groupName) {
      this.groupName = groupName;
      this.displayEditSubName = true;
      this.groupId = groupId;
     },
     editSubName() {
       this.EDIT_SUBGROUP_NAME_IN_API({group_id: this.groupId, 
                                       group_name: this.groupName})
       .then(()=>{
          this.closeModalEditSubName();
        })
     },
     closeModalEditSubName() {
      this.displayEditSubName = false;
     },
     displayModalEditCont(groupId, bc, vc, bf, vf) {
       this.bc = bc;
       this.bf = bf;
       this.vf = vf;
       this.vc = vc;
       this.displayCont = true;
       this.groupId = groupId;
     },
     editCont() {
      this.EDIT_GROUP_CONTINGENT_IN_API({group_id: this.groupId, 
                                         bc: this.bc, vc: this.vc,
                                         bf: this.bf, vf: this.vf})
          .then(()=>{
            this.closeModalEditCont();
          })
     },
     closeModalEditCont() {
      this.displayCont = false;
     },
     displayCountSubgroups(group) {
      this.displayCount = true;
      this.groupId = group.id;
      this.currentGroup = group;
     },
     closeModalAddSubgroup() {
       this.displayCount = false;
     },
     addSubgroups() {
      this.msg = "";
      this.subgroupsNew = [];
      for (let i=0; i < this.groupCount; i++) {
        this.subgroupsNew.push({name: `Подгруппа ${i+1}`, bc: 0, vc: 0, bf: 0, vf: 0});
      }
      this.closeModalAddSubgroup();
      this.displayBlocks = true;
     },
     addBlocks() {
      this.msg = "";
      let cont = true;
      let sum = {bc: 0, vc: 0, bf: 0, vf: 0}
      for (let bl of this.subgroupsNew) {
        sum.bc += bl.bc;
        sum.vc += bl.vc;
        sum.bf += bl.bf;
        sum.vf += bl.vf;
      }
      
      if (this.currentGroup.budzhet_count != sum.bc) {
        this.msg += "Суммарное количество бюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.currentGroup.vnebudzhet_count != sum.vc) {
        this.msg += "Суммарное количество внебюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.currentGroup.budzhet_foreign != sum.bf) {
        this.msg += "Суммарное количество иностранных бюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.currentGroup.vnebudzhet_foreign != sum.vf) {
        this.msg += "Суммарное количество иностранных внебюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }
      
      if (cont) {
        this.ADD_SUBGROUPS_BLOCK_TO_API({group_id: this.currentGroup.id,
                                         subgroups: this.subgroupsNew})
            .then(()=> {
              this.closeModalBlock();
            })
      }  
     },
     closeModalBlock() {
      this.displayBlocks = false;
     },
     displayModalEditSubCont(block, group) {
      this.msg = "";
      this.blocks = JSON.parse(JSON.stringify(block));
      this.displayEditBlocks = true;
      this.groupId = group.id;
      this.currentGroup = group;
     },
     closeModalEditBlock() {
      this.displayEditBlocks = false;
     },
     editBlocks() {
      this.msg = "";
      let cont = true;
      let sum = {bc: 0, vc: 0, bf: 0, vf: 0}
      for (let bl of this.blocks) {
        sum.bc += bl.budzhet_count;
        sum.vc += bl.vnebudzhet_count;
        sum.bf += bl.budzhet_foreign;
        sum.vf += bl.vnebudzhet_foreign;
      }
      
      if (this.currentGroup.budzhet_count != sum.bc) {
        this.msg += "Суммарное количество бюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.currentGroup.vnebudzhet_count != sum.vc) {
        this.msg += "Суммарное количество внебюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.currentGroup.budzhet_foreign != sum.bf) {
        this.msg += "Суммарное количество иностранных бюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.currentGroup.vnebudzhet_foreign != sum.vf) {
        this.msg += "Суммарное количество иностранных внебюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }
      
      if (cont) {
        for (let bl of this.blocks) {
          this.EDIT_SUBGROUP_CONTINGENT_IN_API({group_id: bl.id, 
                                                bc: bl.budzhet_count, vc: bl.vnebudzhet_count,
                                                bf: bl.budzhet_foreign, vf: bl.vnebudzhet_foreign})
            .then(()=> {
              this.closeModalEditBlock();
            })
        }
      }
     },
     displayModalDeleteBlock(block, ind, groupId) {
      this.blocks = block;
      this.course = ind;
      this.groupId = groupId;
      this.displayDeleteBlock = true;
     },
     deleteBlock() {
      this.DISABLE_SUBGROUP_BLOCK_IN_API({group_id: this.groupId,
                                          course: this.course,
                                          block_id: this.blocks[0].block_id})
          .then(()=> {
              this.closeModalDeleteBlock();
          })
    
     },
     closeModalDeleteBlock() {
      this.displayDeleteBlock = false;
     },
     displayModalDeleteGroup(course, groupId) {
      this.course = course;
      this.groupId = groupId;
      this.displayDeleteGroup = true;
     },
     closeModalDeleteGroup() {
      this.displayDeleteGroup = false;
     },
     deleteGroup() {
      this.DELETE_GROUP_FROM_API({group_id: this.groupId})
          .then(()=> {
              this.closeModalDeleteGroup();
          })
     },
     getError(block, common) {
      let keys = Object.keys(block)
      if (keys.length == 0) {
        if (common.bc == 0 && common.vc == 0 && common.bf == 0 && common.vf == 0) 
          return false;
      }
      else {
        
        for (let k of keys) {
          let blocks = block[k];
          let sum = {bc: 0, vc: 0, bf: 0, vf: 0}
          for (let bl of blocks) {
              sum.bc += bl.GroupChoice.budzhet_count;
              sum.vc += bl.GroupChoice.vnebudzhet_count;
              sum.bf += bl.GroupChoice.budzhet_foreign;
              sum.vf += bl.GroupChoice.vnebudzhet_foreign;
          }
          if (sum.bc != common.bc || sum.vc != common.vc || sum.bf != common.bf || sum.vf != common.vf) {
            return true;
          }
        }
        
      }

      return false;
     },
     addChoiceGroup(uuid, block) {
      this.ADD_CHOICE_GROUP_TO_API({uuid: uuid, block: block})
          .then(()=> {
          })
     },
     deleteChoiceGroup(block, id, course, idInList) {
      this.DELETE_CHOICE_GROUP_IN_API({block: block, id: id,
                                       course: course, idInList: idInList})
          .then(()=> {
          })
     },
     displayModalEditChoiceCont(block, common, course) {
      this.blocks = JSON.parse(JSON.stringify(block));
      this.displayEditChoice = true;
      this.common = common;
      this.course = course;
     },
     editChoice() {
      this.msg = "";
      let cont = true;
      let sum = {bc: 0, vc: 0, bf: 0, vf: 0}
      for (let bl of this.blocks) {
        sum.bc += bl.GroupChoice.budzhet_count;
        sum.vc += bl.GroupChoice.vnebudzhet_count;
        sum.bf += bl.GroupChoice.budzhet_foreign;
        sum.vf += bl.GroupChoice.vnebudzhet_foreign;
      }
      
      if (this.common.bc != sum.bc) {
        this.msg += "Суммарное количество бюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.common.vc != sum.vc) {
        this.msg += "Суммарное количество внебюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.common.bf != sum.bf) {
        this.msg += "Суммарное количество иностранных бюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }  
      if (this.common.vf!= sum.vf) {
        this.msg += "Суммарное количество иностранных внебюджетных студентов подгрупп не равно их количеству в группе \n";
        cont = false;
      }
      
      if (cont) {
        for (let i = 0; i < this.blocks.length;  i++) {
          let bl = this.blocks[i];
          this.EDIT_GROUP_CHOICE_CONTINGENT_IN_API({group_id: bl.GroupChoice.id, 
                                                    bc: bl.GroupChoice.budzhet_count, vc: bl.GroupChoice.vnebudzhet_count,
                                                    bf: bl.GroupChoice.budzhet_foreign, vf: bl.GroupChoice.vnebudzhet_foreign,
                                                    block: bl.GroupChoice.block,
                                                    course: this.course,
                                                    idInList: i})
            .then(()=> {
              this.closeModalEditChoice();
            })
        }
      }
     },
     closeModalEditChoice() {
      this.displayEditChoice = false;
     },
     errorSub(block, group) {
      let sum = {bc: 0, vc: 0, bf: 0, vf: 0}
      for (let bl of block) {
        sum.bc += bl.budzhet_count;
        sum.vc += bl.vnebudzhet_count;
        sum.bf += bl.budzhet_foreign;
        sum.vf += bl.vnebudzhet_foreign;
      }
      if (sum.bc != group.budzhet_count || sum.vc != group.vnebudzhet_count || sum.bf != group.budzhet_foreign || sum.vf != group.vnebudzhet_foreign) {
        return "error-sub";
      }
      
      return "";
     },
     generateGroups() {
      this.GENERATE_GROUPS_IN_API({faculty: localStorage.getItem('faculty'), year: this.YEAR})
          .then(()=>{
            this.$toast.add({severity:'success', summary: 'Успешно', detail:'Группы успешно созданы', life: 3000});
          })
     }
    }    
  }
</script>

<style lang="scss">
  .bread.p-l-20 {
    padding-left: 20px;
    font-size: 16px;
    a {
      color: black;
      font-size: 16px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
  .line-div {
    width: 100%;
    border-bottom: 2px solid black;
    margin: 10px 0;
  }
  .in-courses {
    padding-left: 7px;
    color: red;
  }

  .red {
    color: red;
  }

  .divider-main {
    margin-left: 350px;
  }
  .allstat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #232636;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 10px;

    div {
      padding: 0 10px;
    }
  }

  .m-l-10 {
    margin-left: 10px;
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .group {
    margin-bottom: 20px;
  }

  .group-top, .subgroup-top {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  .group-name {
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 20px;
  }

  .subgroup-name {
    font-weight: bold;
    padding-right: 20px;
  }

  .subgroup {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .flex-right {
    display: flex;
    justify-content: flex-end;
  }

  .cont-table {
    border-collapse: collapse;

    th {
      font-weight: 400;
    }

    td, th {
      border-bottom: 1px solid #e4e4e4;
      padding: 0.35rem 0.75rem;
    }
  }

  .block-subgroups, .block-subgroups-choice {
    background-color: rgba(238, 237, 243, 0.3);
    -webkit-box-shadow: 0 0 0 2px rgb(80 83 117 / 14%);
    box-shadow: 0 0 0 2px rgb(80 83 117 / 14%);
    border-radius: 10px;
    padding: .5em;
    position: relative;
    margin: .9em 0 .9em 3em;
  }

  .block-subgroups-choice {
    margin: .9rem 0 .9rem 0;
  }

  .buts_right {
    display: flex;
    justify-content: flex-end;
  }

  .p-field.my-field > label {
    display: block;
  }

  .all-width {
    width: 100%;
  }

  .error-sub {
    border: 2px solid red;
  }

  .generate {
    margin: 20px;

    .g-info {
      font-size: 16px;
      padding: 20px;
      border: 1px solid black;
      margin-top: 20px;
      background-color: white;
      border-radius: 10px;
    }
  }
</style>    