<template>
  <ContextMenu  :model="menuItems" ref="menu" @click="onMenuItemClick"/>
  <ContextMenu  :model="menuItemsAll" ref="menuAll" @click="onMenuItemClick"/>
  <ContextMenu  :model="menuItemsChoice" ref="menuChoice" @click="onMenuItemClick"/>
  <ContextMenu  :model="menuItemsPract" ref="menuPract" @click="onMenuItemClick"/>
  <AddOwnStroke :deps="deps" :profile="activeProfile" ref="addown"/>
  <ChangeColumnValue :stroke="activeStroke" :profile="activeProfile" ref="changecolumn"/>

  <Dialog  header="Изменить кафедру" v-model:visible="displayDep" :modal="true">
      <Dropdown v-model="selectedDep" :options="all_deps" optionLabel="name" :filter="true" placeholder="Выберите кафедру" />
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalDeps"/>
        <Button label="Изменить" icon="pi pi-check" autofocus @click="changeDep"/>
      </template>
  </Dialog>
  <Dialog  header="Выберите кафедру для отчета" v-model:visible="displayDepRep" :modal="true">
      <Dropdown v-model="selectedDepRep" :options="all_deps" optionLabel="name" :filter="true" placeholder="Выберите кафедру" />
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalDepsRep"/>
        <Button label="Выгрузить" icon="pi pi-check" autofocus @click="getDepRep"/>
      </template>
  </Dialog>
  <Dialog  header="Управление подгруппами" v-model:visible="displaySub" :modal="true">
      <div class="m-b-20">{{activeStroke.name}} ({{activeStroke.course}}/{{activeStroke.sem}})</div>
      <Button label="Перейти в контингент" icon="pi pi-arrow-right" iconPos="right" @click="goCont"/>

      <div class="m-t-20" v-for="group in SUBGROUPS_STROKE_INFO" :key="group.id">
        <Chip :label="'Группа '+group.name" />
      
        <div v-if="activeStroke.object_type != 2 && group.strokesubs.length > 0" class="subgroup-stroke">
            <Button label="Удалить подгруппы" @click="joinSubsPract(group.id)" class="p-button-sm p-button-raised p-button-text"/>
        </div> 
         
        <div v-for="(sub, indsub) in group.strokesubs" :key="sub">         
          <div v-if="activeStroke.object_type == 2" class="subgroup-stroke">
            <div>{{group.blocks_name[sub.block_id].substring(3)}}</div>
            <div> - </div>
            <div>{{sub.hours}}</div>
            <Button icon="pi pi-times" class="p-button-rounded" v-tooltip.bottom="'Удалить подгруппы'"  @click="joinSubs(group.id, indsub, sub.hours_type)"/>
          </div>
          <div v-else class="subgroup-stroke">
            <div>{{sub.name}}</div>
            <div> - </div>
            <Dropdown v-model="sub.selectedDep" :options="deps" optionLabel="name" placeholder="Изменить кафедру" @change="sub.changeDep = true"/>
            <Button v-if="sub.changeDep" icon="pi pi-check" class="p-button-sm  p-button-text" label="Подтвердить" @click="changeSubDep(sub)"/>
          </div>
        </div>

        <div class="add-subgroup" v-if="activeStroke.object_type == 2">
          <Button label="Добавить подгруппы к строке" class="p-button-sm p-button-raised p-button-text" @click="addSubgroupsToStroke(group)"/>
          <div class="subgroup-stroke" v-for="(ns, index) in addedSubs[group.id]" :key="ns">
            <Dropdown v-model="ns.selectedSub" :options="ns.subs" optionLabel="label" placeholder="Выберите подгруппы" />
            <Dropdown v-model="ns.selectedType" :options="ns.types" optionLabel="label" placeholder="Выберите тип" />
            <Button label="Добавить" @click="addSubgroups(ns.selectedType, ns.selectedSub, index, group.id)"/>
          </div>
        </div>  

          <div class="add-subgroup" v-if="activeStroke.object_type != 2 && group.strokesubs.length == 0">
          <template v-if="practSubs.length == 0">  
          <Button label="Добавить подгруппы к строке" class="p-button-sm p-button-raised p-button-text" @click="addSubgroupsToStrokePract(group)"/>
            <div class="subgroup-stroke" v-for="ns in addedSubs[group.id]" :key="ns">
              <Dropdown v-model="ns.selectedSub" :options="ns.subs" optionLabel="label" placeholder="Выберите подгруппы" />
              <Button label="Добавить" @click="selSubgroupsPract(ns.selectedSub, group.id)"/>
            </div>
          </template>
          <div class="subgroup-stroke" v-for="sp in practSubs" :key="sp">
            <div>{{sp.label}} ({{sp.count}} студентов)</div>
            <Dropdown v-model="sp.selDep" :options="deps" optionLabel="name" placeholder="Выберите кафедру"/>
          </div>
          <template v-if="practSubs.length > 0">
            <div class="subgroup-stroke">
              <Button label="Добавить" class="m-r-20" @click="addSubgroupsPract(group.id)"/>
              <Button label="Отменить" @click="practSubs = []"/>
            </div> 
          </template>  
          </div>
      </div>

      <template #footer>
        <Button label="Закрыть" icon="pi pi-times" class="p-button-text" @click="closeModalSub" autofocus/>
      </template>
  </Dialog>
  <Dialog  header="Потоки" v-model:visible="displayFlows" :modal="true">
      <div class="m-b-20">{{activeStroke.name}} ({{activeStroke.course}}/{{activeStroke.sem}})</div>
      <div v-for="stroke in STROKE_FLOWS.loadstrokes" :key="stroke" class="flex-block">
        <div>{{stroke.LoadStroke.group_name}}</div>
        <div> - </div>
        <div>{{stroke.LoadStroke.hours}}</div>
        <div v-if="stroke.LoadStroke.is_main">
          <Chip label="Главный в потоке"/>
        </div>
        <Button v-if="!stroke.LoadStroke.is_main" v-tooltip="'Удалить группу из потока'" icon="pi pi-times but" class="p-button-text" @click="deleteStrokeFlow(stroke)"/> 
      </div>
      <div class="m-t-20"><Button label="Добавить потоки к строке" class="p-button-sm p-button-raised p-button-text " @click="addFlowToStroke()"/></div>
      <div v-if="addedFlow">
        <div class="fl-r m-t-20">
          <div><Dropdown v-model="selectedFlow" :options="flows" @change="selectFlow" optionLabel="label" placeholder="Выберите поток" /></div>
          <div class="and">или</div>
          <SplitButton label="Создать на основании дисциплины (по лекциям)" icon="pi pi-plus" :model="items" @click="addNewFlowInPlace('lek')"></SplitButton>
        </div>
        <div class="m-t-20"><Dropdown v-model="selectedGroup" :options="STROKE_FLOWS.groups" optionDisabled="disabled" optionLabel="group_name" placeholder="Выберите группу" /></div>
        <div class="m-t-20">
        <Button v-if="Object.keys(selectedFlow).length != 0 && Object.keys(selectedGroup).length != 0" label="Добавить" @click="addFlowParticipant()"/>
        </div>
      </div>
      <template #footer>
        <Button label="Закрыть" icon="pi pi-times" class="p-button-text" @click="closeModalFlows"/>
      </template>
  </Dialog>
  <Dialog  header="Создать поток" v-model:visible="displayCreateFlow" :modal="true">
     <div class="m-t-20"><Dropdown v-model="selectedType" :options="hoursTypes" optionLabel="label" placeholder="Выберите тип" /></div>
     <div class="m-t-20"><Dropdown v-model="selectedDep" :options="deps" optionLabel="name" placeholder="Выберите кафедру" /></div>
    <div class="m-t-20">
      <span class="p-float-label">
        <InputText id="username" type="text" v-model="flowName" />
        <label for="username">Название потока</label>
      </span>
    </div> 
      <template #footer>
        <Button label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModalCreateFlow"/>
        <Button label="Добавить" icon="pi pi-check" autofocus @click="addNewFlow"/>
      </template>
  </Dialog>
  <div class="gload_wrap">
    <div class="container-dashboard">
        <div class="container-dashboard-aside">
            <div class="container-dashboard-aside-menu">
                <div class="container-dashboard-aside-menu-items">
                    <div class="item" @click="flowActive = false;">
                        <i class="pi pi-table"></i>
                    </div>
                    <div class="item" v-if="!closed" :class="{'active': flowActive}" @click="flowActive = !flowActive">
                        <i class="pi pi-clone" ></i>
                    </div>
                    <div class="item" v-if="!closed">
                        <i class="pi pi-upload"></i>
                    </div>
                </div>
            </div>
      <div class="flow-aside" v-if="flowActive">
        <div class="top">
          <span>Потоки</span>
          <Button label="Создать поток" class="p-button-sm p-button-raised p-button-text" @click="addFlow"/>
        </div>
        <div class="bottom">
          <template v-for="flow in TABLE_FLOWS" :key="flow.id">
          <div class="flow-stroke" @click="openFlow(flow)" :class="{active: flow.show_groups}">
            <div class="first"></div>
            <i class="pi pi-angle-down" v-if="flow.show_groups"></i>
            <i class="pi pi-angle-right" v-if="!flow.show_groups"></i>
            <div class="name">{{flow.name}}</div>
            <Chip :label="flow.hours" class="hours"/>
            <Chip :label="''+flow.department" class="dep"/>
            <Button  v-tooltip="'Удалить поток'" icon="pi pi-times" class="p-button-text" @click="deleteFlow(flow.id)"/>
          </div>
          <template v-if="flow.show_groups">
          <div v-for="ls in flow.loadstrokes_res" :key="ls.id" class="stroke">
            <div class="main" v-tooltip="'Сделать главным в потоке'" @click="doMainInFlow(flow, ls)">
              <i class="pi pi-check" v-if="ls.is_main" />
            </div>
            <div class="g-name">{{ls.group_name}}</div>
          </div>
          </template>
          
          </template>
        </div>
        
      </div>
        </div>
        <div class="container-dashboard-content">
            <div class="container-dashboard-content-scroll">
                <div class="container-dashboard-config">
                    <Button label="Назад к версиям" icon="pi pi-arrow-left" class="p-button-raised p-button-text p-button-sm" @click="this.$router.push('/versions')"/>

                    <div class="right">
                      <Button label="Отчёт по факультету" class="p-button-raised p-button-text p-button-sm" @click="downloadAll()"/>
                      <Button label="Отчёт распределения по кафедрам" class="p-button-raised p-button-text p-button-sm" @click="this.displayDepRep = true;"/>
                      <Button label="Параметры расчета нагрузки" class="p-button-raised p-button-text p-button-sm" @click="this.$router.push('/columns')"/>
                      <Button label="Контингент" class="p-button-raised p-button-text p-button-sm" @click="goContEmpty"/>
                    </div>
                </div>
                <table class="container-dashboard-table">
                    <thead>
                        <tr class="tr-top">
                            <td scope="col" class="table__column-name" rowspan="2">
                                <div class="cell"><label class="name-col hide-icon-show"></label></div>   
                            </td>
              <td scope="col" class="table__column-name" rowspan="2">
                <div class="cell" v-tooltip="'Код дисциплины по учебному плану'"><label class="hint-name name-col">Код дисциплины по учебному плану</label></div> 
              </td>
              <td scope="col" class="table__column-name" rowspan="2">
                  <div class="cell js-horizontal-scroll" v-tooltip="'Наименование дисциплины'"><label class="hint-name name-col">Наименование дисциплины</label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="course" rowspan="2">
                  <div class="cell" v-tooltip="'Курс/семестр'"><label class="hint-name name-col">Курс/семестр</label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="contingent" rowspan="2">
                  <div class="cell" v-tooltip="'Контингент студентов'"><label class="hint-name name-col">Контингент студентов</label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="groups" rowspan="2">
                  <div class="cell" v-tooltip="'Количество учебных групп'"><label class="hint-name name-col">Количество учебных групп</label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="lection" colspan="2">
                  <div class="cell parent depend" v-tooltip="'Лекции'"><label class="hint-name name-col">Лекции</label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="practice" colspan="2">
                  <div class="cell parent depend" v-tooltip="'Практики'"><label class="hint-name name-col">Практики</label></div>
              </td>                                     
              <td scope="col" class="table__column-name column-hide" id="labs" rowspan="2">
                  <div class="cell" v-tooltip="'Лаборат. занятия'"><label class="hint-name name-col">Лаборат. занятия</label></div>
              </td>
              <td v-for="c in TABLE_COLUMNS.columns" :key="c.id" :colspan="c.children.length" scope="col" class="table__column-name column-hide" :rowspan="rs(c.children.length)">
                  <div class="cell" v-tooltip="get_kw(c.name)"><label class="hint-name name-col"> {{c.alias}} </label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="summ" rowspan="2">
               <div class="cell" v-tooltip="'Всего'"><label class="hint-name name-col">Всего</label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="department" rowspan="2">
                  <div class="cell" v-tooltip="'Кафедра'"><label class="hint-name name-col">Кафедра</label></div>
              </td>
              <td scope="col" class="table__column-name column-hide" id="department" rowspan="2">
                  <div class="cell" v-tooltip="'Подгруппы/потоки'"><label class="hint-name name-col">ПП</label></div>
              </td>
                        </tr>
                        <tr class="tr-bottom">
              <td scope="col" class="table__column-name" data-parent-id="lection" id="plan-lection" style="top: 18px;">
                  <div class="cell child depend" v-tooltip="'По плану'" ><label class="hint-name name-col">По плану</label></div>
              </td>
              <td scope="col" class="table__column-name" data-parent-id="lection" id="all-lection" style="top: 18px;">
                  <div class="cell child depend" v-tooltip="'Всего'"><label class="hint-name name-col">Всего</label></div>
              </td>
              <td scope="col" class="table__column-name" data-parent-id="practice" id="plan-practice" style="top: 18px;">
                  <div class="cell child depend" v-tooltip="'По плану'"><label class="hint-name name-col">По плану</label></div>
              </td>
              <td scope="col" class="table__column-name" data-parent-id="practice" id="all-practice" style="top: 18px;">
                  <div class="cell child depend" v-tooltip="'Всего'"><label class="hint-name name-col">Всего</label></div>
              </td>
              <td v-for="c in TABLE_COLUMNS.children" :key="c.id" scope="col" class="table__column-name" style="top: 18px;">
                  <div class="cell child depend" v-tooltip="get_kw(c.name)"><label class="hint-name name-col"> {{c.alias}} </label></div>
              </td>
            </tr>
                    </thead>
          <tbody>
            <template v-for="faculty in OWN_TABLE_LOAD" :key="faculty.id">
            <tr class="faculty line-info open-line open-list" @click="faculty.show_forms = !faculty.show_forms">
              <td :colspan="TABLE_COLUMNS.colspan">
                <div class="line line-faculty">
                  <div>
                    <i class="pi pi-angle-down" v-if="faculty.show_forms"></i>
                    <i class="pi pi-angle-right" v-if="!faculty.show_forms"></i>
                    <div class="p-l-5">{{faculty.name}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <template v-if="faculty.show_forms">
            <template v-for="form in faculty.forms" :key="form.id">
              <tr class="form line-info open-line" @click="form.show_dirs = !form.show_dirs">
                <td :colspan="TABLE_COLUMNS.colspan">
                  <div class="line line-form">
                    <div>
                      <i class="pi pi-angle-down" v-if="form.show_dirs"></i>
                      <i class="pi pi-angle-right" v-if="!form.show_dirs"></i>
                      <div class="p-l-5">Форма обучения {{form.name}}</div>
                    </div>
                  </div>
                </td>
              </tr>
              <template v-if="form.show_dirs">
              <template v-for="dir in form.directions" :key="dir.id">
                <tr class="direction line-info open-line" @click="dir.show_profiles = !dir.show_profiles">
                  <td class="td-row-direction" :colspan="TABLE_COLUMNS.colspan" style="top: 34px">
                    <div class="line line-direction">
                      <div>
                        <i class="pi pi-angle-down" v-if="dir.show_profiles"></i>
                        <i class="pi pi-angle-right" v-if="!dir.show_profiles"></i>
                        <div class="p-l-5">{{dir.shifr}} {{dir.name}}</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <template v-if="dir.show_profiles">
                <template v-for="profile in dir.profiles" :key="profile.id">
                  <tr class="profile line-info open-line">
                    <td :colspan="TABLE_COLUMNS.colspan">
                      <div class="line line-profile">
                        <div @click="profile.show_strokes = !profile.show_strokes">
                          <i class="pi pi-angle-down" v-if="profile.show_strokes"></i>
                          <i class="pi pi-angle-right" v-if="!profile.show_strokes"></i>
                          <div class="p-l-5">{{profile.name}}</div>
                        </div>
                        <div class="icon-cont" v-if="!closed" @click="openAddOwnStroke(profile)">
                          <i class="pi pi-plus"></i>
                        </div>
                      </div>
                    </td>  
                  </tr>
                  <template v-if="profile.loadstrokes_budzhet.length > 0 && profile.show_strokes">
                    <tr class="budget line-info open-line" @click="profile.show_budzhet = !profile.show_budzhet ">
                      <td :colspan="TABLE_COLUMNS.colspan">
                        <div class="line line-budzhet">
                          <div>
                            <i class="pi pi-angle-down" v-if="profile.show_budzhet"></i>
                            <i class="pi pi-angle-right" v-if="!profile.show_budzhet"></i>
                            <div class="p-l-5">Бюджет</div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <template v-if="profile.show_budzhet">
                    <tr v-for="stroke in profile.loadstrokes_budzhet" :key="stroke.uuid" class="line-load" :class="{'hided': !stroke.show, 'flowing': flowing(stroke.uuid)}" @contextmenu="onRightMenuClick(stroke, $event, profile)">
                      <td>
                        <span class="cell cell-attention"></span>
                      </td>
                      <td>
                        <span class="cell l-align" v-tooltip="get_kw(stroke.code)">{{stroke.code}}</span>
                      </td>
                      <td class="name js-col-name-subject d-name">
                        <span class="cell js-horizontal-scroll l-align" v-tooltip="get_kw(stroke.name)">{{stroke.name}}</span>
                      </td>
                      <td class="course">
                        <span class="cell">{{stroke.course}} / {{ stroke.sem}}</span>
                      </td>
                      <td class="contingent" >
                        <span class="cell">{{stroke.contingent}}</span>
                      </td>
                      <td class="groups">
                        <span class="cell">{{stroke.groups}}</span>
                      </td>
                      <td class="lection">
                        <span class="cell">{{ stroke.lecplan }}</span>
                      </td>
                      <td class="lection">
                        <span class="cell js-fact-lec">{{stroke.lecfact}}</span>
                      </td>
                      <td class="practice">
                        <span class="cell js-fact-pract">{{stroke.practplan}}</span>
                      </td>
                      <td class="practice" >
                        <span class="cell js-fact-lab">{{ stroke.practfact}}</span>
                      </td>
                      <td class="labs">
                        <span class="cell">{{ stroke.labfact}}</span>
                      </td>
                      <td v-for="col in stroke.columns" :key="col.c_id">
                        <span class="cell" :class="{ 'hand': col.hand }">{{col.val}}</span>
                      </td>
                      <td class="summ">
                        <span class="cell">{{stroke.summ}}</span>
                      </td>
                      <td class="department">
                        <div class="cell cell-department"><span>{{stroke.department}}</span>
                        <div class="department-arrow"></div></div>
                      </td>
                      <td class="pp">
                        <div class="cell cell-pp">
                          <div class="sub" v-if="stroke.is_group" v-tooltip="'Есть подгруппы'">П</div>
                        
                        </div>
                      </td>
                    </tr>
                    </template>
                  </template>
                  <template v-if="profile.loadstrokes_vnebudzhet.length > 0 && profile.show_strokes">
                    <tr class="budget line-info open-line" @click="profile.show_vnebudzhet = !profile.show_vnebudzhet">
                      <td :colspan="TABLE_COLUMNS.colspan">
                        <div class="line line-budzhet">
                          <div>
                            <i class="pi pi-angle-down" v-if="profile.show_vnebudzhet"></i>
                            <i class="pi pi-angle-right" v-if="!profile.show_vnebudzhet"></i>
                            <div class="p-l-5">Внебюджет</div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <template v-if="profile.show_vnebudzhet">
                    <tr v-for="stroke in profile.loadstrokes_vnebudzhet" :key="stroke.uuid" class="line-load" :class="{'hided': !stroke.show, 'flowing': flowing(stroke.uuid)}" @contextmenu="onRightMenuClick(stroke, $event, profile)">
                      <td>
                        <span class="cell cell-attention"></span>
                      </td>
                      <td>
                        <span class="cell l-align" v-tooltip="get_kw(stroke.code)">{{stroke.code}}</span>
                      </td>
                      <td class="name js-col-name-subject d-name">
                        <span class="cell js-horizontal-scroll l-align" v-tooltip="get_kw(stroke.name)">{{stroke.name}}</span>
                      </td>
                      <td class="course">
                        <span class="cell">{{stroke.course}} / {{ stroke.sem}}</span>
                      </td>
                      <td class="contingent" >
                        <span class="cell">{{stroke.contingent}}</span>
                      </td>
                      <td class="groups">
                        <span class="cell">{{stroke.groups}}</span>
                      </td>
                      <td class="lection">
                        <span class="cell">{{ stroke.lecplan }}</span>
                      </td>
                      <td class="lection">
                        <span class="cell js-fact-lec">{{stroke.lecfact}}</span>
                      </td>
                      <td class="practice">
                        <span class="cell js-fact-pract">{{stroke.practplan}}</span>
                      </td>
                      <td class="practice" >
                        <span class="cell js-fact-lab">{{ stroke.practfact}}</span>
                      </td>
                      <td class="labs">
                        <span class="cell">{{ stroke.labfact}}</span>
                      </td>
                      <td v-for="col in stroke.columns" :key="col.c_id">
                        <span class="cell" :class="{ 'hand': col.hand }">{{col.val}}</span>
                      </td>
                      <td class="summ">
                        <span class="cell">{{stroke.summ}}</span>
                      </td>
                      <td class="department">
                        <div class="cell cell-department"><span>{{stroke.department}}</span>
                        <div class="department-arrow"></div></div>
                      </td>
                      <td class="pp">
                        <div class="cell cell-pp">
                          <div class="sub" v-if="stroke.is_group" v-tooltip="'Есть подгруппы'">П</div>
                        
                        </div>
                      </td>
                    </tr>
                    </template>
                  </template>
                </template>
                </template>  
              </template>
              </template>
            </template>
            </template>
           </template>
            
          </tbody>
                </table>
        <ProgressSpinner animationDuration="4s" v-if="activeProgress"/>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import ProgressSpinner from 'primevue/progressspinner';
  import ContextMenu from 'primevue/contextmenu';
  import Dropdown from 'primevue/dropdown';
  import Dialog from 'primevue/dialog';
  import Button from 'primevue/button';
  import Chip from 'primevue/chip';
  import InputText from 'primevue/inputtext';
  import AddOwnStroke from '@/components/loadworks/add-own-stroke';
  import ChangeColumnValue from '@/components/loadworks/change-column';
  import SplitButton from 'primevue/splitbutton';
  import axios from 'axios';
  // import Checkbox from 'primevue/checkbox';

  export default {
    data() {
      return {
        activeProgress: false,
        menuItems: [
        {'label': 'Скрыть/активировать курс', 'icon': 'pi pi-fw pi-eye'},
        {'label': 'Редактировать кафедру', 'icon': 'pi pi-fw pi-pencil'},
        {'label': 'Подгруппы', 'icon': 'pi pi-fw pi-sitemap'},
        {'label': 'Потоки', 'icon': 'pi pi-fw pi-clone'},
        {'label': 'Значение колонки', 'icon': 'pi pi-fw pi-pencil'},
        ],
        menuItemsPract: [
        {'label': 'Скрыть/активировать курс', 'icon': 'pi pi-fw pi-eye'},
        {'label': 'Редактировать кафедру', 'icon': 'pi pi-fw pi-pencil'},
        {'label': 'Подгруппы', 'icon': 'pi pi-fw pi-sitemap'},
        {'label': 'Значение колонки', 'icon': 'pi pi-fw pi-pencil'},
        ],
        menuItemsChoice: [
        {'label': 'Скрыть/активировать курс', 'icon': 'pi pi-fw pi-eye'},
        {'label': 'Редактировать кафедру', 'icon': 'pi pi-fw pi-pencil'},
        {'label': 'Потоки', 'icon': 'pi pi-fw pi-clone'},
        {'label': 'Значение колонки', 'icon': 'pi pi-fw pi-pencil'},
        ],
        menuItemsAll: [
        {'label': 'Скрыть/активировать курс', 'icon': 'pi pi-fw pi-eye'},
        {'label': 'Редактировать кафедру', 'icon': 'pi pi-fw pi-pencil'},
        {'label': 'Удалить строку', 'icon': 'pi pi-fw pi-trash'},
        {'label': 'Значение колонки', 'icon': 'pi pi-fw pi-pencil'},
        ],
        activeStroke: null,
        activeProfile: null,
        displayDep: false,
        displayDepRep: false,
        selectedDep: {},
        selectedDepRep: {},
        displaySub: false,
        hoursTypes: [{'label': 'Лекции', 'value': 'lek'},
                     {'label': 'Практики', 'value': 'pract'},
                     {'label': 'Лабораторные', 'value': 'lab'}],
        addedSubs: {}, 
        practSubs: [],
        blockId: null,
        subCodes: [3, 6, 31],
        flowActive: false,
        flowsUuids: [],
        displayFlows: false,
        displayCreateFlow: false,
        selectedType: {},
        types: [],
        flowName: '',
        flows: [],
        selectedGroup: {},
        selectedFlow: {},
        addedFlow: false,
        closed: false,
        items: [
        {
          label: 'По практикам',
          icon: 'pi pi-plus',
          command: () => {
            this.addNewFlowInPlace("pract");
          }
        },
        {
          label: 'По лабораторным',
          icon: 'pi pi-plus',
          command: () => {
            this.addNewFlowInPlace("lab");
          }
        }]
      }
    },
    components: {
      ProgressSpinner,
      ContextMenu,
      Dropdown,
      Dialog,
      Button,
      Chip,
      InputText,
      AddOwnStroke,
      ChangeColumnValue,
      SplitButton
      // Checkbox
    },
    mounted() {
      this.GET_LOAD_VERSION_FROM_API({version: this.$route.params.version})
      .then(() => {
        if (this.LOAD_VERSION.active_own == true && this.$route.params.own == 1 ||
            this.LOAD_VERSION.active_other == true && this.$route.params.own == 0)
          this.closed = true;
      }) 

      this.GET_TABLE_COLUMNS_FROM_API({version: this.$route.params.version,
                                       faculty: localStorage.getItem('faculty')})
      this.activeProgress = true;
      this.GET_OWN_TABLE_LOAD_FROM_API({version: this.$route.params.version,
                                        ownteachers: this.$route.params.own})
          .then(() => {
             this.activeProgress = false;
          })
      this.GET_FACULTY_DEPS_FROM_API({faculty: localStorage.getItem('faculty'),
                                      own: this.$route.params.own})
      this.GET_ALL_FACULTY_DEPS_FROM_API();
      this.GET_FLOWS_FROM_API({version: this.$route.params.version,
                               own: this.$route.params.own})
      
    },  
    computed: {
       ...mapGetters([
         'TABLE_COLUMNS',
         'YEAR',
         'OWN_TABLE_LOAD',
         'FACULTY_DEPS',
         'ALL_FACULTY_DEPS',
         'SUBGROUPS_STROKE_INFO',
         'TABLE_FLOWS',
         'STROKE_FLOWS',
         'LOAD_VERSION'
       ]),
       deps() {
        let deps = [];
        for (let dep of this.FACULTY_DEPS) {
          deps.push({"name": dep.number + " / " + dep.name, "code": dep.number})
        }
        return deps;
       },
       all_deps() {
        let deps = [];
        let d = this.$route.params.own==1 ? this.FACULTY_DEPS : this.ALL_FACULTY_DEPS;
        for (let dep of d) {
          deps.push({"name": dep.number + " / " + dep.name, "code": dep.number})
        }
        return deps;
       },

    },
    methods: {
     ...mapActions([
        'GET_TABLE_COLUMNS_FROM_API',
        'GET_OWN_TABLE_LOAD_FROM_API',
        'SET_STROKE_ACTIVITY',
        'GET_FACULTY_DEPS_FROM_API',
        'GET_ALL_FACULTY_DEPS_FROM_API',
        'SET_STROKE_DEPARTMENT',
        'GET_SUBGROUPS_STROKE_INFO_FROM_API',
        'SET_SUBGROUPS_STROKE_TO_API',
        'JOIN_SUBGROUPS_STROKE_IN_API',
        'SET_STROKE_SUBGROUP_DEPARTMENT',
        'GET_FLOWS_FROM_API',
        'GET_STROKE_FLOWS_FROM_API',
        'ADD_NEW_FLOW_TO_API',
        'ADD_NEW_STROKE_FLOW_TO_API',
        'DELETE_STROKE_FLOW_FROM_API',
        'CHANGE_MAIN_STROKE_FLOW_IN_API',
        'DELETE_FLOW_FROM_API',
        'DELETE_STROKE_OWN_FROM_API',
        'GET_LOAD_VERSION_FROM_API'
     ]),
     flowing(uuid) {
        return this.flowsUuids.includes(uuid) && this.flowActive;
     },
     rs(l) {
       if (l == 0) return 2;
       return 1;
     },
     get_kw(name) {
      return name;
     },
     onRightMenuClick(stroke, event, profile) {
      if (!this.closed) {
        this.$refs["menu"].hide();
        this.$refs["menuAll"].hide();
        this.$refs["menuChoice"].hide();
        this.$refs["menuPract"].hide();

        let menu = 'menuAll';
        if (stroke.choice) menu = 'menuChoice';
        else if (stroke.object_type == 2) {
          menu = 'menu';
        }
        else if (this.subCodes.includes(stroke.object_type)) {
          menu = 'menuPract';
        }
        this.$refs[menu].show(event);
        this.activeStroke = stroke;
        this.activeProfile = profile;
      }
     },
     onMenuItemClick(event) {
      if (event.target.innerText == 'Скрыть/активировать курс') {
        this.SET_STROKE_ACTIVITY({uuid: this.activeStroke.uuid, value: !this.activeStroke.show,
                                  version: this.$route.params.version, profile: this.activeProfile})
      }
      else if (event.target.innerText == 'Редактировать кафедру') {
        let ind = this.all_deps.findIndex(e => e.code == this.activeStroke.department);
        if (ind >= 0) {
          this.selectedDep = this.all_deps[ind];
        } 
        this.displayDep = true;
      }
      else if (event.target.innerText == 'Подгруппы') {
        this.GET_SUBGROUPS_STROKE_INFO_FROM_API({uuid: this.activeStroke.uuid, 
                                                 version: this.$route.params.version})
        .then(()=>{
          if (this.activeStroke.object_type != 2) {
            let ind = -1;
            for (let groupKey of Object.keys(this.SUBGROUPS_STROKE_INFO)) {
              for (let sub of this.SUBGROUPS_STROKE_INFO[groupKey].strokesubs) {
                ind = this.deps.findIndex(e => e.code == sub.department);
                if (ind >= 0) {
                 sub.selectedDep = this.deps[ind];
                }
                sub.changeDep = false;
              }
            }
          }
        })
        this.addedSubs = [];
        this.displaySub = true;
      }
      else if (event.target.innerText == 'Потоки') {
        this.addedFlow = false;
        console.log(this.activeStroke);
        this.GET_STROKE_FLOWS_FROM_API({uuid: this.activeStroke.uuid, 
                                        version: this.$route.params.version})
        .then(()=> {
          console.log(this.STROKE_FLOWS)
          this.displayFlows = true;
        })
      }
      else if (event.target.innerText == 'Удалить строку') {
        this.DELETE_STROKE_OWN_FROM_API({uuid: this.activeStroke.uuid, 
                                         version: this.$route.params.version,
                                         profile: this.activeProfile})
      }
      else if (event.target.innerText == 'Значение колонки') {
         this.$refs.changecolumn.openDialog();
      }
     },
     closeModalDeps() {
      this.displayDep = false;
     },
     closeModalDepRep() {
      this.displayDep = false;
     },
     closeModalFlows() {
      this.displayFlows = false;
     },
     changeDep() {
      this.SET_STROKE_DEPARTMENT({uuid: this.activeStroke.uuid, department: this.selectedDep.code,
                                  version: this.$route.params.version, profile: this.activeProfile})
      .then(()=> {
        this.closeModalDeps();
      })
     },
     closeModalSub() {
      this.displaySub = false;
     },
     goCont() {
      let routeData = this.$router.resolve({ path: '/contingent', query: { id: this.activeProfile.id } })
      window.open(routeData.href, '_blank');
     },
     goContEmpty() {
      let routeData = this.$router.resolve({ path: '/contingent'})
      window.open(routeData.href, '_blank');
     },
     addSubgroupsToStroke(group) {
      let subs = []
      for (let l of Object.keys(group.blocks_name)) {
        subs.push({'label': group.blocks_name[l].substring(3), 'value': l})
      }

      let ht = [];
      for (let l of group.strokesubs) {
        ht.push(l.hours_type)
      }

      let types = this.hoursTypes.filter(e => !ht.includes(e.value))

      if (this.addedSubs[group.id] == undefined) {
        this.addedSubs[group.id] = []
      }

      if (types.length > 0 && subs.length > 0) {
        this.addedSubs[group.id].push({"types": types, "subs": subs, "selectedSub": subs[0], "selectedType": types[0]});
      }  
     },
     addSubgroupsToStrokePract(group) {
      let subs = []
      for (let l of Object.keys(group.blocks_name)) {
        subs.push({'label': group.blocks_name[l].substring(3), 'value': l})
      }

      if (this.addedSubs[group.id] == undefined) {
        this.addedSubs[group.id] = []
      }

      this.addedSubs[group.id].push({"subs": subs, "selectedSub": subs[0]}); 
     },  
     addSubgroups(selectedType, selectedSub, ind, group) {
      this.SET_SUBGROUPS_STROKE_TO_API({uuid: this.activeStroke.uuid, 
                                        version: this.$route.params.version,
                                        profile: this.activeProfile,
                                        block_id: selectedSub.value,
                                        hours_type: selectedType.value,
                                        departments: []})
          .then(()=> {
            this.addedSubs[group].splice(ind, 1);
          })
     },
     joinSubs(group_id, indsub, hours_type) {
      this.JOIN_SUBGROUPS_STROKE_IN_API({uuid: this.activeStroke.uuid, 
                                        version: this.$route.params.version,
                                        profile: this.activeProfile,
                                        group_id: group_id,
                                        hours_type: hours_type,
                                        ind: indsub})
     },
     joinSubsPract(group_id) {
      this.JOIN_SUBGROUPS_STROKE_IN_API({uuid: this.activeStroke.uuid, 
                                        version: this.$route.params.version,
                                        profile: this.activeProfile,
                                        group_id: group_id,
                                        hours_type: 'other',
                                        ind: -1})
     },
     changeSubDep(sub) {
      this.SET_STROKE_SUBGROUP_DEPARTMENT({uuid: this.activeStroke.uuid, 
                                           version: this.$route.params.version,
                                           profile: this.activeProfile,
                                           department: sub.selectedDep.code,
                                           subgroup_id: sub.group_id})
          .then(()=>{
            sub.changeDep = false;
          })
     },
     selSubgroupsPract(selectedSub, group_id) {
      this.blockId = selectedSub.value;
      let blocks = this.SUBGROUPS_STROKE_INFO[group_id].blocks[selectedSub.value];
      let subs = []
      for (let l of blocks) {
        subs.push({'label': l.name, 'value': l.id, 'selDep': this.deps[0], 'count': (l.budzhet_count+l.vnebudzhet_count)})
      }

      this.practSubs = subs;
     },
     addSubgroupsPract(group) {
      let deps = [];
      for (let l of this.practSubs) {
        deps.push({'sid': l.value, 'department': l.selDep.code})
      }
      this.SET_SUBGROUPS_STROKE_TO_API({uuid: this.activeStroke.uuid, 
                                        version: this.$route.params.version,
                                        profile: this.activeProfile,
                                        block_id: this.blockId,
                                        hours_type: 'other',
                                        departments: deps})
          .then(()=> {
            this.addedSubs = [];
            this.practSubs = [];
            for (let sub of this.SUBGROUPS_STROKE_INFO[group].strokesubs) {
                let ind = this.deps.findIndex(e => e.code == sub.department);
                if (ind >= 0) {
                 sub.selectedDep = this.deps[ind];
                }
                sub.changeDep = false;
            }
          })
     },
     openFlow(flow) {
      this.flowsUuids = [];
      for (let f of this.TABLE_FLOWS) {
        f.show_groups = false;
      }

      flow.show_groups = true;

      for (let s of flow.loadstrokes_res) {
        this.flowsUuids.push(s.uuid)
      }
     },
     addFlow() {
      this.displayCreateFlow = true;
     },
     closeModalCreateFlow() {
      this.displayCreateFlow = true;
     },
     addNewFlow() {
      this.ADD_NEW_FLOW_TO_API({version: this.$route.params.version,
                                dep: this.selectedDep.code,
                                hoursType: this.selectedType.value,
                                name: this.flowName})
          .then(()=>{
            this.displayCreateFlow = false;
          })
     },
     addFlowToStroke() {
      this.flows = [];
      this.selectedFlow = {};

      let dep = this.activeStroke.department;

      for (let g of this.STROKE_FLOWS.groups) {
          g.disabled = true;
      } 

      for (let f of this.TABLE_FLOWS) {
        if (f.department == dep) {
          this.flows.push({'label': f.name +" / " + f.hours + " / " + f.department,
                           'value': f.id, "type": f.type})
        }
      }

      this.addedFlow = true;
     },
     selectFlow() {
      let groups = [];
    
      for (let l of this.STROKE_FLOWS.loadstrokes) {
        let t = l.LoadStroke.hours_type;
        if (t == this.selectedFlow.type) 
          groups.push(l.LoadStroke.group_id+"_"+l.LoadStroke.group_type);
      }

      for (let g of this.STROKE_FLOWS.groups) {
        if (!groups.includes(g.group_id+"_"+g.group_type)) {
          g.disabled = false;
        }
      } 
     },
     addFlowParticipant() {
        this.ADD_NEW_STROKE_FLOW_TO_API({uuid: this.activeStroke.uuid, 
                                         profile: this.activeProfile,
                                         group_id: this.selectedGroup.group_id,
                                         group_type: this.selectedGroup.group_type,
                                         flow_id: this.selectedFlow.value})
        .then(()=>{
          this.addedFlow = false;
          this.GET_STROKE_FLOWS_FROM_API({uuid: this.activeStroke.uuid, 
                                          version: this.$route.params.version})
          this.GET_FLOWS_FROM_API({version: this.$route.params.version,
                                   own: this.$route.params.own});
        })
      },
      deleteStrokeFlow(stroke) {
        this.DELETE_STROKE_FLOW_FROM_API({uuid: this.activeStroke.uuid, 
                                         profile: this.activeProfile,
                                         group_id: stroke.LoadStroke.group_id,
                                         group_type: stroke.LoadStroke.group_type,
                                         flow_id: stroke.LoadStroke.flow_id})
        .then(()=>{
          this.GET_STROKE_FLOWS_FROM_API({uuid: this.activeStroke.uuid, 
                                          version: this.$route.params.version})
          this.GET_FLOWS_FROM_API({version: this.$route.params.version,
                                   own: this.$route.params.own});
          this.flowsUuids = [];
        })
      },
      doMainInFlow(flow, ls) {
        if (!ls.is_main) {
          this.CHANGE_MAIN_STROKE_FLOW_IN_API({uuid: ls.uuid,
                                               group_id: ls.group_id,
                                               group_type: ls.group_type,
                                               flow_id: flow.id})
              .then(()=> {
                for (let st of flow.loadstrokes_res) {
                  if (st.is_main == true) st.is_main = false;
                  if (st.uuid == ls.uuid) st.is_main = true;
                }
              })
        }
      },
      deleteFlow(flow_id) {
        this.DELETE_FLOW_FROM_API({flow_id: flow_id})
      },
      openAddOwnStroke(profile) {
        this.activeProfile = profile;
        this.$refs.addown.openDialog();
      },
      downloadAll() {
        let url = `${axios.defaults.baseURL}load/table/allreport?faculty=${localStorage.getItem('faculty')}&version=${this.$route.params.version}&onlyotherstudents=0&ownteachers=${this.$route.params.own}`;
        location.assign(url)
      },
      getDepRep() {
        if (Object.keys(this.selectedDepRep).length > 0) {
          let url = `${axios.defaults.baseURL}load/table/depreport?faculty=${localStorage.getItem('faculty')}&dep=${this.selectedDepRep.code}&version=${this.$route.params.version}&onlyotherstudents=0&ownteachers=${this.$route.params.own}`;
          location.assign(url)
        }
      },
      addNewFlowInPlace(type) {
        let name = this.activeStroke.name + " ("+this.activeStroke.course+"/"+this.activeStroke.sem+")";
        this.ADD_NEW_FLOW_TO_API({version: this.$route.params.version,
                                  dep: this.activeStroke.department,
                                  hoursType: type,
                                  name: name})
        .then(()=>{
            let f = this.TABLE_FLOWS[this.TABLE_FLOWS.length-1];
            this.flows.push({'label': f.name +" / " + f.hours + " / " + f.department,
                             'value': f.id, "type": f.type})
            this.selectedFlow = this.flows[this.flows.length - 1];
            this.selectFlow();
            this.activeFlow = this.TABLE_FLOWS[this.TABLE_FLOWS.length-1];

        })
      }
    } 
    
  }
</script>

<style lang="scss">

  $color-link: #131836; 
  $color-link-light: rgba(19,24,54, 0.8);
  $color-hover: rgba(229, 229, 239, 0.15);
  $color-light: #7E88C1;

  .gload_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    bottom: 0;
  }

  body {
    height: calc(100vh - 55px);
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  #app, #nav {
    height: 100%;
  }

  .p-menuitem-text {
    font-size: 0.8rem;
  }

  .fl-r {
    display: flex;
    align-items: center;

    .and {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .flex-block {
    display: flex;
    align-items: center;
    margin-bottom: 7px;

    > div {
      margin-right: 9px;
    }
  }

  .container-dashboard {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
    flex: 1;
  }

  .container-dashboard-aside {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;

    .container-dashboard-aside-menu {
        display: flex;
        width: 2.6em;
        background-color: $color-link;
        position: relative;

        .container-dashboard-aside-menu-items {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            align-content: center;

            .item {
              color: white;
              height: 4rem;
              width: 100%;
              justify-content: center;
              display: flex;
              align-items: center;

              &:hover {
                background-color: $color-hover;
                cursor: pointer;
              }

              &.active {
                background-color: $color-hover;
              }
            }


        }
    }
  }



  .container-dashboard-content {
    font-size: .7rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  .container-dashboard-content-scroll {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    flex: 1;
    box-shadow: 0 2px 2px rgb(80 77 77 / 17%);
    background-color: white;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #B9ADB3;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
  }

  .container-dashboard-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(225, 225, 228, 0.158);
    padding: 0.9em;
    position: sticky;
    left: 0;
    z-index: 2;

    button {
      margin-right: 9px;
    }

    .right {
      display: flex;
    } 
  }


  .container-dashboard-table {
    font-family: 'Roboto', sans-serif;
    border-radius: 0.2em;
    border-collapse: collapse;
    border-spacing: 0 !important;
    vertical-align: top;
    font-size: 120%;
    background-color: white;
    margin-bottom: 3em;
    z-index: 1;
    width: 100%;
    color: rgba(13, 26, 63, 0.74);

    .cell {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    word-break: break-all;
    text-align: center;
    height: 18px;
    }

    .cell.l-align {
      text-align: left;
    }

    thead td {
     background-color: white;
     padding: 0;
     margin: 0;
     max-width: 30px;
     outline: solid 1px white;

      .parent {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
      }
    }

    thead .tr-bottom td {
      position: sticky;
      z-index: 12;

      label {
        padding-left: 0.5em;
      }
    }

    thead .tr-top td {
      z-index: 12;
      position: sticky;
      top: 0;

      label {
        padding-left: 0.5em;
      }
    }

    tbody {
      position: relative;
      height: 100%;
      vertical-align: top;
      margin: 0;
      padding: 0;

      tr td {
        position: relative;
        box-sizing: border-box;
        padding: 0;
        max-width: 30px;
        z-index: 1;
        height: 100%;
      }

      tr td.d-name {
        max-width: 120px;
        text-align: left;
      }

      tr {
       &:hover {
        background-color: #d2d2dd;
       }

       &.hided {
        color: rgba(133, 134, 138, 0.507);
       } 

       &.flowing {
        background-color: #cbcfe6;
       }

       td span {
            padding-top: 0.1em;
            padding-left: 0.5em;
            line-height: 1.2em;
            position: relative;
            height: 100%;
       }
 
       .td-row-direction {
           position: sticky;
          z-index: 10;
       }

       .line {
           display: flex;
           align-items: center;
           padding: 0.3em 0;
           cursor: pointer;
           // font-family: "";
           color: #eae9f1;

           > div {
            display: flex;
            align-items: center;
            position: sticky;
           }
       } 

       .line-faculty {
        background-color: #666481;
        padding-left: 5px;

            > div {
              left: 5px;
              font-weight: bold;
            }
       }

       .line-form {
          padding-left: 10px;
          background-color: #76748f;
          > div {
              left: 10px;
              font-weight: bold;
          }
       }

       .line-direction {
            padding-left: 15px;
            background-color: #82819b;
          > div {
              left: 15px;
              font-weight: bold;
          }  
       }

       .line-profile {
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            background-color: #9e9db4;
          > div {
              left: 20px;
              font-weight: bold;
          }

          .icon-cont {
            margin-right: 9px;
            padding:2px;
          }  
       }

       .line-budzhet {
            padding-left: 25px;
            background-color: #b9b8cc;
          > div {
              left: 25px;
              font-weight: bold;
          }  
       }

      }

    }

  }

  .p-l-5 {
    padding-left: 5px
  }

  .hand {
    color: red;
    font-weight: bold;
  }

  .subgroup-stroke {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    align-items: center;

    > div {
      // padding-right: 8px;
      margin-right: 8px;
    }
  }

  .add-subgroup {
    margin-left: 20px;
    margin-top: 10px;
  }

  .pp {

    vertical-align: middle;
   
    .cell-pp {
      display: flex;
      height: 100%;
    }
    .sub {
      // width: 3px;
      background-color: #7E88C1;
      font-size: 0.6rem;
      color: transparent;
      height: 100%;
    }
  }

  .m-r-20 {
    margin-right: 20px;
  }

  .flow-aside {
    display: flex;
    width: 20vw;
    min-width: 300px;
    flex-direction: column;
    margin: 0.5em 0.5em 0px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .bottom {
      display: flex;
      flex: 1;
      // padding-top: 7px;
      margin: 0.7em 0;
      border-radius: 3px;
      box-shadow: 0 0 0 2px rgb(62 67 92 / 9%);
      background-color: white;
      font-size: 0.9rem;
      flex-direction: column;
      overflow-y: scroll;

      .flow-stroke {
        cursor: pointer;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        padding: 5px 0px 5px 5px;

        &:hover, &.active {
          background-color: #eee;
        }

        .name {
          flex-grow: 1;
        }

        .p-button-text, .hours, .dep, i {
          flex-grow: 0;
          margin-right: 5px;
        }

        .hours, .dep {
          font-size: 0.7rem;
        }

        .hours {
          background-color: $color-light;
        }
      }

      .stroke {
        padding: 9px 5px 9px 20px;
        display: flex;
        align-items: center;
        align-content: center;

        .main {
          flex-shrink: 0;
          margin-right: 5px;
        }

        .g-name {
          flex-grow: 1;
          padding-right: 5px;
        }
      }

      .main {
        border: 1px solid $color-light;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        cursor: pointer;
        padding: 2px;
      }
    }
  }

</style>