<template>
  <div class="cont">
    <yearpanel/>
    <Dialog  header="Имя новой версии" v-model:visible="display" :modal="true">  
            <div class="m-b-5">
                <div class="label">Название</div>
            </div>
            <div>
                <InputText type="text" v-model="name" />
            </div>

            <ProgressBar v-if="activeProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>
            <div v-if="activeProgress" class="m-t-20">Подождите, пожалуйста. Идёт перерасчет внеаудиторной нагрузки.</div>

            <template #footer>
                <Button  v-if="!activeProgress" label="Отменить" icon="pi pi-times" class="p-button-text" @click="closeModal"/>
                <Button  v-if="!activeProgress" label="Сохранить" icon="pi pi-check" autofocus @click="addNewVersion"/>
            </template>
    </Dialog>
    <ApproveVersion ref="approveVersion" :version="activeVersion"/>
    <div class="container">  
      <div class="bread">
        <router-link to="/">Главная</router-link>
        / Формирование нагрузки
      </div>

      <div class="panel">
        <Button label="Параметры расчета нагрузки" class="p-button-raised p-button-text p-button-sm" @click="this.$router.push('/columns')"/>
        <Button label="Создать новую версию" class="p-button-raised p-button-text p-button-sm p-l-10" @click="createNewVersion"/>
      </div>

      <ProgressBar v-if="activemainProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>
      <div v-if="activemainProgress" class="m-t-20 m-b-20">Подождите, пожалуйста. Идёт перерасчет внеаудиторной нагрузки.</div>

      <DataTable :value="LOAD_VERSIONS" responsiveLayout="scroll" class="table-versions">
            <Column field="current" header="Текущая версия">
              <template #body="slotProps">
                <Checkbox class="curr-check" v-model="slotProps.data.current" :binary="true" :disabled="slotProps.data.current" @change="changeCurrent(slotProps.data.id)"/>
              </template>  
            </Column>
            <Column field="approved" header="Утверждена?">
              <template #body="slotProps">
                <div><i :class="{active: slotProps.data.active_own}" class="pi pi-check appr"></i></div>
                <div><i :class="{active: slotProps.data.active_other}" class="pi pi-check appr"></i></div>
              </template>
            </Column>
            <Column field="load_own" header="Нагрузка">
              <template #body="slotProps">
                <div>
                 <router-link :to="{ name: 'GLoad', params: { version: slotProps.data.id, own: 1}}">{{slotProps.data.name}} (нагрузка факультета)</router-link>
                </div> 
                <div>
                  <router-link :to="{ name: 'GLoad', params: { version: slotProps.data.id, own: 0}}">{{slotProps.data.name}} (нагрузка, передаваемая на другие факультеты)</router-link>
                </div>
              </template>
            </Column>
            <Column field="actions" header="Действия">
              <template #body="slotProps">
                <Button label="Утвердить" icon="pi pi-check-circle" class="p-button-sm p-button-text" @click="approve(slotProps.data)"/>
                <Button label="Пересчитать" icon="pi pi-replay" class="p-button-sm p-button-text" @click="updateVersion(slotProps.data.id)"/>
                <Button label="Пересчитать с сохранением в новую версию" icon="pi pi-history" class="p-button-sm p-button-text" @click="updateVersionToNew(slotProps.data.id)"/>
                <Button label="Пересчитать только внеаудиторную нагрузку" icon="pi pi-history" class="p-button-sm p-button-text" @click="updateVersionVn(slotProps.data.id)"/>
                <Button label="Удалить версию" icon="pi pi-times" class="p-button-sm p-button-text" @click="deleteVersion(slotProps.data.id)"/>
              </template>
            </Column>
      </DataTable>
      <ConfirmDialog></ConfirmDialog>

    </div>
  </div>
</template>


<script>
  import yearpanel from '@/components/base/yearpanel';
  import DataTable from 'primevue/datatable';
  import Column from 'primevue/column';
  import Button from 'primevue/button';
  import Checkbox from 'primevue/checkbox';
  import {mapGetters, mapActions} from 'vuex';
  import Dialog from 'primevue/dialog';
  import InputText from 'primevue/inputtext';
  import ApproveVersion from '@/components/loadversions/approve-version';
  import ProgressBar from 'primevue/progressbar';
  import ConfirmDialog from 'primevue/confirmdialog';


  export default {
    components: {
      yearpanel,
      DataTable,
      Column,
      Button,
      Checkbox,
      ApproveVersion,
      Dialog,
      InputText,
      ProgressBar,
      ConfirmDialog
    },
    created() {
      this.$watch('YEAR', () => {
         this.GET_LOAD_VERSIONS_FROM_API({year: this.YEAR,
                                          faculty: localStorage.getItem('faculty')})
      })
    },
    mounted() {
        this.GET_LOAD_VERSIONS_FROM_API({year: this.YEAR,
                                          faculty: localStorage.getItem('faculty')})
        .then(()=>{console.log(this.LOAD_VERSIONS)})
    },
    data() {
      return {
        active: true,
        activeVersion: null,
        display: false,
        name: 'Версия 0',
        activeProgress: false,
        activemainProgress: false,
        action: null,
        vId: null,
      }
    },
    computed: {
       ...mapGetters([
         'SESSION',
         'YEAR',
         'LOAD_VERSIONS'
       ]),
    },
    methods: {
     ...mapActions([
        'GET_LOAD_VERSIONS_FROM_API',
        'CREATE_VERSION',
        'DELETE_VERSION_FROM_API',
        'UPDATE_VERSION_IN_API',
        'SET_CURRENT_TO_API',
        'UPDATE_VERSION_VN_IN_API'
     ]),
     changeCurrent(dataId) {
      for (let lv of this.LOAD_VERSIONS) {
        if (lv.id != dataId) {
          lv.current = false;
        }
      }
      this.SET_CURRENT_TO_API({version: dataId})
     },
     approve(version) {
      let prom = new Promise((res) => {
        this.activeVersion = version;
        res("")
      })        

      prom.then(()=>{
        this.$refs["approveVersion"].openDialog();
      })  
     },
     createNewVersion() {
      this.display = true;
      this.action = 'create';
     },
     updateVersionToNew(vId) {
      this.display = true;
      this.vId = vId;
      this.action = "update";
     },
     addNewVersion() {
      this.activeProgress = true;

      if (this.action == 'create')
        this.CREATE_VERSION({name: this.name, 
                             faculty_id: localStorage.getItem('faculty'),
                             year: this.YEAR})
            .then(()=>{
              this.closeModal();
              this.activeProgress = false;
            })

      if (this.action == 'update')
        this.UPDATE_VERSION_IN_API({name: this.name, 
                                    faculty_id: localStorage.getItem('faculty'),
                                    year: this.YEAR,
                                    new_ver: true,
                                    up_ver: this.vId})
          .then(()=>{
            this.activeProgress = false;
            this.closeModal();
            this.$toast.add({severity:'success', summary: 'Успешно', detail:'Обновление в новую версию завершено', life: 3000});
          })

     },
     updateVersion(vId) {
      this.activemainProgress = true;
      this.UPDATE_VERSION_IN_API({name: '', 
                                  faculty_id: localStorage.getItem('faculty'),
                                  year: this.YEAR,
                                  new_ver: false,
                                  up_ver: vId})
          .then(()=>{
            this.activemainProgress = false;
            this.$toast.add({severity:'success', summary: 'Успешно', detail:'Обновление завершено', life: 3000});
          })
     },
     updateVersionVn(vId) {
      this.activemainProgress = true;
      this.UPDATE_VERSION_VN_IN_API({version: vId})
          .then(()=>{
            this.activemainProgress = false;
            this.$toast.add({severity:'success', summary: 'Успешно', detail:'Обновление завершено', life: 3000});
          })
     }, 
     closeModal() {
      this.display = false
     },
     deleteVersion(vId) {
      this.$confirm.require({
                message: 'Вы действительно хотите удалить версию?',
                header: 'Подтверждение',
                icon: 'pi pi-exclamation-triangle',
                acceptLabel: 'Да',
                rejectLabel: 'Нет',
                accept: () => {
                  this.DELETE_VERSION_FROM_API({"version": vId})
                },
      }); 
     }
    } 
  }
</script>  


<style lang="scss">
  $color-link: #131836;
  $color-top: #2E3A82;

  .table-versions {
     a {
       color: $color-link;

       &:hover {
        text-decoration: underline;
       }
     }
  }

  .appr:not(.active) {
    color: white;
  }

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
  }

  .panel {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .curr-check {
    .p-disabled {
      opacity: 1;
    }
  }

  .p-l-10 {
    margin-left: 10px;
  }

  .m-b-5 {
    margin-bottom: 5px;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }
</style>  