<template>
  <div class="cont">
    <yearpanel/>
  <div class="container">  
    <div class="bread">
      <router-link to="/">Главная</router-link>
      / Учебные планы
    </div>
    <Accordion>
      <AccordionTab header="Загрузка учебных планов">
        <ProgressBar v-if="activeProgress" mode="indeterminate" style="height: .5em" class="m-t-20"/>
        <FileUpload ref="fileupload" name="demo[]" :customUpload="true" @uploader="myUploader" :multiple="true" chooseLabel="Выбрать" uploadLabel="Загрузить" cancelLabel="Отменить">
           <template #empty>
            <p>Перетащите или выберите файлы, чтобы загрузить учебные планы.</p>
           </template>
        </FileUpload>
        <DataTable :value="RES_UPLOAD" class="m-t-20">
            <Column field="filename" header="Имя файла"></Column>
            <Column field="message" header="Результат"></Column>
        </DataTable>
      </AccordionTab>
    </Accordion>
    
    <DataTable  dataKey="id" :value="PLANS" class="dt" v-model:filters="filters" filterDisplay="row" editMode="row" v-model:editingRows="editingRows" @row-edit-save="onRowEditSave">
      <Column field="form" header="Форма обучения" :sortable="true" filterField="form" :showFilterMenu="false">
         <template #filter="{filterModel,filterCallback}">
            <MultiSelect v-model="filterModel.value" @change="filterCallback()" :options="forms"  placeholder="Фильтр" class="p-column-filter">
            </MultiSelect>
        </template>
      </Column>
      <Column field="qual" header="Квалификация" :sortable="true" filterField="qual" :showFilterMenu="false">
        <template #filter="{filterModel,filterCallback}">
            <MultiSelect v-model="filterModel.value" @change="filterCallback()" :options="quals"  placeholder="Фильтр" class="p-column-filter">
            </MultiSelect>
        </template>
      </Column>
      <Column field="shifr" header="Шифр" :sortable="true" filterField="shifr" :showFilterMatchModes="false">
        <template #filter="{filterModel,filterCallback}">
          <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" :placeholder="`Поиск`"/>
         </template>
      </Column>
      <Column field="dir" header="Направление" :sortable="true" filterField="dir" :showFilterMatchModes="false">
        <template #filter="{filterModel,filterCallback}">
          <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" :placeholder="`Поиск`"/>
         </template>
      </Column>
      <Column field="profile" header="Профиль" :sortable="true" filterField="profile" :showFilterMatchModes="false">
        <template #filter="{filterModel,filterCallback}">
          <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" :placeholder="`Поиск`"/>
         </template>
      </Column>
      <Column field="course" header="Курс" :sortable="true"  filterField="course" :showFilterMenu="false">
        <template #filter="{filterModel,filterCallback}">
            <MultiSelect v-model="filterModel.value" @change="filterCallback()" :options="courses"  placeholder="Фильтр" class="p-column-filter">
            </MultiSelect>
        </template>
      </Column>
      <Column field="bc" header="Кол-во студентов (бюджет)" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus style="max-width: 55px;"/>
        </template>
      </Column>
      <Column field="vc" header="Кол-во студентов (внебюджет)" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus style="max-width: 55px;"/>
        </template>
      </Column>
      <Column field="bg" header="Кол-во групп (бюджет)" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus style="max-width: 55px;"/>
        </template>
      </Column>
      <Column field="vg" header="Кол-во групп (внебюджет)" :sortable="true">
        <template #editor="{ data, field }">
            <InputText v-model="data[field]" autofocus style="max-width: 55px;"/>
        </template>
      </Column>
      <Column :rowEditor="true"  bodyStyle="text-align:center"></Column>
      <Column header="Действия">
        <template #body="slotProps">
            <Button icon="pi pi-times" class="p-button-rounded" v-tooltip.bottom="'Удалить план'" @click="deletePlan(slotProps.data.id)"/>
        </template>
    </Column>
    </DataTable>
    <ConfirmDialog></ConfirmDialog>
  </div> 
  </div>  
</template>

<script>
  import DataTable from 'primevue/datatable';
  import Column from 'primevue/column';
  import {FilterMatchMode} from 'primevue/api';
  import InputText from 'primevue/inputtext';
  import MultiSelect from 'primevue/multiselect';
  import Button from 'primevue/button';
  import yearpanel from '@/components/base/yearpanel'
  import {mapGetters, mapActions} from 'vuex';
  import FileUpload from 'primevue/fileupload';
  import Accordion from 'primevue/accordion';
  import AccordionTab from 'primevue/accordiontab';
  import ConfirmDialog from 'primevue/confirmdialog';
  import ProgressBar from 'primevue/progressbar';
  
  export default {
    components: {
      DataTable,
      Column,
      InputText,
      MultiSelect,
      Button,
      yearpanel,
      FileUpload,
      AccordionTab,
      Accordion,
      ConfirmDialog,
      ProgressBar
    },
    created() {
      this.$watch('YEAR', () => {
         this.GET_PLANS_FROM_API({year: this.YEAR,
                                  faculty: localStorage.getItem('faculty')})
      })
    },
    data() {
      return {
        filters: {
                'shifr': {value: null, matchMode: FilterMatchMode.CONTAINS},  
                'dir': {value: null, matchMode: FilterMatchMode.CONTAINS},  
                'profile': {value: null, matchMode: FilterMatchMode.CONTAINS},  
                'qual': {value: null, matchMode: FilterMatchMode.IN},  
                'form': {value: null, matchMode: FilterMatchMode.IN},  
                'course': {value: null, matchMode: FilterMatchMode.IN},  
        },
        editingRows: [],
        activeProgress: false
      }
    },
    mounted() {
      this.GET_PLANS_FROM_API({year: this.YEAR,
                               faculty: localStorage.getItem('faculty')})
    },
    computed: {
       ...mapGetters([
       'SESSION',
       'PLANS',
       'YEAR',
       'RES_UPLOAD'
       ]),
       quals() {
        let quals = [];
        for (let i=0; i< this.PLANS.length; i++) {
          if (!quals.includes(this.PLANS[i].qual)) 
            quals.push(this.PLANS[i].qual)
        }
        return quals
       },
       forms() {
        let forms = [];
        for (let i=0; i< this.PLANS.length; i++) {
          if (!forms.includes(this.PLANS[i].form)) 
            forms.push(this.PLANS[i].form)
        }
        return forms
       },
       courses() {
        let courses = [];
        for (let i=0; i< this.PLANS.length; i++) {
          if (!courses.includes(this.PLANS[i].course)) 
            courses.push(this.PLANS[i].course)
        }
        return courses.sort()
       },
    },
    methods: {
     ...mapActions([
        'GET_PLANS_FROM_API',
        'ADD_PLANS_TO_API',
        'DELETE_PLAN_FROM_API',
        'SET_PLAN_CONTINGENT_IN_API'
     ]),
     getYear() {
      console.log(this.YEAR)
     },
     myUploader(event) {
      this.activeProgress = true;
      this.ADD_PLANS_TO_API({year: this.YEAR,
                            faculty: localStorage.getItem('faculty'),
                            files: event.files}).
      then(()=> {
        this.$refs["fileupload"].clear();
        this.activeProgress = false;
        this.GET_PLANS_FROM_API({year: this.YEAR,
                                 faculty: localStorage.getItem('faculty')})
      })
     },
     deletePlan(pId) {
      this.$confirm.require({
                message: 'Вы действительно хотите удалить учебный план? Все данные также удалятся из строк нагрузки.',
                header: 'Подтверждение',
                icon: 'pi pi-exclamation-triangle',
                acceptLabel: 'Да',
                rejectLabel: 'Нет',
                accept: () => {
                  this.DELETE_PLAN_FROM_API({"plan_id": pId})
                },
      }); 
     },
     onRowEditSave(event) {
      let { newData, index } = event;

      let vc = !isNaN(newData.vc) && newData.vc && newData.vc.toString().length > 0 ? newData.vc : 0;
      let bc = !isNaN(newData.bc) && newData.bc && newData.bc.toString().length > 0 ? newData.bc : 0;
      let vg = !isNaN(newData.vg) && newData.vg && newData.vg.toString().length > 0 ? newData.vg : 0;
      let bg = !isNaN(newData.bg) && newData.bg && newData.bg.toString().length > 0 ? newData.bg : 0;

      this.SET_PLAN_CONTINGENT_IN_API({plan_id: newData.id, bc: bc, 
                                       vc: vc, bg: bg, vg: vg})
          .then(()=>{
            newData.bc = bc;
            newData.vg = vg;
            newData.bg = bg;
            newData.vc = vc;
            this.PLANS[index] = newData;
          })
      }
    } 

  }
</script>


<style lang="scss">

  .dt {
    margin-top: 30px;
    box-shadow: 0 6px 16px #e6ebf5cc;
    font-size: 0.85rem;
  }

  .m-t-20 {
    margin-top: 20px;
  }
</style>