<template>
  <div class="home">
    <div class="drop">
    <Dropdown v-model="selectedFaculty"  :options="FACULTIES" 
     optionLabel="name" optionValue="id"
     placeholder="Выберите факультет" :filter="true" @change="onСhange()"/>
    </div>
    <div class="menu">
      <div class="header">Работа с нагрузкой</div>
      <div class="items">
        <div class="box">
          <router-link to="/plans">Учебные планы</router-link>
        </div>
        <div class="box">
          <router-link to="/contingent">Контингент</router-link>
        </div>
        <div class="box">
          <router-link to="/versions">Формирование нагрузки</router-link>
        </div>
        <div class="box">
          <router-link to="/teachers">Распределение нагрузки</router-link>
        </div>
        <div class="box">
          <router-link to="/dirs">Справочники</router-link>
        </div>
        <div class="box">
          <router-link to="/settings">Настройки</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';
import {mapGetters, mapActions} from 'vuex';

export default {
  name: 'Home',
  components: {
    Dropdown,
  },
  data() {
    return {
      selectedFaculty: null,
    }
  },
  mounted() {
    if (this.getFaculties)
      this.GET_FACULTIES_FROM_API({ids: this.getFaculties})
      .then(()=>{
        let faculty = localStorage.getItem('faculty');
        if (faculty) {
          this.selectedFaculty = parseInt(faculty);
        }
        else if (this.FACULTIES.length > 0) {
          this.selectedFaculty = this.FACULTIES[0].id
          localStorage.setItem('faculty',  this.FACULTIES[0].id)
        }
      })
  },
  computed: {
    ...mapGetters([
       'SESSION',
       'IS_AUTHENTICATED',
       'FACULTIES'
    ]),
    getFaculties() {
      let res = this.SESSION.user.roles.filter(r => r.role == 'FACULTY')
      let faculties = res.map(r => r.faculty_id);
      return faculties.join(',');
    }
  },
  methods: {
     ...mapActions([
        'GET_FACULTIES_FROM_API'
     ]),
     onСhange() {
      localStorage.setItem('faculty',  this.selectedFaculty)
     } 
  }  
}
</script>

<style lang="scss">
  $color-main: #3F51B5;
  $color-light: #d9ddf2;
  $color-text: #232636;
  // $color-items: rgba(13, 26, 63, 0.74);
  // $color-items: #2E3A82;
  $color-items: rgba(19, 24, 54, 0.85);
  $color-items-hover: #dddfee;

  .drop {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex: 200px;
    padding-right: 20px;

    .p-dropdown {
      width: 30%;
    }
  }

  .menu {
    margin: 20px 50px;

    .items {
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;

      .box {
        box-shadow: 0 6px 16px #e6ebf5cc;
        display: flex;
        min-height: 6em;
        flex-basis: 350px;
        background-color: #fff;
        margin-right: 20px;
        margin-top: 20px;

        &:hover {
          box-shadow: 0 6px 16px $color-items-hover;
        }

        a {
          font-size: 1.2rem;
          display: flex;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          text-decoration: none;
          border: none;
          padding: 2em;
          color: $color-text;}
      }
    }
  }

  .header {
    font-size: 1.5rem;
    padding-bottom: 5px;
    color: $color-text;
    border-bottom: 1px solid #eee;
  }

  @media screen and (max-width: 768px) {
    .drop {
      justify-content: center;
      .p-dropdown {
        width: 90%;
      }
    }
  }
</style>
