<template>
    <div class="cont">
        <yearpanel class="hided"/>
        <div class="container">
            <div class="bread">
              <router-link to="/">Главная</router-link>
              / Настройки
            </div>
            <h2>Настройки года обучения</h2>
            <div class="fl">
                <Dropdown v-model="selectedYear" :options="years" optionLabel="name" placeholder="Выберите год" />
                <Button class="m-l-10" label="Сохранить" @click="changeYear"/>
            </div>
        </div>
    </div>  
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import Dropdown from 'primevue/dropdown';
    import yearpanel from '@/components/base/yearpanel';
    import Button from 'primevue/button';

    export default {
        name: "Settings",
        components: {
            Dropdown,
            yearpanel,
            Button
        },
        data() {
                return {
                    selectedYear: {}
                }
        },
        mounted() {
            if (this.YEAR && this.years) {
                this.selectedYear = {"name": this.YEAR+"-"+(this.YEAR+1), "code": this.YEAR}
            }
        },
        computed: {
            ...mapGetters([
                'SESSION',
                'YEAR'
            ]),
            years() {
                let years = [];
                console.log(this.selectedYear)
                for (let i=this.YEAR-5; i<this.YEAR+10; i++) {
                    years.push({"name": i+"-"+(i+1), "code": i})
                }
                return years;
            }
        },
        methods: {
            ...mapActions([
                'CHANGE_USER_YEAR'
            ]),
            changeYear() {
                this.CHANGE_USER_YEAR({year:this.selectedYear.code})
                    .then(()=>{
                        this.$toast.add({severity:'success', summary: 'Успешно', detail:'Текущий год обновлен', life: 3000});
                    })
            }
        }
    }
</script>

<style lang="scss">
    .hided {
        display: none;
    }

    .m-l-10 {
        margin-left: 10px;
    }

    .fl {
        display: flex;
        align-items: center;
    }
</style>