<template>
 <div>
    <div class="p-d-flex p-jc-center">
        <div class="card">
            <h5 class="p-text-center name">Войти в систему</h5>
                <form @submit.prevent="onSubmit(!v$.$invalid)" class="p-fluid">
                     <div class="p-field">
                        <div class="p-float-label">
                            <InputText id="name" v-model="v$.login.$model" :class="{'p-invalid':v$.login.$invalid && submitted}" />
                            <label for="name" class="label" :class="{'p-error':v$.login.$invalid && submitted}">Логин*</label>
                        </div>
                        <small v-if="(v$.login.$invalid && submitted) || v$.login.$pending.$response" class="p-error">Логин обязателен</small>
                    </div>
                    <div class="p-field">
                        <div class="p-float-label">
                            <Password id="password" v-model="v$.password.$model" :class="{'p-invalid':v$.password.$invalid && submitted}" toggleMask :feedback="false"/>
                            <label for="password" class="label" :class="{'p-error':v$.password.$invalid && submitted}">Пароль*</label>
                        </div>
                        <small v-if="(v$.password.$invalid && submitted) || v$.password.$pending.$response" class="p-error">Пароль обязателен</small>
                    </div>
                    <span v-if="showbad" class="p-error">Неверный логин или пароль</span>
                    <Button type="submit" label="Войти" class="p-mt-2" />
                </form>
        </div>
    </div>
 </div>   	
</template>

<script>
  import {mapActions} from 'vuex'
  import { required } from "@vuelidate/validators";
  import { useVuelidate } from "@vuelidate/core";
  import InputText from 'primevue/inputtext';
  import Password from 'primevue/password';
  import Button from 'primevue/button';

  export default {
    setup: () => ({ v$: useVuelidate() }),
    components: {
      InputText,
      Button,
      Password
    },
    data() {
      return {
        login: '',
        password: '',
        submitted: false,
        showbad: false
      }
    },
    validations() {
        return {
            login: {
                required
            },
            password: {
                required
            }
        }
    },
    methods: {
      ...mapActions([
        'SIGN_IN'
      ]),	
      onSubmit(isFormValid) {
        this.submitted = true;

        if (!isFormValid) {
          return;
        }
        this.SIGN_IN({'login' :this.login, 'password': this.password}).then(() => {
            this.login = '';
            this.password = '';
            this.$router.push(this.$route.query.next || '/')    
        })
        .catch(()=> {
          this.showbad = true;
        })        
      }
    }
  }
</script>

<style lang="scss">
.name {
  font-family: 'Roboto';
  font-size: 1rem;
}

.label, .p-error {
  font-family: 'Roboto';
}

.card {
  margin-top: 30px;
  background: white;
  padding: 2rem;
  -webkit-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  margin-bottom: 2rem;
  min-width: 450px;

        form {
            margin-top: 2rem;
        }

        .p-field {
            margin-bottom: 1.5rem;
        }
}

@media screen and (max-width: 960px) {
        .card {
            width: 80%;
            min-width: 250px;
        }
    }
    
</style>